{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_blue_bar.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form method="post">

          {% include './_bar.html' %}

          <form method="post">

            <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="recoverable-reason-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
Why is this payment recoverable?
      </h1>
    </legend>
    <div id="recoverable-reason-hint" class="govuk-hint">

    </div>
    <div class="govuk-radios govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="recoverable-reason" name="recoverable-reason" type="radio" value="living-with">
        <label class="govuk-label govuk-radios__label" for="recoverable-reason">
          They live at an address with someone else who is getting a Winter Fuel Payment
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="recoverable-reason-2" name="recoverable-reason" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="recoverable-reason-2">
         They have been in hospital for over 52 weeks getting free treatment
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="recoverable-reason-3" name="recoverable-reason" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="recoverable-reason-3">
         They have been in a care home for more than 13 weeks and get Pension Credit
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="recoverable-reason-4" name="recoverable-reason" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="recoverable-reason-4">
         They are in prison
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="recoverable-reason-5" name="recoverable-reason" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="recoverable-reason-5">
         They live in a country that is ineligible for Winter Fuel Payment
        </label>
      </div>
    </div>
  </fieldset>
</div>

            <button type="submit" class="govuk-button">
              Confirm?
            </button>

          </form>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
