




{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}

<br>
<br>

    <h1 class="govuk-heading-xl">Jobs run</h1>
<p>
From <input class="govuk-input govuk-input--width-10" type="date" id="date" name="date"> to 
<input class="govuk-input govuk-input--width-10" type="date" id="date2" name="date2">
</p>
<br>

{{ govukButton ({
  html: 'Continue'
}) }}

    <form method="post">

      <table class="govuk-table">
        <caption class="govuk-table__caption"></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Job</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Start</th>
            <th scope="col" class="govuk-table__header">End</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="da-file" class="govuk-link">Data and analytics file</td></a>
            <td class="govuk-table__cell">Completed</td>
            <td class="govuk-table__cell">1 April 2021 5:21pm</td>
            <td class="govuk-table__cell">1 April 2021 6:06pm</td>
            <td class="govuk-table__cell"><span class="verified-badge verified">
          </span></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="war-pensions" class="govuk-link">War pension file</td></a>
            <td class="govuk-table__cell">In progress</td>
            <td class="govuk-table__cell">1 April 2021 6:07pm</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">
          </tr>
        </tbody>
      </table>

    </form>

  </div>
</div>


{% endblock %}
