




{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}

<br>
<br>

    <h1 class="govuk-heading-xl">Jobs run</h1>

<p>
From <input class="govuk-input govuk-input--width-10" type="date" id="date" name="date"> to 
<input class="govuk-input govuk-input--width-10" type="date" id="date2" name="date2">
</p>
<br>


<div class="govuk-input govuk-input--width-10">
From <duet-fieldset label="Valitse aikaväli">  
  <duet-grid responsive style="max-width: 480px">    
    <duet-date-picker name="startdate" class="start" expand margin="none" label="Valitse aloituspäivä" label-hidden value="2020-06-01"></duet-date-picker>    
    <duet-spacer direction="horizontal" breakpoint="small" size="x-small"></duet-spacer>    
    <duet-spacer direction="vertical" breakpoint="x-small" size="small"></duet-spacer>    
    <duet-icon class="icon-arrow" name="navigation-arrow-right" margin="none" color="currentColor" size="x-small"></duet-icon>    
    <duet-spacer direction="horizontal" breakpoint="small" size="x-small"></duet-spacer>    
    <duet-spacer direction="vertical" breakpoint="x-small" size="small"></duet-spacer>    
    To <duet-date-picker name="enddate" class="end" expand margin="none" label="Valitse lopetuspäivä" label-hidden direction="left" value="2020-06-10"></duet-date-picker>  
  </duet-grid>
</duet-fieldset>
</div>

<style>  
  .icon-arrow {    
    transform: rotate(90deg);    
    align-self: center;  
  }  
  
@media (min-width: 36em) {    
  .icon-arrow {      
    transform: rotate(0);      
    padding-top: var(--space-medium);      
    align-self: start;    
    }  
  }
</style>

<script>  
  // Select the above date picker components  
  var startPicker = document.querySelector(".start")  
  var endPicker = document.querySelector(".end")  
  var startDate, endDate  
  
  // Handle date selection  
  function handleDateSelect() {    
    if (startDate && endDate) {      
      console.log("date range selected", startDate, endDate)    
    }  
  }  
  
  // When the start date picker is changed…  
  startPicker.addEventListener("duetChange", function(e) {    
    startDate = e.detail.valueAsDate    
    endPicker.min = e.detail.value    
    
    if (!endDate) {      
      endPicker.show()    
    }    
    handleDateSelect()  
  })  
  
  // When the end date date picker is changed…  
  endPicker.addEventListener("duetChange", function(e) {    
    endDate = e.detail.valueAsDate    
    startPicker.max = e.detail.value    
    handleDateSelect()  
  })
</script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

{{ govukButton ({
  html: 'Continue'
}) }}

    <form method="post">

      <table class="govuk-table">
        <caption class="govuk-table__caption"></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Job</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Start</th>
            <th scope="col" class="govuk-table__header">End</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="da-file" class="govuk-link">Data and analytics file</td></a>
            <td class="govuk-table__cell">Completed</td>
            <td class="govuk-table__cell">1 April 2021 5:21pm</td>
            <td class="govuk-table__cell">1 April 2021 6:06pm</td>
            <td class="govuk-table__cell"><span class="verified-badge verified">
          </span></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="war-pensions" class="govuk-link">War pension file</td></a>
            <td class="govuk-table__cell">In progress</td>
            <td class="govuk-table__cell">1 April 2021 6:07pm</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">
          </tr>
        </tbody>
      </table>

    </form>

  </div>
</div>


{% endblock %}
