{% extends "layout.html" %}

{% block header %}
{% include './_header-manage.html' %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <br>
    <br>

    <h1 class="govuk-heading-xl">Manage Winter Fuel Payments</h1>

      <form method="post">

<span class="app-task-list__task-name">
                    <a href="jobs" aria-describedby="jobs-completed-in-last-7-days">
                      Jobs run in the last 7 days
                    </a>
                  </span><br><br>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <ol class="app-task-list">
            <li>
              <h2 class="app-task-list__section">
                Load files
              </h2>
              <ul class="app-task-list__items govuk-!-padding-left-0">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="da-file" aria-describedby="eligibility-completed">
                      Data and analytics file
                    </a>
                  </span>
                  <span class="app-task-list__task-time">
                    <strong class="govuk-tag govuk-tag--green">
                      completed
                    </strong>
                  </span>
                  <span class="app-task-list__task-time">
                    1 April 2021
                  </span>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="gysp" aria-describedby="read-declaration-completed">
                      Get your State Pension file
                    </a>
                  </span>
                  <span class="app-task-list__task-time">
                    <strong class="govuk-tag govuk-tag--green">
                      completed
                    </strong>
                  </span>
                  <span class="app-task-list__task-time">
                    1 April 2021
                  </span>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="war-pensions" aria-describedby="read-declaration-completed">
                      War pension file
                    </a>
                  </span>
                  <span class="app-task-list__task-time">
                  {% if data['hide-war-pensions'] != 'yes' %}
                    <strong class="govuk-tag govuk-tag--blue">
                      In progress
                    </strong>
                  {% endif %}
                  </span>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="" aria-describedby="read-declaration-completed">
                      Winter Fuel Payment System file
                    </a>
                  </span>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="" aria-describedby="read-declaration-completed">
                      Legacy file
                    </a>
                  </span>
                </li>
              </ul>
            </li>


            <li>
              <h2 class="app-task-list__section">
                Calculate entitlement
              </h2>
              <ul class="app-task-list__items govuk-!-padding-left-0">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="calculate-entitlement" aria-describedby="company-information-completed">
                      Calculate entitlement
                    </a>
                  </span>

                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="sweep" aria-describedby="company-information-completed">
                      Clean up
                    </a>
                  </span>
              </ul>
            </li>

            <li>
              <h2 class="app-task-list__section">
                Manage letters and payments
              </h2>
              <ul class="app-task-list__items govuk-!-padding-left-0">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="schedule-letters-payments" aria-describedby="company-information-completed">
                      Schedule letters and payments
                    </a>
                  </span>
              </ul>
            </li>

            <li>
              <h2 class="app-task-list__section">
                Secure data
              </h2>
              <ul class="app-task-list__items govuk-!-padding-left-0">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="calculate-entitlement" aria-describedby="company-information-completed">
                      Encrypt data
                    </a>
                  </span>

                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="sweep" aria-describedby="company-information-completed">
                      Decrypt data
                    </a>
                  </span>
              </ul>
            </li>

          </ol>

        </div>
      </div>



    </form>

  </div>
</div>


{% endblock %}
