<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container" >

    
    <div class="govuk-header__content">

      <a href="/" class="govuk-header__link govuk-header__link--service-name">
      Winter Fuel Payment
    </a>

     <div style="float:right; padding-top: 5px;">
          <p class="govuk-heading-s"><a class="govuk-header__link" href="#">GSL cases</a>
                <strong class="app-c-tag app-c-tag--danger">4</strong>
          </p>
        </div> 


    </div>

   		 <div style="float:right">
	        <input class="govuk-input form-control-search" id="input" type="text" placeholder="">
	         <a href = "" id="link" onclick="changeLink()" id="link" class="govuk-button searchheader"></a>
        </div> 







  </div>
</header>