<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container" >

    
    <div class="govuk-header__content">

      <a href="/" class="govuk-header__link govuk-header__link--service-name">
      Winter Fuel Payment
    </a>

    </div>

   		 <div style="float:right; padding-top: 5px; padding-right:10px">
	        <p class="govuk-heading-s"><a class="govuk-header__link" href="gsl">GSL cases</a>
                <strong class="app-c-tag app-c-tag--danger">4</strong>
          </p>
        </div> 







  </div>
</header>