<h2 class="govuk-heading-m">Check eligibility for Winter Fuel Payment</h2>

<span class="govuk-tag">First iteration</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">July 2019</dt>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dt class="govuk-body">SPAY-602</dt>
    </dl>
  </div></div>


<h3 class="govuk-heading-s">Research notes</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Residency screen with ‘will you be…’ questions was deemed odd & difficult
      for people to respond to as most cannot predict future. We’ve consistently
      seen this in other research sessions too, so want to revise how to approach this.
      Hospital in particular only matters if more than 52 weeks</li>
      <li>Deferred state pension content on start page - unnecessary for most users,
        and also was news to most. We want to re-think how to place this content so
        it’s only relevant for those that need it</li>
  <li>Some advice from SME that we need to review over 80 DOB against Q-week to
    ensure we don’t incorrectly advise people in the eligiblity tool</li>
</ul>

<br>

<h1 class="govuk-heading-m">Scenarios</h1>

<p class="govuk-body-m">Over State Pension age and under 80</p>

<a href="/sprint1-21/sprint20/start-page" class="govuk-button govuk-button--start">Start now</a>

<p class="govuk-body-m">Over State Pension age and over 80</p>

<a href="/sprint1-21/sprint20b/start-page" class="govuk-button govuk-button--start">Start now</a>

<p class="govuk-body-m">Under State Pension age</p>

<a href="/sprint1-21/sprint20c/start-page" class="govuk-button govuk-button--start">Start now</a>
