<h2 class="govuk-heading-m">Check eligibility and make referral</h2>

<span class="govuk-tag">Second iteration</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">July 2019</dt>
    </dl>
  </div>


  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dt class="govuk-body">SPAY-602 </dt>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Research notes</h3>
<p>
     <ul class="govuk-list govuk-list--bullet">
    <li> NINO search upfront or check verbally/ for repeat query check?</li>
    <li>G4S currently can not reveal bank details</li>
    <li>Check on benefit types upfront</li>
    <li>Declaration unexpected when they cannot actually change details - needs review</li>
    <li>G4S do complete performa for people that they haven’t directly spoken to (without security)</li>
    <li>Do we need to ask DOB for partners?</li>
    <li>POA question - confusing</li>
    <li>Confirmation - lacks reassurance of what is going to happen next per query with their money</li>
    </ul>
</p>

<h3 class="govuk-heading-s">Changes made</h3>
<p class="govuk-body">




<h1 class="govuk-heading-s">Scenarios</h1>

<p class="govuk-body-m"><strong>Bank account</strong><br></p>

<a href="/sprint18/find" class="govuk-button govuk-button--start">Start now</a>

<p class="govuk-body-m"><strong>Underpayment</strong><br>
  After Q week, over State Pension age and under 80</p>

<a href="/sprint21/start-page" class="govuk-button govuk-button--start">Start now</a>

<p class="govuk-body-m"><strong>Overpayment</strong><br>
  After Q week, over State Pension age and under 80</p>

<a href="/sprint21b/start-page" class="govuk-button govuk-button--start">Start now</a>


<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Other scenarios
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body-m"><b>Under State Pension age</b></p>

    <a href="/sprint21c/start-page" class="govuk-button govuk-button--start">Start now</a>

    <p class="govuk-body-m"><strong>Before Q week -</strong> Over State Pension age and under 80</p>

    <a href="/sprint21d/start-page" class="govuk-button govuk-button--start">Start now</a>
  </div>
</details>
