<h2 class="govuk-heading-m">Check eligibility for Winter Fuel Payment</h2>

<span class="govuk-tag">Second iteration</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">July 2019</dt>
    </dl>
  </div>


  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dt class="govuk-body">SPAY-602 </dt>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">
 No research yet.
</p>

<h3 class="govuk-heading-s">Changes made</h3>
<p class="govuk-body">
 Question added to determine if the caller is receiving State Pension.
 Content changes to where the caller was during qualifying week (residency not
 on holiday). Under State Pension age journey now has the option to forecast
 future payment based on current circumstances.
</p>


<h1 class="govuk-heading-s">Scenarios</h1>

<p class="govuk-body-m"><strong>Before Q week -</strong> Over State Pension age and under 80</p>

<a href="/sprint21d/start-page" class="govuk-button govuk-button--start">Start now</a>

<p class="govuk-body-m"><strong>After Q week -</strong> Over State Pension age and under 80</p>

<a href="/sprint21/start-page" class="govuk-button govuk-button--start">Start now</a>

<p class="govuk-body-m">Over State Pension age and over 80</p>

<a href="/sprint21b/start-page" class="govuk-button govuk-button--start">Start now</a>

<p class="govuk-body-m">Under State Pension age</p>

<a href="/sprint21c/start-page" class="govuk-button govuk-button--start">Start now</a>
