<h1 class="govuk-heading-m">"Manage jobs"</h1>

<span class="govuk-tag">First iteration</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">September 2019</dt>
    </dl>
  </div>


  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dt class="govuk-body">?</dt>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Manage things</h2>
<a href="/sprint22/manage-jobs2" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">Get your State Pension</h3>
<a href="/sprint22/gysp-filter" class="govuk-button govuk-button--start">Start now</a>
