<h2 class="govuk-heading-m">Compare results, review exceptions and work queue</h2>

<span class="govuk-tag">First iteration</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">August 2019</dt>
    </dl>
  </div>


  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dt class="govuk-body">SPAY-602</dt>
    </dl>
  </div>
</div>

<p class="govuk-body">
</p>

<a href="/sprint22/start-page" class="govuk-button govuk-button--start">Start now</a>
