<h2 class="govuk-heading-m">Check eligibility and make referral</h2>

<span class="govuk-tag">Third iteration</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">August 2019</dt>
    </dl>
  </div>


  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dt class="govuk-body">SPAY-602</dt>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">


</p>

<h3 class="govuk-heading-s">Changes made</h3>
<p class="govuk-body">

  <ul class="govuk-list govuk-list--bullet">
  <li>
    Content changes to living in the UK or overseas during Q week
  </li>
  <li>
    Removed the warning text on the declaration.
  </li>
  <li>
  Restructured living with question and split into two screens.
  </li>
</ul>
</p>


<p class="govuk-body-m"><strong>Over SPA under 80 and bank</strong><br></p>

<a href="/sprint22b/query" class="govuk-button govuk-button--start">Start now</a>

<p class="govuk-body-m"><strong>Over 80</strong><br></p>

<a href="/sprint22c/query" class="govuk-button govuk-button--start">Start now</a>

<p class="govuk-body-m"><strong>Data thingy</strong><br></p>

<a href="/sprint22/start-page" class="govuk-button govuk-button--start">Start now</a>
