<h2 class="govuk-heading-m">New claims - Telephone</h2>

<span class="govuk-tag govuk-tag--blue">First iteration</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">February 2020</dt>
    </dl>
  </div>


  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dt class="govuk-body"></dt>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-m">Research insights</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>Most of the agents would ask some
    eligibility questions before asking for
    the citizens National Insurance number.</li>
  <li>All agents said they would prefer a
scripted approach as that is what they
have now.</li>
  <li>Agents questioned if bank details
would be checked using bank wizard as
this is how they currently confirm the
bank account is valid and correct.</li>
<li>Agents currently give the caller the
payment amount based on the
information they have provided.</li>
</ul>

<a href="/sprint33a/find" class="govuk-button govuk-button--start">Start now</a>
