<h2 class="govuk-heading-m">Re-issuing payments</h2>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">October 2020</dt>
    </dl>
    <dl>
      <dt class="govuk-heading-s"><a href=https://jira.service.dwpcloud.uk/browse/SPAY-1572"">Jira</a></dt>
    </dl>
  </div>
</div>

<span class="govuk-tag govuk-tag--turquoise">Second iteration</span><br><br>
<h4 class="govuk-heading-s">UK Prototype</h4>
<a href="/sprint52b/overview-returned" class="govuk-button govuk-button--start">Start now</a><br>

<span class="govuk-tag govuk-tag--turquoise">First iteration</span><br><br>
<h4 class="govuk-heading-s">IG Prototype</h4>
<a href="/sprint51d/find" class="govuk-button govuk-button--start">Start now</a>
