<h2 class="govuk-heading-m">Debt management</h2>

<span class="govuk-tag govuk-tag--turquoise">First iteration</span>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">September 2020</dt>
    </dl>
    <dl>
      <dt class="govuk-heading-s"><a href=https://jira.service.dwpcloud.uk/browse/SPAY-1537"">Jira</a></dt>
    </dl>
  </div>
</div>


<h4 class="govuk-heading-s">Prototype</h4>
<a href="/sprint50c/debt-management-task" class="govuk-button govuk-button--start">Start now</a>
