<h2 class="govuk-heading-m">Winter Fuel specialist team</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">January 2020</dt>
    </dl>
  </div>


  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dt class="govuk-body"></dt>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-m">Record view</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>Enquiry - why am I getting this amount?</li>
  <li>Change of address resulting in a top up payment</li>
  <li>Follow up call (case history)</li>
</ul>

<h4 class="govuk-heading-s">Scenario 1 and 2</h4>
<a href="/sprint31a/find" class="govuk-button govuk-button--start">Start now</a>

<h5 class="govuk-heading-s">Scenario 3</h5>
<a href="/sprint31b/find" class="govuk-button govuk-button--start">Start now</a>
