<h2 class="govuk-heading-m">UK new claim</h2>

<span class="govuk-tag govuk-tag--green">Fourth iteration</span>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">May 2020</dt>
    </dl>
    <dl>
      <dt class="govuk-heading-s"><a href="https://trello.com/c/cbOnjKft">Trello card</a></dt>
    </dl>
  </div>
</div>

<div class="govuk-grid-column-full-width">

<ul class="govuk-list govuk-list--bullet">
  <li>Use <strong>X</strong> as <strong>x</strong></li>

</div>

<a href="/sprint35b/type-of-application" class="govuk-button govuk-button--start">Start now</a>
