<h2 class="govuk-heading-m">UK</h2>

<span class="govuk-tag govuk-tag--green">Fourth iteration</span>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">May 2020</dt>
    </dl>
    <dl>
      <dt class="govuk-heading-s"><a href="https://trello.com/c/cbOnjKft">Trello card</a></dt>
    </dl>
  </div>
</div>

<div class="govuk-grid-column-full-width">

<ul class="govuk-list govuk-list--bullet">
  <li>Use <strong>anything</strong> for phone/postal happy paths</li>
  <li>Use <strong>PX 12 24 32 A</strong> and <strong>1959</strong> for <strong>postal too young</strong></li>
  <li>Use <strong>NE65 0AP</strong> as <strong>post code</strong> for <strong>phone care home</strong></li>

</div>

<a href="/sprint35b/type-of-application" class="govuk-button govuk-button--start">Start now</a>
