<h2 class="govuk-heading-m">International</h2>

<span class="govuk-tag govuk-tag--orange">Second iteration</span>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">May 2020</dt>
    </dl>
    <dl>
      <dt class="govuk-heading-s"><a href="https://trello.com/c/fS6WZlZZ">Trello card</a></dt>
    </dl>
  </div>
</div>

<div class="govuk-grid-column-full-width">

<ul class="govuk-list govuk-list--bullet">
  <li>Use <strong>1965</strong> as birth year for <strong>too young postal journey</strong></li>
  <li>Use <strong>1964</strong> as birth year for <strong>too young phone journey</strong></li>
  <li>Use <strong>AB 12 34 57</strong> for <strong>already getting WF</strong></li>
  <li>Use <strong>HU 12 34 57</strong> for <strong>not found or unverified </strong></li>
</div>

<a href="/sprint37-international/application-type" class="govuk-button govuk-button--start">Start now</a>
