<h2 class="govuk-heading-m">Record view - Address unverified</h2>

<span class="govuk-tag govuk-tag--blue">First iteration</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">March 2020</dt>
    </dl>
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dt class="govuk-body"></dt>
    </dl>
  </div>
</div>

<a href="/sprint33c/overview-verify-address" class="govuk-button govuk-button--start">Start now</a>
