<h2 class="govuk-heading-m">Winter Fuel specialist team</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">January 2020</dt>
    </dl>
  </div>


  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dt class="govuk-body"></dt>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-m">Record view</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>Why have I been paid £100? Which bank was it paid to?</li>
  <li>I think I’ve been underpaid, as I only got paid £100, I did move house last year...</li>
</ul>

<h4 class="govuk-heading-s">Scenario 2</h4>
<a href="/sprint32e/find" class="govuk-button govuk-button--start">Start now</a>

<h4 class="govuk-heading-s">Scenario 3</h4>
<a href="/sprint32b/find" class="govuk-button govuk-button--start">Start now</a>
