<h2 class="govuk-heading-m">Payments</h2>

<span class="govuk-tag govuk-tag--turquoise">First iteration</span>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">August 2020</dt>
    </dl>
    <dl>
      <dt class="govuk-heading-s"><a href="https://jira.service.dwpcloud.uk/browse/SPAY-1645">Jira</a></dt>
    </dl>
  </div>
</div>


<h4 class="govuk-heading-s">Prototype</h4>
<a href="/sprint32c/payments" class="govuk-button govuk-button--start">Start now</a>
