<h2 class="govuk-heading-m">Ineligible records</h2>

<span class="govuk-tag govuk-tag--green">First iteration</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">March 2020</dt>
    </dl>
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dt class="govuk-body"></dt>
    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body-m"><strong><a href="/sprint35d/overview-dead" class="govuk-link">Dead</a></strong></p>
    <p class="govuk-body-m"><strong><a href="/sprint35d/overview-carehome-benefits" class="govuk-link">Care home & benefits</a></strong></p>
    <p class="govuk-body-m"><strong><a href="/sprint35d/overview-commercial" class="govuk-link">Commercial address</a></strong></p>
    <p class="govuk-body-m"><strong><a href="/sprint35d/overview-gsl" class="govuk-link">GSL not approved</a></strong></p>
    <p class="govuk-body-m"><strong><a href="/sprint35d/overview-hospital" class="govuk-link">In hospital</a></strong></p>
    <p class="govuk-body-m"><strong><a href="/sprint35d/overview-residency-ineligible-eea" class="govuk-link">Ineligible EEA</a></strong></p>
    <p class="govuk-body-m"><strong><a href="/sprint35d/overview-residency-unknown" class="govuk-link">No address</a></strong></p>
    <p class="govuk-body-m"><strong><a href="/sprint35d/overview-under-spa" class="govuk-link">Under SPA</a></strong></p>
    <p class="govuk-body-m"><strong><a href="sprint35d/overview-residency-other-country" class="govuk-link">Outside of EEA</a></strong></p>
  </div>
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body-m"><strong><a href="/sprint35d/overview-immigration-control" class="govuk-link">Under immigration control</a></strong></p>
    <p class="govuk-body-m"><strong><a href="/sprint35d/overview-invalid-residence-address" class="govuk-link">Invalid residence address</a></strong></p>
    <p class="govuk-body-m"><strong><a href="sprint35d/overview-nfa" class="govuk-link">No correspondence address</a></strong></p>
    <p class="govuk-body-m"><strong><a href="/sprint35d/overview-partner-claimant" class="govuk-link">Partner claimant</a></strong></p>
    <p class="govuk-body-m"><strong><a href="sprint35d/overview-po-box" class="govuk-link">PO box not approved</a></strong></p>
    <p class="govuk-body-m"><strong><a href="sprint35d/overview-prison" class="govuk-link">In prison</a></strong></p>
    <p class="govuk-body-m"><strong><a href="sprint35d/overview-opted-out" class="govuk-link">Opted out</a></strong></p>
    <p class="govuk-body-m"><strong><a href="sprint35d/overview-paused" class="govuk-link">Paused</a></strong></p>
  </div>
</div>
