<h2 class="govuk-heading-m">Ineligible records</h2>

<span class="govuk-tag govuk-tag--blue">Fourth iteration</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">March 2020</dt>
    </dl>
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dt class="govuk-body"></dt>
    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-s">Dead</h3>
    <a href="/sprint35d/overview-dead" class="govuk-button govuk-button--start">Start now</a>

    <h4 class="govuk-heading-s">Prison</h4>
    <a href="/sprint35d/overview-prison" class="govuk-button govuk-button--start">Start now</a>

  </div>
  <div class="govuk-grid-column-one-half">

    <h3 class="govuk-heading-s">Care home on benefits</h3>
    <a href="/sprint35d/overview-carehome-benefits" class="govuk-button govuk-button--start">Start now</a>

    <h4 class="govuk-heading-s">Hospital over 52 weeks</h4>
    <a href="/sprint35d/overview-hospital" class="govuk-button govuk-button--start">Start now</a>

    <h4 class="govuk-heading-s">Residency unknown</h4>
    <a href="/sprint35d/overview-residency-unknown" class="govuk-button govuk-button--start">Start now</a>


  </div>
</div>
