<h2 class="govuk-heading-m">Death arrears</h2>

<span class="govuk-tag govuk-tag--turquoise">First iteration</span>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">September 2020</dt>
    </dl>
    <dl>
      <dt class="govuk-heading-s"><a href=https://jira.service.dwpcloud.uk/browse/SPAY-1644"">Jira</a></dt>
    </dl>
  </div>
</div>


<h4 class="govuk-heading-s">Task prototype</h4>
<a href="/sprint43b/tasks-5" class="govuk-button govuk-button--start">Start now</a>
<br>
<h5 class="govuk-heading-s">Record view prototype</h5>
<a href="/sprint50/overview-dead" class="govuk-button govuk-button--start">Start now</a>
