<h2 class="govuk-heading-m">Winter Fuel specialist team</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">December 2019</dt>
    </dl>
  </div>


  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dt class="govuk-body"></dt>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-m">Record view</h3>

<p class="govuk-body govuk-!-font-weight-bold"></p>

<a href="/sprint30a/find" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-m">Referral in record</h3>

<p class="govuk-body govuk-!-font-weight-bold"></p>

<a href="/sprint30a/find" class="govuk-button govuk-button--start">Start now</a>
