<h2 class="govuk-heading-m">Winter Fuel specialist team</h2>

<span class="govuk-tag">First iteration</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date created</dt>
      <dt class="govuk-body">November 2019</dt>
    </dl>
  </div>


  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dt class="govuk-body"></dt>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-m">Record views</h3>

<p class="govuk-body govuk-!-font-weight-bold">Pre payment enquiries</p>

<a href="/sprint28b/find" class="govuk-button govuk-button--start">Start now</a>

<p class="govuk-body govuk-!-font-weight-bold">Change of address top up</p>

<a href="/sprint28c/find" class="govuk-button govuk-button--start">Start now</a>


<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      G4S referrals
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body govuk-!-font-weight-bold">Underpayment referral</p>

    <a href="/sprint27/get-underpayment" class="govuk-button govuk-button--start">Start now</a>

    <p class="govuk-body govuk-!-font-weight-bold">Overpayment referral</p>

    <a href="/sprint27/get-overpayment" class="govuk-button govuk-button--start">Start now</a>

    <p class="govuk-body govuk-!-font-weight-bold">No payment</p>

    <a href="/sprint27/get-nopayment" class="govuk-button govuk-button--start">Start now</a>
  </div>
</details>
