{% extends "layoutsearch.html" %}

{% block pageTitle %}
  John Brown
{% endblock %}



{% block content %}

<div class="govuk-width-container">

   <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">
          <dt class="govuk-visually-hidden">Name:</dt>
          <dd class="key-details-bar__name">John Brown</dd>

          <dt class="govuk-visually-hidden">National Insurance number:</dt>
          <dd class="key-details-bar__nino">AB 65 43 21 C</dd>

         <!--

          <dt class="visually-hidden">Claim status:</dt>
          <dd class="key-details-bar__status">Paid</dd> -->

          
        </div>

        <div class="key-details-bar__bottom-block">
          <dt>Date of birth:</dt>
          <dd>2 March 1950</dd>

          <dt>Address:</dt>
          <dd>123 Glossop Road, Little Hayfield, High Peak, TD15 2TB</dd>

        </div>
      </dl>
    </section>


  

  <main class="">

    <div class="govuk-grid-row">

     
      <div class="govuk-grid-column-two-thirds">


        <div class="tabs">
            <div class="tabs-nav">
              <ul class="tabs-list">
                <li>
                  <a href="#tab-1">
                    Payment details
                  </a>
                </li>
                <li>
                  <a href="#tab-2">
                    Bank account details
                  </a>
                </li>
              </ul>
            </div>

        <div class="tabs-content">
          <div class="tabs-panel" id="tab-1">
            <div class="tabs-panel-inner">

                       <dl class="app-check-your-answers app-check-your-answers--long">
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Payment amount
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                £100
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Circumstance
                              </dt>
                              <dd class="app-check-your-answers__answer">
                               Lives with <a href='#'onclick="goBack()">Ermintrude Thelma Louise Brown</a>
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Payment status
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                Paid
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Payment date
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                20 September 2017
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Benefits
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                State Pension 
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Reference number
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                WF12 43 65 86
                              </dd>
                            </div>
                        </dl>

                        <details class="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Show previous years
                          </span>
                        </summary>
                        <div class="govuk-details__text">

                            <h2 class="govuk-heading-m">
                              2016
                            </h2>
                         
                            <dl class="app-check-your-answers app-check-your-answers--long">
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Payment amount
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                £200
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Lives with
                              </dt>
                              <dd class="app-check-your-answers__answer">
                               
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Payment status
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                Paid
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Payment date
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                30 September 2016
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Benefits
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                State Pension
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Reference number
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                WF12 32 43 44
                              </dd>
                            </div>
                        </dl>

                        <h2 class="govuk-heading-m">
                              2015
                            </h2>
                         
                            <dl class="app-check-your-answers app-check-your-answers--long">
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Payment amount
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                £200
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Circumstance
                              </dt>
                              <dd class="app-check-your-answers__answer">
                               
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Payment status
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                Paid
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Payment date
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                21 December 2016
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Benefits
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                State Pension
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Reference number
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                WF12 23 43 44
                              </dd>
                            </div>
                        </dl>


                        </div>
                      </details>

              
            </div>
          </div>  


            <div class="tabs-panel" id="tab-2">
            <div class="tabs-panel-inner">
             

                        <dl class="app-check-your-answers app-check-your-answers--long">
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Account holder
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                John Brown
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Sort code
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                12 53 45
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Account number
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                124 562 365 523
                              </dd>
                            </div>
                        </dl>



            </div>
          </div>
        </div>




      </div>

   </div>

      <div class="govuk-grid-column-one-third">
          <div class="invoicesummary">

             <p>
               <strong class="app-c-tag app-c-tag--success">paid</strong>
             </p>
             

              <ul class="govuk-list">
                <li>
                  <a style="font-weight: 700;" class="govuk-link" href="#">Make a top up payment</a>
                </li>
                <li>
                  <a style="font-weight: 700;" class="govuk-link" href="#">Mark as an overpayment</a>
                </li>
              </ul>
         
         </div>

      </div>


    </div>

  </main>
</div>


{% endblock %}

