{% extends "layoutsearch.html" %}

{% block pageTitle %}
  Select who lived at the address
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a class="govuk-back-link" href='#'onclick="goBack()">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Select who lived at 123 Glossop Road on 6 September 2018</h1>
       
           <form action="checkanswers_topup" method="post" class="form"> 

            <!--  <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show full address
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p>123 Glossop Road,<br>
                      Little Hayfield,<br>
                      High Peak,<br>
                      TD15 2TB<p>
                </div>
              </details> -->
            

           <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  
                </h1>
              </legend>
              <span id="waste-hint" class="govuk-hint">
                
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="john" name="waste" type="checkbox" value="John Brown" onChange="change_link3();">
                  <label class="govuk-label govuk-checkboxes__label" for="john">
                   John Brown
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ermintrude" name="waste" type="checkbox" value="Ermintrude Thelma Louise Brown" onChange="change_link3();">
                  <label class="govuk-label govuk-checkboxes__label" for="ermintrude">
                    Ermintrude Thelma Louise Brown
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <p><i class="fas fa-plus"></i><a href="#"> Add person</a></p>

          </form>     

          <div id='buttonChange3'>
            <a href = '#'><input type='submit' value='Continue' class='govuk-button'></a>
          </div>

                   

      </div>
    </div>

  </main>
</div>


<script>



</script>  

{% endblock %}


