{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="/sprint20/benefits" method="post">

          <a href="/sprint20/residency" class="govuk-back-link">Back</a>
          <br>
          <br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  How long in hospital?
                </h1>
              </legend>
              <span id="changed-name-hint" class="govuk-hint">
                Hint text
              </span>

<p> Radio, before or after date <br>
    Or date input? </p>

            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>

      </div>


    </div>

</div>

</main>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
