{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include './_blue_bar.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: back
          }) }}

        <form method="post">

          <h2 class="govuk-heading-l">What is the first line of your address?</h2>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    27 Kent Street
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    The address is not listed
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>

        </form>


      </div>

    </div>

</div>
</main>
</div>

{% endblock %}
