{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {{ govukBackLink({
              text: "Back",
              href: back
            }) }}

          <br>
          <br>

          <div class="govuk-panel govuk-panel--confirmation">
                    <div class="govuk-panel__body">
                    <strong>You'll qualify for a Winter Fuel Payment of £100</strong>
                    </div>
                  </div>

                  <p>For winter 2019, we'll work out your payment during the week
                     of 16 to 22 September 2019. This is called the 'qualifying week'.</p>

            <p>Based on your answers, you'll get £100 because you'll be under 80 and
              living with someone of State Pension age during qualifying week.</p>

              <button type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                Find the caller's record
              </button>


      </div>



    </div>

</div>
</main>
</div>

{% endblock %}
