{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


                  <form method="post">

                    <div>
                      <h1 class="govuk-heading-xl">
                        Izabela Regan<br>
                        <span class="govuk-body-l">
                          {% if data['nino'] %}
                          {{data['nino']}}
                          {% else %}
                          XX 12 34 56
                          {% endif %}<br>
                          <strong class="govuk-tag govuk-tag--orange">
                            PO box not approved
                          </strong>
                        </span>
                      </h1>
                    </div>

                        {{ govukBackLink({
                            text: "Back",
                            href: "javascript:history.go(-1)"
                          }) }}

                        <br>
                        <br>

                        <form method="post">

                              <h2 class="govuk-heading-l">Why could you not fix the address? 🚧</h2>

                                <div class="govuk-form-group">
                                  <fieldset class="govuk-fieldset">
                                    <div class="govuk-radios">
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="where-do-you-live" name="return-queue" type="radio" value="">
                                        <label class="govuk-label govuk-radios__label" for="address">
                                          Not enough time to fix the problem
                                        </label>
                                      </div>
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="where-do-you-live-3" name="return-queue" type="radio" value="Address not found">
                                        <label class="govuk-label govuk-radios__label" for="address-3">
                                          Citizen did not answer the phone
                                        </label>
                                      </div>
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="where-do-you-live-3" name="return-queue" type="radio" value="Address not found">
                                        <label class="govuk-label govuk-radios__label" for="address-3">
                                          No valid contact details for the citizen
                                        </label>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>

                          <button type="submit" class="govuk-button">
                            Continue
                          </button>

                        </form>





<br>


      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
