{% extends "layout.html" %}

{% block content %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}


  <br>
  <br>


<form method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">PO box addresses 🚧</h1>

        <h3 class="govuk-heading-l"> 578
        <p class="govuk-body govuk-!-font-size-24">cases</p></h3>

        <button class="govuk-button" data-module="govuk-button">
          SOMETHING an address 🚧
        </button>

</div>
</div>

</form>


{% endblock %}
