{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Ineligible record views</h1>

<h2 class="govuk-heading-m">Links to prototype</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body-m"><strong><a href="overview-dead" class="govuk-link">Dead</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-carehome-benefits" class="govuk-link">Care home & benefits</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-commercial" class="govuk-link">Commercial address</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-gsl" class="govuk-link">GSL not approved</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-hospital" class="govuk-link">In hospital</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-residency-ineligible-eea" class="govuk-link">Ineligible EEA</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-residency-unknown" class="govuk-link">No address</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-under-spa" class="govuk-link">Under SPA</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-residency-other-country" class="govuk-link">Outside of EEA</a></strong></p>
  </div>
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body-m"><strong><a href="overview-immigration-control" class="govuk-link">Under immigration control</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-invalid-residence-address" class="govuk-link">Invalid residence address</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-nfa" class="govuk-link">No correspondence address</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-partner-claimant" class="govuk-link">Partner claimant</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-po-box-2" class="govuk-link">PO box not approved</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-prison" class="govuk-link">In prison</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-opted-out" class="govuk-link">Opted out</a></strong></p>
    <p class="govuk-body-m"><strong><a href="overview-paused" class="govuk-link">Paused</a></strong></p>
  </div>
</div>

    </div>

</div>

</main>
</div>

{% endblock %}
