.govuk-panel--agent {
 background-color:#fff;
 border: 200px;
 border-color: govuk-colour("blue");
 border-style: solid;
 border-width: 0px 0px 0px 15px;
 padding-left: 30px;
 margin-bottom:0;
}

.agent-action{
   color: govuk-colour("black");
}
