$govuk-global-styles: true;

.app-homepage-top {
  background-color:  govuk-colour('blue');
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  .app-homepage-top--heading {
    color: govuk-colour('white');
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 40px;
  }

  .app-homepage-top--span {
    color: govuk-colour('white');
    display: block;
    font-size: .7em;
    font-weight: normal;
    padding-bottom: 40px;
    padding-top: 20px;
  }

  .app-homepage-top--content {
    margin: auto;
    max-width: 960px;
    width: 100%;
  }
}
