$govuk-global-styles: true;

.app-timeline {
  border-left: 3px solid govuk-colour('blue');
  list-style-type: none;
  padding-left: 0;

  .app-timeline__entry {
    margin: 2em 0;
    padding-left: 1em;
    position: relative;

    &::before {
      background-color: govuk-colour('blue');
      content: ' ';
      height: 3px;
      left: 0;
      position: absolute;
      top: .5em;
      width: 10px;
    }

    .app-timeline__author,
    .app-timeline__date {
      color: $govuk-secondary-text-colour;
      display: block;
    }

    .app-timeline__info {
      margin-top: 0;
    }

    .app-timeline__body {
      display: block;
    }
  }
}
