.verified-badge {
    color: #6f777b;
    float: left;
    font-size: .8em;
    margin: .4em 0 0;
    position: relative;
  }

  .verified::before {
    background-image: url("/public/images/icon-verified.svg");
    background-repeat: no-repeat;
    content: '';
    height: 1.1em;
    left: -1.3em;
    position: absolute;
    top: 0;
    width: 1em;
  }
