{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          <a href="/sprint22c/residency-type" class="govuk-back-link">Back</a>
          <br>
          <br>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

              <h1 class="govuk-heading-l">Were you admitted to hospital after 15 September 2017?</h1>

<br>

              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="yes" name="hospital-admission" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label> </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no" name="hospital-admission" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="no">
                    No
                  </label> </div>
              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>

      </div>


    </div>

</div>

</main>
</div>

{% endblock %}
