{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}

{% include './_blue_bar.html' %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form method="post">

          <div class="govuk-panel--agent">
            <span id="changed-name-hint" class="govuk-hint">
              Read to caller
              <h2 class="govuk-heading-l">Content?</h2>
            </span>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

              <div class="govuk-form-group">
                <label class="govuk-label" for="width-5">
                  House number or name
                </label>
                <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="width-5">
                  Postcode
                </label>
                <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
              </div>

            </fieldset>
          </div>



          <button type="submit" class="govuk-button">
            Continue
          </button>

        </form>


      </div>

    </div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
