{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          <a href="/sprint21/date-of-birth" class="govuk-back-link">Back</a>
          <br>
          <br>

<h1 class="govuk-heading-l">You are too young to get a Winter Fuel Payment</h1>

    <p>  You qualify for a Winter Fuel Payment if you were born on or before 5 April 1954.</p>

<h3 class="govuk-heading-m">If you’re on a low income</h3>

<p class="govuk-body">  You may be able to apply directly to your electricity supplier for help through the Warm Home Discount Scheme if:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>your energy supplier is part of the scheme</li>
  <li>you’re on a low income</li>
  <li>you get certain means-tested benefits</li>
</ul>

<br>
<p>
  To get the discount you’ll need to stay with your supplier until it’s paid.
</p>

<p>For more information and how to apply<br>
<b>www.gov.uk/the-warm-home-discount-scheme/low-income</b>
</p>

</div>


    </div>

</div>

</main>
</div>

{% endblock %}
