{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


                  <form method="post">

                    {% include './_bar_address.html' %}

                        {{ govukBackLink({
                            text: "Back",
                            href: "javascript:history.go(-1)"
                          }) }}

                        <br>
                        <br>

                        <form method="post">

                              <h2 class="govuk-heading-l">Select a verified address</h2>

                              <table class="govuk-table">
                                <tbody class="govuk-table__body">
                                  <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Address</th>
                                    <td class="govuk-table__cell govuk-!-width-one-half">
                                      Victoria Road<br>
                                      FALKIRK<br>
                                      FK55</td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Home telephone number</th>
                                    <td class="govuk-table__cell">01010 010101</td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Mobile number</th>
                                    <td class="govuk-table__cell">98989898989</td>
                                  </tr>
                                </tbody>
                              </table>


                                <div class="govuk-form-group">
                                  <fieldset class="govuk-fieldset">
                                    <div class="govuk-radios">
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="where-do-you-live" name="address-change" type="radio" value="27 Victoria Road, FALKIRK, FK55 0LZ">
                                        <label class="govuk-label govuk-radios__label" for="address">
                                          27 Victoria Road, FALKIRK, FK55 0LZ
                                        </label>
                                      </div>
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="where-do-you-live-3" name="address-change" type="radio" value="Address not found">
                                        <label class="govuk-label govuk-radios__label" for="address-3">
                                          The address has not been found
                                        </label>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>

                          <button type="submit" class="govuk-button">
                            Continue
                          </button>

                        </form>





<br>


      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
