{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

                    {% include './_bar_address.html' %}

                    {{ govukBackLink({
                        text: "Back",
                        href: "javascript:history.go(-1)"
                      }) }}

                      <br>

            <h2 class="govuk-heading-l">This address is not complete</h2>

<br>

            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Address</th>
                  <td class="govuk-table__cell govuk-!-width-one-half">
                    Victoria Road<br>
                    FALKIRK<br>
                    FK55</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Home telephone number</th>
                  <td class="govuk-table__cell">01010 010101</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mobile number</th>
                  <td class="govuk-table__cell">98989898989</td>
                </tr>
              </tbody>
            </table>

            <br>

            <h2 class="govuk-heading-m">Enter house number and postcode</h2>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">


                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-10">
                    House number or name
                  </label>
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-5">
                    Postcode
                  </label>
                  <input class="govuk-input govuk-input--width-5" id="postcode" name="postcode" type="postcode">
                </div>

              </fieldset>
            </div>

            <button type="submit" class="govuk-button">
              Find address
            </button>


      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
