{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          <div class="moj-banner">

            <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
              <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
              C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" /></svg>

            <div class="moj-banner__message">
              <span class="moj-banner__assistive">information</span>
              <strong>This address is not complete</strong><br>
              Victoria Road<br>
              FALKIRK<br>
              FK55<br>

              <a href="#" class="govuk-link">Complete this address</a>

            </div>

          </div>

          {% include './_bar_address.html' %}

          {% include './_tab-contact-verify-address.html' %}

          <br>
          <br>

          <table class="govuk-table">
            <h2 class="govuk-heading-m">Contact details</h2>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Home telephone</th>
                <td class="govuk-table__cell">
                  {% if data['homephone-remove'] === 'Yes' %}
                  {% elseif data.homephone %}
                  {{data.homephone}}
                  {% else %}
                  01665 720 871
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="homephone">
                    Change<span class="govuk-visually-hidden"> home phone number</span>
                  </a>

                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Mobile</th>
                <td class="govuk-table__cell">
                  {% if data.mobilenumber %}
                  {{data.mobilenumber}}
                  {% endif %}
                  {% if data['mobilephone-remove'] === 'Yes' %}
                  {% elseif data.mobilephone %}
                  {{data.mobilephone}}
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="mobilephone">
                    {% if not data.mobilenumber %}
                    Add<span class="govuk-visually-hidden"> mobile number</span>
                    {% else %}
                    Change<span class="govuk-visually-hidden"> mobile number</span>
                    {% endif %}
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Work telephone</th>
                <td class="govuk-table__cell">
                  {% if data.worknumber %}
                  {{data.worknumber}}
                  {% endif %}
                  {% if data['workphone-remove'] === 'Yes' %}
                  {% elseif data.workphone %}
                  {{data.workphone}}
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="workphone">
                    {% if not data.worknumber %}
                    Add<span class="govuk-visually-hidden"> work number</span>
                    {% else %}
                    Change<span class="govuk-visually-hidden"> work number</span>
                    {% endif %}
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email address</th>
                <td class="govuk-table__cell">
                  {% if data['email-remove'] === 'Yes' %}
                  {% elseif data.email %}
                  {{data.email}}
                  {% else %}
                dora-best@hotmail.com
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="email">
                    Change<span class="govuk-visually-hidden">email</span>
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Correspondence address</th>
                <td class="govuk-table__cell">
                </td>
                <td class="govuk-table__cell">
                  <a href="address">
                    Add
                    <span class="govuk-visually-hidden">Change address</span>
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Contact preferences</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">
                  <a href="">
                    {% if not data.contactpreferences %}
                    Add <span class="govuk-visually-hidden">contact preferences</span>
                    {% else %}
                    Change <span class="govuk-visually-hidden">contact preferences</span>
                    {% endif %}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
