{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          <div class="moj-banner">

            <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
              <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
              C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" /></svg>

            <div class="moj-banner__message">
              <span class="moj-banner__assistive">information</span>
              <strong>This address is not complete</strong><br>
              Victoria Road<br>
              FALKIRK<br>
              FK55<br>

              <a href="address" class="govuk-link">Complete this address</a>

            </div>

          </div>

          {% include './_bar_address.html' %}

          {% include './_tab-overview-verify-address.html' %}

          <br>


          <br>

          <table class="govuk-table">
            <h2 class="govuk-heading-m">Qualification details</h2>
            <a href="address" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 80%">Update details</span>
            </a>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Age</th>
                <td class="govuk-table__cell">66</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of birth</th>
                <td class="govuk-table__cell">9 August 1953</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell">
                  {% if data['address-change'] %}
                  {{data['address-change'].split(', ').join('<br />') | safe }}
                  {% elif data.address %}
                  {{data.address.split(', ').join('<br />') | safe}}
                  {% else %}
                  Victoria Road<br>
                  FALKIRK<br>
                  FK55
                  {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Occupancy</th>
                <td class="govuk-table__cell">
                  {% if data['living-with'] %}
                  {{data['living-with']}}
                  {% else %}
                  We might not know
                  {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date they moved in</th>
                <td class="govuk-table__cell">
                  We might not know this either
                </td>
              </tr>
            </tbody>
          </table>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
