<h2 class="govuk-heading-m">
  Action history
</h2>
<ol class="app-timeline">

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      £200 payment returned
    </h3>

    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden">Payment returned</span>
      <span class="app-timeline__date">
        11 November 2020
      </span>
    </p>
  </li>

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      £200 payment made
    </h3>

    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden">Payment made</span>
      <span class="app-timeline__date">
        4 November 2020
      </span>
    </p>
  </li>

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      £200 payment made
    </h3>

    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden">Payment made</span>
      <span class="app-timeline__date">
        20 November 2019
      </span>
    </p>
  </li>


  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Mobile phone changed
    </h3>

    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden">Mobile phone changed</span>
      <span class="app-timeline__date">
        9 June 2019
      </span>
    </p>
  </li>

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Bank account changed
    </h3>

    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden">Bank account changed</span>
      <span class="app-timeline__date">
        5 January 2018
      </span>
    </p>
  </li>

  <li class="app-timeline__entry">
    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-content"><a href="history">More history</a></span>
    </p>
  </li>

</ol>
