{% extends "layout.html" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Find ... search?</h1>

    <form method="post">

    <h2 class="govuk-heading-l">Filter</h2>

    <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          
        </h1>
      </legend>


      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
          <label class="govuk-label govuk-checkboxes__label" for="organisation">
            Update case
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
            Complete address
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
            Calculate eligibility
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
            Evaluate related cases
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
            Calculate entitlement
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
            Send letter
          </label>
        </div>

      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Status
      </h1>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
          In progress
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Completed
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
         Error
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Decision needed
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Suspended
        </label>
      </div>
    </div>
  </fieldset>
</div>

  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>

</form>

  </div>
</div>


{% endblock %}
