{% extends "layout.html" %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-jobs2">Check and update</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="check-cases">Check cases</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Eligible cases</li>
  </ol>
</div>

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}


  <br>
  <br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Eligible cases</h1>

        <span class="govuk-caption-l">Total cases</span>
        <h2 class="govuk-heading-l">10.64 million</h2>

<h2 class="govuk-heading-l">Under 80</h2>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <section class="key-details-bar-black" role="contentinfo" aria-label="Key details">
          <dl class="key-details-bar-black__key-details">
            <span class="govuk-caption-l">Total under 80 <br>
              cases</span>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">8 million</h2>
          </dl>
        </section>
      </div>
  <div class="govuk-grid-column-one-third">
    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <span class="govuk-caption-l"><a href="eligible">Shared payment
          <br>£100</a></span>
        <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="eligible">4.4 million</a></h2>
      </dl>
    </section>
  </div>
  <div class="govuk-grid-column-one-third">
    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <span class="govuk-caption-l"><a href="eligible">Full payment <br>
          £200</a></span>
        <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="eligible">3.6 million</a></h2>
      </dl>
    </section>
  </div>
</div>

<br>
<br>

<h3 class="govuk-heading-l">Over 80</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
  <section class="key-details-bar-black" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar-black__key-details">
      <span class="govuk-caption-l">Total over 80 cases</span>
      <h2 class="govuk-heading-l govuk-!-margin-bottom-0">3.1 million</h2>
    </dl>
  </section>
  </div>
<div class="govuk-grid-column-one-quarter">
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <span class="govuk-caption-l"><a href="eligible">Shared over 80 payment
      <br>£150</a></span>
    <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="eligible">849,098</a></h2>
  </dl>
</section>
</div>
<div class="govuk-grid-column-one-quarter">
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <span class="govuk-caption-l"><a href="eligible">Shared under 80 payment
      <br>£200</a></span>
    <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="eligible">457,940</a></h2>
  </dl>
</section>
</div>
<div class="govuk-grid-column-one-quarter">
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <span class="govuk-caption-l"><a href="eligible">Full payment
      <br>£300</a></span>
    <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="eligible">1.8 million</a></h2>
  </dl>
</section>
</div>
</div>

  </div>

</div>


{% endblock %}
