{% extends "layout.html" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Review exceptions</h1>

    <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">
          <dd class="key-details-bar__name govuk-!-font-size-48">208</dd>
        </div>
        <div class="key-details-bar__bottom-block">
      <a href="#" class="govuk-link govuk-!-font-size-27">Complete address</a>
        </div>
      </dl>
    </section>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">
          <dd class="key-details-bar__name govuk-!-font-size-48">98</dd>
        </div>
        <div class="key-details-bar__bottom-block">
      <a href="#" class="govuk-link govuk-!-font-size-27">Calculate entitlement</a>
        </div>
      </dl>
    </section>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">
          <dd class="key-details-bar__name govuk-!-font-size-48">48</dd>
        </div>
        <div class="key-details-bar__bottom-block">
      <a href="#" class="govuk-link govuk-!-font-size-27">Evaluate related cases</a>
        </div>
      </dl>
    </section>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">
          <dd class="key-details-bar__name govuk-!-font-size-48">22</dd>
        </div>
        <div class="key-details-bar__bottom-block">
      <a href="#" class="govuk-link govuk-!-font-size-27">Send<br> letter</a>
        </div>
      </dl>
    </section>
  </div>
</div>

    <br>
    <br>

    <form method="post">

    <h2 class="govuk-heading-l">Filter</h2>

    <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Stage
        </h1>
      </legend>


      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
          <label class="govuk-label govuk-checkboxes__label" for="organisation">
            Update case
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
            Complete address
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
            Calculate eligibility
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
            Evaluate related cases
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
            Calculate entitlement
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
            Send letter
          </label>
        </div>

      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Status
      </h1>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
          In progress
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Completed
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
         Error
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Decision needed
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Suspended
        </label>
      </div>
    </div>
  </fieldset>
</div>


<a href="/sprint22/exceptions-result" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Continue
</a>

</form>

  </div>
</div>


{% endblock %}
