{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-xl">Fix exceptions</h2>

    <a href="#" class="govuk-back-link">Back</a>

    <br>
    <br>

    <div class="moj-filter-layout">

      <div class="moj-filter-layout__filter">

        <div class="moj-filter">

          <div class="moj-filter__header">

            <div class="moj-filter__header-title">
              <h2 class="govuk-heading-m">Filter</h2>
            </div>

            <div class="moj-filter__header-action">

            </div>

          </div>

          <div class="moj-filter__content">

            <div class="moj-filter__selected">

              <div class="moj-filter__selected-heading">

                <div class="moj-filter__heading-title">
                  <h2 class="govuk-heading-m">Selected filters</h2>
                </div>

                <div class="moj-filter__heading-action">
                  <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
                </div>

              </div>

            </div>

            <div class="moj-filter__options">

              <button type="submit" class="govuk-button" data-module="govuk-button">
                Apply filters
              </button>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="keywords">
                  Location
                </label>

                <input class="govuk-input" id="keywords" name="keywords" type="text">
              </div>

              <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      Status
                  </legend>

                  <div class="govuk-checkboxes govuk-checkboxes--small">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="type-2">
                        In progress (32)
                      </label>

                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">
                        Completed (4)
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">
                        Error (9)
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">
                        Decision needed (2)
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">
                        Suspended (7)
                      </label>
                    </div>

                  </div>
                </fieldset>

                <br>

                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      Stage
                  </legend>

                  <div class="govuk-checkboxes govuk-checkboxes--small">

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="type-2">
                        Update case (13)
                      </label>

                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">
                        Complete address (2)
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">
                        Calculate eligibility (2)
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">
                        Evaluate related cases (2)
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">
                        Calculate entitlement (2)
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">
                        Send letter (2)
                      </label>
                    </div>

                  </div>
                </fieldset>

              </div>


            </div>

          </div>

        </div>

      </div>

      <div class="moj-filter-layout__content">

        <div class="moj-action-bar">

          <div class="moj-action-bar__filter"></div>

        </div>

        <div class="moj-scrollable-pane">

          <div class="moj-scrollable-pane__wrapper">

            <table class="govuk-table">

            <thead class="govuk-table__head">
            <tr class="govuk-table__row">

              <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>

              <th scope="col" class="govuk-table__header" aria-sort="none">Date</th>

              <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Amount</th>

            </tr>
            </thead>

            <tbody class="govuk-table__body">

            <tr class="govuk-table__row">

              <td class="govuk-table__cell">Adam Smith</td>

              <td class="govuk-table__cell" data-sort-value="1568847600000">19 September 2019</td>

              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="59">£59</td>

            </tr>

            <tr class="govuk-table__row">

              <td class="govuk-table__cell">Benjamin Franklin</td>

              <td class="govuk-table__cell" data-sort-value="1516233600000">18 January 2018</td>

              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="45">£45</td>

            </tr>

            <tr class="govuk-table__row">

              <td class="govuk-table__cell">Jane Benn</td>

              <td class="govuk-table__cell" data-sort-value="1004572800000">1 November 2001</td>

              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2000">£2000</td>

            </tr>

            </tbody>
            </table> 

            <nav class="moj-pagination" id="pagination-label">

<p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

<ul class="moj-pagination__list">

<li class="moj-pagination__item moj-pagination__item--active">1</li>

<li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=2">2</a></li>

<li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3">3</a></li>

<li class="moj-pagination__item  moj-pagination__item--next">
  <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
</li>
</ul>
<p class="moj-pagination__results">Showing <b>10</b> to <b>20</b> of <b>30</b> results</p>
</nav>

          </div>

        </div>
      </div>

    </div>

  </div>
</div>


{% endblock %}
