{% extends "layout.html" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Review exceptions</h1>

    <form method="post">

      <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Filter by
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--small">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
            <label class="govuk-label govuk-radios__label" for="changed-name">
              All cases
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              Get your State Pension cases
            </label>
          </div>
        </div>
      </fieldset>
    </div>

<a href="/sprint22/exceptions-result-v1" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Continue
</a>

</form>

  </div>
</div>


{% endblock %}
