{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          text: "Back",
          href: back
        }) }}

        <br>
        <br>

      <div>
        <h1 class="govuk-heading-xl">
          AA 12 34 56 X<br>
          <span class="app-c-tag">Eligible</span>
      </div>

        <br>




            </div>
          </div>
        </main>




    </div>

  </div>

</div>

</main>
</div>

{% endblock %}
