{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
        text: "Back",
        href: back
      }) }}

<br>
<br>

    <h1 class="govuk-heading-xl">War Pension file</h1>

    <form method="post">

      <button class="govuk-button govuk-button--warning" data-module="govuk-button">
        Stop
      </button>

      <table class="govuk-table">
        <caption class="govuk-table__caption">Job Status</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Stage</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Write count</th>
            <th scope="col" class="govuk-table__header">Start time</th>
            <th scope="col" class="govuk-table__header">End time</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Update case</td>
            <td class="govuk-table__cell">Complete</td>
            <td class="govuk-table__cell">1,403</td>
            <td class="govuk-table__cell">17:21</td>
            <td class="govuk-table__cell">18:06</td>
            <td class="govuk-table__cell"><span class="verified-badge verified">
          </span></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Verify address</td>
            <td class="govuk-table__cell">In progress</td>
            <td class="govuk-table__cell">1,291</td>
            <td class="govuk-table__cell">18:07</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">
          </tr>
        </tbody>
      </table>

    </form>

  </div>
</div>


{% endblock %}
