{% extends "layout.html" %}

{% block header %}
{% include './_header-tasks.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form method="post">


                    <div class="moj-banner moj-banner--success">

                      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/1000/svg" viewBox="0 0 25 25" height="25" width="25">
                        <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" /></svg>

                      <div class="moj-banner__message">
                        <span class="moj-banner__assistive">Success</span>Case returned to queue</div>

                    </div>

                    <br>

          <h1 class="govuk-heading-xl">Tasks</h1>


          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="tasks">Addresses</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="tasks-2">Account details</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="tasks-3">GSLs</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="tasks-4">Overpayments</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" aria-current="page" href="tasks-5">Death arrears</a>
            </li>
            </ul>

            </nav>


                    <h1 class="govuk-heading-l">Death arrears</h1>

                    <h3 class="govuk-heading-l"> 140
                      <p class="govuk-body govuk-!-font-size-24">cases</p>
                    </h3>

                    <button class="govuk-button" data-module="govuk-button">
                      Get next death arrears case
                    </button>


        </form>


      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
