{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <div>
          <h1 class="govuk-heading-xl">
            Debt taskz<br>
          </h1>
        </div>


        <button class="govuk-button" data-module="govuk-button">
          Get next task
        </button>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
