{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          <a href="/sprint21/claimed" class="govuk-back-link">Back</a>
          <br>
          <br>

          <h1 class="govuk-heading-l">You need to make a claim for Winter Fuel Payment</h1>

          <p>
            Anyone who has delayed getting their State Pension must call <br>
            0800 123 445 to make a claim for Winter Fuel Payment.
          </p>


          <p class="govuk-body">You will need to know:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>your National Insurance number</li>
            <li>your bank or building society details</li>
            <li>the date you were married or entered into a civil partnership (if appropriate)</li>
          </ul>


      </div>


    </div>

</div>
</main>
</div>

{% endblock %}
