{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          <h1 class="govuk-heading-l">What can I help you with?</h1>


          <h2 class="govuk-heading-m">Check eligibility</h2>

          <p class="govuk-body">govuk-body</p>

          <a href="/sprint22b/start-page" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Start now
          </a>

          <h2 class="govuk-heading-m">Check record</h2>

          <p class="govuk-body">govuk-body</p>

          <a href="/sprint22a/find" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Check record
          </a>

      </div>

    </div>


    </main>

</div>


{% endblock %}

{% block content %}

{% endblock %}
