{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form method="post">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div>
                <h1 class="govuk-heading-xl">
                  Mabel Mora<br>
                  <span class="govuk-body-l">
                    XX 62 31 26 C
                  </span>
              </div>

            </div>
          </div>

           
                       
<form>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">Are you sure you want to remove this case from the queue?</h1>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input id="yes" type="radio" name="delete" class="govuk-radios__input" value="Yes">
          <label class="govuk-radios__label" for="yes">Yes</label>
        </div>
        <div class="govuk-radios__item">
          <input id="no" type="radio" name="delete" class="govuk-radios__input" value="No">
          <label class="govuk-radios__label" for="no">No</label>
        </div>
      </div>
    </fieldset>
  </div>
  <button type="submit" class="govuk-button">Continue</button>
</form>

            

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
