{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_blue_bar.html' %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          <a href="/sprint21/residency" class="govuk-back-link">Back</a>
          <br>
          <br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

           <h1 class="govuk-heading-l">Check information</h1>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Address
                  </dt>
                  <dd class="govuk-summary-list__value">
                      4 Potato close<br />
                      Vegetable Street<br />
                      TM07 7TO
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">Address</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Occupants
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Living with somebody born before 6 November 1953
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> date of birth</span>
                    </a>
                  </dd>
                </div>
              </dl>

              <p>By submitting this change, you agree that:<br>
              <ul class="govuk-list govuk-list--bullet">
              <li>the information you've given is complete and correct</li>
              <li>to tell Department for Work and Pensions (DWP) straight away if your circumstances change </li>
              <li>DWP can ask you to pay back any recoverable overpayment of Winter Fuel Payment</li>
              </ul>
              </p>

              <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              You could be prosecuted or have to pay a penalty if you give wrong or incomplete
              information, or if you don't report changes straight away.
              </strong>
              </div>

            </fieldset>

            <button type="submit" class="govuk-button">
              Caller agrees - send to DWP
            </button>

          </div>

      </div>


    </div>

</div>

</main>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
