{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {{ govukBackLink({
              text: "Back",
              href: "javascript:history.go(-1)"
            }) }}

            <br>
            <br>

          <div class="govuk-form-group">


           <h1 class="govuk-heading-xl">Make a claim</h1>

           <p>Make a claim by calling the Winter Fuel Payment Centre.</p>
            <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                You cannot make a claim until 1 August 2020.
              </strong>
            </div>

           <h3 class="govuk-heading-s">Winter Fuel Payment Centre</h3>
           <p><b>Telephone: </b>0800 731 0160<br>
              <b>Textphone:</b> 0800 731 0464<br>
              Monday to Friday, 8am to 6pm</p>


<p><a href="#" class="govuk-link govuk-link--no-visited-state">LINK to continue if you have claimed and want a forecast?</a>
  </p>

           <h3 class="govuk-heading-m">What happens next</h3>
           <p>Your payment will be made in November or December.</p>
           <p>Once you have received a Winter Fuel Payment you'll continue to get a payment every year without having to make another claim.</p>


           </form>
          </div>
      </div>
    </div>

</main>
</div>

{% endblock %}
