{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {% include './_bar.html' %}

          {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

          <br>
          <br>

          <table class="govuk-table">
            <h1 class="govuk-heading-l">Reissue payment</h1>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width:230px;">Amount</th>
                <td class="govuk-table__cell">£200</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Payment date</th>
                <td class="govuk-table__cell">Wednesday, 11 November 2020</td>
              </tr>
            </tbody>
          </table>
<br>
<h2 class="govuk-heading-m" style="float:left;">Account details </h2>

<table class="govuk-table">
  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Name on the account</th>
      <td class="govuk-table__cell">
        {% if data['accountholder'] %}
          {{data['accountholder']}}
        {% else %}
        Alfie Noakes
        {% endif %}
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">BIC or SWIFT code</th>
      <td class="govuk-table__cell">
        CTBAAU2S
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">IBAN</th>
      <td class="govuk-table__cell">
        CH93 0076 2011 6238 5295 7
      </td>
    </tr>
  </tbody>
</table>

          <button class="govuk-button" data-module="govuk-button">
            Reissue payment
          </button>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
