

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if data['imprisoned-day'] or data['dead-day'] %}
      {% set status = data['stopped-reason'] %}
    {% else %}
      {% set status = 'Receiving state pension'%}
    {% endif %}

        <div>
          <h1 class="govuk-heading-xl">
            Roberto Hugh Smith </br>
                            <span class="govuk-caption-xl">QQ 12 34 56 X</span>
            <span class="app-c-tag app-c-tag--warning">Payment returned</span>
          </h1>
        </div>

  </div>
</div>
