{% extends "layoutsearch.html" %}

{% block pageTitle %}
  Payment complete
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-panel govuk-panel--confirmation">
            <h2 class="govuk-panel__title">Ermintrude Thelma Louise Brown is due a top-up payment of £100</h2>
            <div class="govuk-panel__body">
              <strong></strong>
            </div>
          </div>

            <h2 class="govuk-heading-m">What happens next</h2>
            <p>You need to make the payment.</p>
       


             <form action="checkanswers_bank1" method="post" class="form"> 
                <input type="submit" method="post" value="Make top-up payment" class="govuk-button">
              </form>
            
              <p><a  href="#">View record</a></p>

      </div>
    </div>

  </main>
</div>



{% endblock %}









