{% extends "layoutsearch.html" %}

{% block pageTitle %}
  Add international bank details
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a class="govuk-back-link" href='#'onclick="goBack()">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Add international bank details</h1>
       
           <form action="checkanswers_bank" method="post" class="form"> 

            <div class="govuk-form-group">
              <label class="govuk-label" for="name">Account holder's full name</label>
              <input class="govuk-input" id="name" autocomplete="off" name="name" type="text" autofocus>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="sort">SWIFT code</label>
              <input class="govuk-input govuk-input--width-10" id="sort1" autocomplete="off" name="sort1" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="account">IBAN number</label>
              <input class="govuk-input" id="account" autocomplete="off" name="account"  type="text">
            </div>

             <input class="govuk-input" type="hidden" name="type" value="SWIFT code" type="text">
            <input class="govuk-input" type="hidden" name="type2" value="IBAN number" type="text">
            <input class="govuk-input" type="hidden" name="banktype" value="International" type="text">

            <input type="submit" method="post" value="Continue" class="govuk-button">

          </form>

      </div>
    </div>

  </main>
</div>



{% endblock %}









