{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {{ govukBackLink({
              text: "Back",
              href: back
            }) }}

          <h1 class="govuk-heading-l">You do not qualify for a Winter Fuel Payment</h1>

          <p>This is because you were in prison during the week of 16 to 22 September
             2019. That was the week we used to work out whether a person qualified
              for a Winter Fuel Payment.</p>

      </div>


    </div>

</div>

</main>
</div>

{% endblock %}
