{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukBackLink({
          text: "Back",
          href: back
        }) }}

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

                <h1 class="govuk-heading-l">Where were you during the week of
                  16 to 22 September 2019?</h1>
<br>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="normal" name="where-were-you-living" type="radio" value="normal">
                  <label class="govuk-label govuk-radios__label" for="normal">
                    Own home
                  </label> </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="nhs-hospital" name="where-were-you-living" type="radio" value="hospital">
                  <label class="govuk-label govuk-radios__label" for="nhs-hospital">
                    NHS hospital 
                  </label> </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="care-nursing-home" name="where-were-you-living" type="radio" value="carehome">
                  <label class="govuk-label govuk-radios__label" for="care-nursing-home">
                    Care or nursing home
                  </label> </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no-fixed-abode" name="where-were-you-living" type="radio" value="no-abode">
                  <label class="govuk-label govuk-radios__label" for="no-fixed-abode">
                    No permanent address
                  </label> </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="prison" name="where-were-you-living" type="radio" value="prison">
                  <label class="govuk-label govuk-radios__label" for="prison">
                    In prison
                  </label> </div>


                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="normal" name="where-were-you-living" type="radio" value="normal">
                    <label class="govuk-label govuk-radios__label" for="normal">
                    None of these
                    </label> </div>
              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>

      </div>


    </div>

</div>

</main>
</div>

{% endblock %}
