{% extends "layoutsearch.html" %}

{% block page_title %}
PAB details 
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">PAB's daytime telephone number</h1>

<div class="govuk-form-group">
  <label class="govuk-label" for="telephone-number">
    UK telephone number
  </label>
  <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel">
</div>

<a href="/sprint15/uk/PAB-address.html" class="govuk-button"> Continue </a>







{% endblock %}
