{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {% include './_bar.html' %}

          {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

          <br>
          <br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

              <h1 class="govuk-heading-l">Report overpayment</h1>

              <div class="govuk-inset-text">
                Based on the information you have given us, you should have received £100.
              </div>


              <table class="govuk-table">
                <caption class="govuk-table__caption"></caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Amount already paid</th>
                    <td class="govuk-table__cell">£200</td>
                  </tr>
                </thead>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Amount overpaid</th>
                    <td class="govuk-table__cell">£100</td>
                  </tr>
                </thead>
              </table>

              <br>

              <div class="govuk-form-group">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Is this overpayment recoverable?
                  </h1>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="recoverable" name="recoverable" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="recoverable">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="recoverable-2" name="recoverable" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="recoverable-2">
                      No
                    </label>
                  </div>
                </div>
              </div>

              <br>
              <br>

            </fieldset>

            <button type="submit" class="govuk-button">
              Confirm
            </button>

          </div>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
