{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

          {% include './_bar.html' %}

            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>

            <h1 class="govuk-heading-l">Are you sure this person wants you to restart their payments?</h1>

            <form method="post">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  </legend>
                  <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="stop-payments-yes" name="stop-payments" type="radio" value="Yes">
                      <label class="govuk-label govuk-radios__label" for="stop-payments-1">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="stop-payments-no" name="stop-payments" type="radio" value="No">
                      <label class="govuk-label govuk-radios__label" for="stop-payments-2">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="govuk-inset-text">
                  <p>If you select Yes, all their future Winter Fuel Payments will be restarted.<br>
                     You can cancel restarted payments again at any time on request.</p>

              </div>

              <button type="submit" class="govuk-button">
                Continue
              </button>
            </form>


      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
