{% extends "layout.html" %}

{% block header %}
{% include './_header-agent-task.html' %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



        <h1 class="govuk-heading-xl">Unverified addresses</h1>

        <h3 class="govuk-heading-l"> 153,653
          <p class="govuk-body govuk-!-font-size-24">cases</p>
        </h3>

        <button class="govuk-button" data-module="govuk-button">
          Verify an address
        </button>




      </div>

    </div>

</div>
{% endblock %}
