{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {% include './_bar.html' %}

            {% include './_tab-payment.html' %}

            <br>
            <br>
          <h2 class="govuk-heading-m">Bank or building society account details</h2>

            <table class="govuk-table">
              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  A payment to this account has been returned.<br>
                  <a href="bankdetails" class="govuk-link">Change bank details and re-issue payment</a>
                </strong>
              </div>
              <a href="bankdetails"
              <span class="govuk-link govuk-!-font-size-19" style="margin-left: 90%">Change</span>
              </a>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header"></th>
                  <th scope="col" class="govuk-table__header"></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Account holder</th>
                  <td class="govuk-table__cell">Mr A Smith</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Account number</th>
                  <td class="govuk-table__cell">12345678</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Sort code</th>
                  <td class="govuk-table__cell">00 11 22</td>
                </tr>
              </tbody>
            </table>


      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">
          Payment history
        </h2>
        <ol class="app-timeline">

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          <a>Payment returned</a>
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="app-timeline__date">
              4 November 2019
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Bank account changed
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Marriage verified</span>
              <span class="app-timeline__date">
                5 July 2018
              </span>
            </p>
          </li>



          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Bank account changed
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Marriage verified</span>
              <span class="app-timeline__date">
                5 January 2018
              </span>
            </p>
          </li>

        </ol>

        </div>



        <div class="govuk-grid-column-full">
          <br>
                  <h2 class="govuk-heading-m">Previous payments</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Payment date</th>
              <th scope="col" class="govuk-table__header">Amount</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Monday 4 November 2019</td>
              <td class="govuk-table__cell">£100</td>
              <td class="govuk-table__cell">Returned</td>
              <td class="govuk-table__cell"><a href="previous-payment1" class="govuk-link">Details</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Monday 29 October 2018</td>
              <td class="govuk-table__cell">£100</td>
              <td class="govuk-table__cell">Paid</td>
              <td class="govuk-table__cell"><a href="previous-payment" class="govuk-link">Details</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Monday 30 October 2017</td>
              <td class="govuk-table__cell">£100</td>
              <td class="govuk-table__cell">Paid</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">Details</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Monday 31 October 2016</td>
              <td class="govuk-table__cell">£100</td>
              <td class="govuk-table__cell">Paid</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">Details</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Monday 2 November 2015</td>
              <td class="govuk-table__cell">£100</td>
              <td class="govuk-table__cell">Paid</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">Details</a></td>
              </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Monday 27 October 2014</td>
              <td class="govuk-table__cell">£100</td>
              <td class="govuk-table__cell">Paid</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">Details</a></td>
              </tr>
          </tbody>
        </table>


    </div>


    </div>

  </div>

  </main>
  </div>

  {% endblock %}
