<h2 class="govuk-heading-m">
  Contenty content 🦄
</h2>
<ol class="app-timeline">

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Something changed
    </h3>

    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden">Marriage verified</span>
      <span class="app-timeline__date">
        5 July 2018
      </span>
    </p>
  </li>



  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Bank account changed
    </h3>

    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden">Bank account changed</span>
      <span class="app-timeline__date">
        5 January 2018
      </span>
    </p>
  </li>

</ol>
