{% extends "layoutsearch.html" %}

{% block pageTitle %}
  Bob Smith
{% endblock %}


{% block header %}
  {% include "includes/cookie-banner.html" %} {# Set serviceName in config.js. #}
  {% include "includes/headsearch.html" %}

  {% include "includes/QQ123456C_head.html" %}
{% endblock %} 

{% block content %}

<div class="govuk-width-container">

<a class="govuk-back-link" href='#'onclick="goBack()">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

       
          <form action="qq123456c_evidence" method="get" class="form">

                      <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                <h1 class="govuk-fieldset__heading">
                                   What is the claimant's date of birth?
                                </h1>
                              </legend>
                              <span id="changed-name-hint" class="govuk-hint">
                              
                              </span>
                          
                            </fieldset>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="expiry-hint" role="group">
                                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m" style="display: none;"> What is the claimant's date of birth?
                                  </legend>
                                  <span id="expiry-hint" class="govuk-hint">
                                    For example, 31 3 1955
                                  </span>
                                  <div class="govuk-date-input" id="expiry">
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="expiry-day">
                                          Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day" name="expiry-day" type="number" pattern="[0-9]*">
                                      </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="expiry-month">
                                          Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month" name="expiry-month" type="number" pattern="[0-9]*">
                                      </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="expiry-year">
                                          Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year" name="expiry-year" type="number" pattern="[0-9]*">
                                      </div>
                                    </div>
                                  </div>
                                </fieldset>
                              </div>
                    

                          </fieldset>
                      </div>
                      <button class="govuk-button">Continue</button>
              </form>

    

        



 
    
    </div>
  </div>


</main>

</div>

{% endblock %}









