{% extends "layoutsearch.html" %}

{% block pageTitle %}
  UK or International address
{% endblock %}

{% block content %}

<div class="govuk-width-container">

<a class="govuk-back-link" href='#'onclick="goBack()">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

       
                <form class="form"> 

                      <div class="govuk-form-group"">
                          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                <h1 class="govuk-fieldset__heading">
                                    Was the caller in prison for all days between 17 and 24 September 2018?
                                </h1>
                              </legend>
                              <span id="changed-name-hint" class="govuk-hint">
                              
                              </span>
                              <div class="govuk-radios govuk-radios--inline">
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="yes" name="changed-name" type="radio" value="yes" onChange="change_link9();">
                                  <label class="govuk-label govuk-radios__label" for="yes">
                                  Yes
                                </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="no" name="changed-name" type="radio" value="no" onChange="change_link9();">
                                  <label class="govuk-label govuk-radios__label" for="no">
                                  No
                                </label>
                                </div>
                              </div>
                            </fieldset>
                           

                          </fieldset>
                      </div>

                    

             
</form>
    

        <div id='buttonChange9'>
          <a href = '#'><input type='submit' value='Continue' class='govuk-button'></a>
        </div>




 
    
    </div>
  </div>


</main>

</div>

{% endblock %}









