{% extends "layoutsearch.html" %}

{% block pageTitle %}
  UK or International address
{% endblock %}

{% block content %}

<div class="govuk-width-container">

<a class="govuk-back-link" href='#'onclick="goBack()">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

       
      <form class="form"> 

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    Was the caller in a hospital at any time between 17 and 24 September?
                  </h1>
                </legend>
                <div class="govuk-radios govuk-radios--inline" data-module="radios">
                  <div class="govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1" onChange="change_link10();">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                      Yes
                    </label>
                  </div>
                 
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2" onChange="change_link10();">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                      No
                    </label>
                  </div>
                </div>
                <br>

                   <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
                    <div class="govuk-form-group">

                     <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-label">
                              What date did the caller go into hospital?
                            </h1>
                          </legend>
                          <div class="govuk-date-input" id="dob">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                    </div>

                     <div class="govuk-form-group">

                     <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-label">
                              What date did the caller leave hospital?
                            </h1>
                          </legend>
                          <div class="govuk-date-input" id="dob">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                    </div>


                  </div>
                 
                 
                </div>
              </fieldset>
            </div>
                     
   </form>  

        <div id='buttonChange10'>
          <a href = '#'><input type='submit' value='Continue' class='govuk-button'></a>
        </div>




 
    
    </div>
  </div>


</main>

</div>

{% endblock %}









