{% extends "layoutsearch.html" %}

{% block pageTitle %}
  Check these details before you continue
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a class="govuk-back-link" href='#'onclick="goBack()">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check these details before you continue</h1>


           
            <dl class="app-check-your-answers app-check-your-answers--long">

               <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  In prison, hospital or a care home during qualifying week
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ data['prison'] }}

                </dd>
                <dd class="app-check-your-answers__change">
                  <a href='#'onclick="goBack()">
                    Change<span class="govuk-visually-hidden">in prison, hospital or a care home</span>
                  </a>
                </dd>
              </div>
              

              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Date of entry
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ data['dob-day'] }} {{ data['dob-month'] }} {{ data['dob-year'] }}

                </dd>
                <dd class="app-check-your-answers__change">
                  <a href='#'>
                    Change<span class="govuk-visually-hidden">date of entry</span>
                  </a>
                </dd>
              </div>

              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Date of exit
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ data['dob-day2'] }} {{ data['dob-month2'] }} {{ data['dob-year2'] }}

                </dd>
                <dd class="app-check-your-answers__change">
                  <a href='#'>
                    Change<span class="govuk-visually-hidden">date of exit</span>
                  </a>
                </dd>
              </div>

              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Already told government department about change
                </dt>
                <dd class="app-check-your-answers__answer">
                No

                </dd>
                <dd class="app-check-your-answers__change">
                  <a href='#'>
                    Change<span class="govuk-visually-hidden">already told government department about change</span>
                  </a>
                </dd>
              </div>

              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Why the change wasn't reported
                </dt>
                <dd class="app-check-your-answers__answer">
                {{ data['reason'] }}

                </dd>
                <dd class="app-check-your-answers__change">
                  <a href='#'>
                    Change<span class="govuk-visually-hidden">why the change wasn't reported</span>
                  </a>
                </dd>
              </div>

               


            </dl>
          
            </dl>
            <br>


             <h2 class="govuk-heading-m">Caller declaration</h2>

              <p class="govuk-body">
                By submitting this claim you agree that the information you've given is complete and correct. While you're receiving the Winter Fuel Payment, you'll report changes to your circumstances straight away by calling 0345 000 000.  If you give wrong or incomplete information, or you don’t report changes, you may:
              </p>

              <ul class="govuk-list govuk-list--bullet">
                <li>be prosecuted</li>
                <li>need to pay a financial penalty</li>
                <li>have your Winter Fuel Payment reduced or stopped</li>
                <li>be paid too much Winter Fuel Payment and have to pay the money back</li>
              </ul>

          <form action="confirmation_overpayment" method="post" class="form"> 
            <input class="govuk-input" type="hidden" name="overpayment" value="The caller was late to tell us where they were during qualifying week. It is likely that we will want to recover the overpayment." type="text">
            <input type="submit" method="post" value="Accept and continue" class="govuk-button">
          </form>


      </div>
    </div>

  </main>
</div>

{% endblock %}









