{% extends "layoutsearch.html" %}

{% block pageTitle %}
  Do any of the following apply to Sam?
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a class="govuk-back-link" href='#'onclick="goBack()">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
       
           <form action="address_im" method="post" class="form"> 

            <!--  <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show full address
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p>123 Glossop Road,<br>
                      Little Hayfield,<br>
                      High Peak,<br>
                      TD15 2TB<p>
                </div>
              </details> -->
            

           <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Qualifying week details
                </h1>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                    Sam was in prison 6 to 13 September 2018
                  </label>
                </div>
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                    Sam was in hospital for 52 weeks before 6 and including September 2018
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                    Sam was in a carehome for 12 weeks before and including 6 September 2018
                  </label>
                </div>
              </div>
                
              </div>
            </fieldset>
        

        

           

          <div>
            <a href = '#'><input type='submit' value='Continue' class='govuk-button'></a>
          </div>

      </form>  

                   

      </div>
    </div>

  </main>
</div>


<script>



</script>  

{% endblock %}


