{% extends "layoutsearch.html" %}

{% block pageTitle %}
  Payment complete
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-panel govuk-panel--confirmation">
            <h2 class="govuk-panel__title">Winter Fuel payment stopped until further notice</h2>
            <div class="govuk-panel__body">
              
            </div>
          </div>

            <h2 class="govuk-heading-m">What happens next</h2>
            <p>The caller needs to contact the Winter Fuel team if they want the payment restarted.</p>
            <p>Any eligible people living at the same address will continue to receive a shared payment.</p>


             <form action="search" method="post" class="form"> 
                <input type="submit" method="post" value="Search for a person" class="govuk-button">
              </form>
            
              <p><a  href="gb123456c_paid">View record</a></p>

      </div>
    </div>

  </main>
</div>



{% endblock %}









