{% extends "layoutsearch.html" %}

{% block pageTitle %}
  Payment complete
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-panel govuk-panel--confirmation">
            <h2 class="govuk-panel__title">The caller has been overpaid £100</h2>
            <div class="govuk-panel__body">
              <strong></strong>
            </div>
          </div>

            <h2 class="govuk-heading-m">What happens next</h2>
            <p>The overpayments debt management team has been notified.</p>

            <p>The caller failed to tell us that they were in {{ data['prison'] }} so it is likely the team will be in touch to recover the payment.</p>

            <p>A letter has been sent to the caller with more information.</p>
       


             <form action="search" method="post" class="form"> 
                <input type="submit" method="post" value="Search for a person" class="govuk-button">
              </form>
            
              <p><a  href="#">View record</a></p>

      </div>
    </div>

  </main>
</div>



{% endblock %}









