{% extends "layoutsearch.html" %}

{% block pageTitle %}
  Payment complete
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">A payment of £100 has been made to the caller</h1>
          </div>

            <h2 class="govuk-heading-m">What happens next</h2>
            <p>The payment will appear in their bank account within the next 14 days.</p>
            <p>They don't need to do anything next year, they'll get the payment automatically.</p>


             <form action="search" method="post" class="form"> 
                <input type="submit" method="post" value="Search for a person" class="govuk-button">
              </form>
            
              <p><a  href="gb123456c_paid">View record</a></p>

      </div>
    </div>

  </main>
</div>



{% endblock %}









