{% extends "layoutsearch.html" %}

{% block pageTitle %}
  Sam Bulmer
{% endblock %}

{% block content %}





<div class="govuk-width-container">

   <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">
          <dt class="govuk-visually-hidden">Name:</dt>
          <dd class="key-details-bar__name">Sam Bulmer</dd>

          <dt class="govuk-visually-hidden">National Insurance number:</dt>
          <dd class="key-details-bar__nino">GB 65 43 21 C</dd>

          <dt class="visually-hidden">Status:</dt>
          <dd class="key-details-bar__status">Dead Letter Office (DLO)</dd>

          
        </div>

        <div class="key-details-bar__bottom-block">
          <dt>Date of birth:</dt>
          <dd >12 July 1950</dd>

          <dt>Last known address:</dt>
          <dd>123 High street, Glossop, SK22 2NG</dd>

        </div>
      </dl>
    </section>


   
  <main class="">

    <div class="govuk-grid-row">
     
      <div class="govuk-grid-column-two-thirds">

         <h1 class="govuk-visually-hidden">Winter Fuel details: Sam Smith</h1>


        <div class="tabs">
            <div class="tabs-nav">
              <ul class="tabs-list">
                <li>
                  <a href="#tab-1">
                    Payment details
                  </a>
                </li>
              </ul>
            </div>

        <div class="tabs-content">
          <div class="tabs-panel" id="tab-1">
            <div class="tabs-panel-inner">

                   <dl class="app-check-your-answers app-check-your-answers--long">
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Payment amount
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                Not calculated
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Circumstance
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                Not known
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Payment status
                              </dt>
                              <dd class="app-check-your-answers__answer">
                               <strong class="app-c-tag app-c-tag--danger">Not paid</strong>
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Payment date
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                (awaiting payment)
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                Benefits
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                No benefits
                              </dd>
                            </div>

                          
                        </dl>

              
            </div>
          </div>  
        </div>


      </div>

       <input class="govuk-input" type="hidden" name="person" value="Sam Bulmer" type="text">

   </div>

      <div class="govuk-grid-column-one-third">
          <div class="invoicesummary">

              <h3 class="govuk-heading-s">Actions</h3>

              <form action="address_prison" method="post" class="form"> 
                <input class="govuk-input" type="hidden" name="person" value="Sam Bulmer" type="text">
                <input type="submit" method="post" value="Add address" class="govuk-button">
              </form>

             
         </div>

      </div>


    </div>

  </main>
</div>


{% endblock %}

