{% extends "layoutsearchgsl.html" %}

{% block pageTitle %}
  Genuine and sufficient link cases
{% endblock %}

{% block content %}

<div class="govuk-width-container">

 

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Genuine and sufficient link cases</h1>
       
          <dl class="app-check-your-answers app-check-your-answers--long">
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Ian Robertson
                </dt>
                <dd class="app-check-your-answers__answer">
                  AB 12 34 56 C
                </dd>
               
                <dd class="app-check-your-answers__change">
                  <a href="ab123456c">
                    View details<span class="govuk-visually-hidden">Ian Robertson</span>
                  </a>
                </dd>
              </div>

              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Fiona Armstrong
                </dt>
                <dd class="app-check-your-answers__answer">
                  DF 12 43 56 A
                </dd>
               
                <dd class="app-check-your-answers__change">
                  <a href="#">
                    View details<span class="govuk-visually-hidden">Fiona Armstrong</span>
                  </a>
                </dd>
              </div>

              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Ann Ainsworth
                </dt>
                <dd class="app-check-your-answers__answer">
                  FS 46 54 32 D
                </dd>
              
                <dd class="app-check-your-answers__change">
                  <a href="#">
                    View details<span class="govuk-visually-hidden">Ann Ainsworth</span>
                  </a>
                </dd>
              </div>

              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Robert Davies
                </dt>
                <dd class="app-check-your-answers__answer">
                  AB 32 45 87 C
                </dd>
              
                <dd class="app-check-your-answers__change">
                  <a href="#">
                    View details<span class="govuk-visually-hidden">Ann Ainsworth</span>
                  </a>
                </dd>
              </div>


            </dl>


      </div>
    </div>

  </main>
</div>



{% endblock %}









