{% extends "layoutsearch.html" %}

{% block page_title %}
  Add UK account details
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a class="govuk-back-link" href='#'onclick="goBack()">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Add UK bank, building society or credit union account details</h1>
       
           <form action="checkanswers_bank" method="post" class="form"> 

            <div class="govuk-form-group">
              <label class="govuk-label" for="name">Account holder's full name</label>
              <input class="govuk-input" id="name" autocomplete="off" name="name" type="text" autofocus>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="account">Account number</label>
              <input class="govuk-input govuk-input--width-20" id="account" maxlength="8" autocomplete="off" name="account"  type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="sort">Sort code</label>
              <input class="govuk-input govuk-input--width-10" id="sort1" maxlength="6" autocomplete="off" name="sort1"  type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="account">Building society roll or reference number (if applicable)</label>
              <input class="govuk-input govuk-input--width-20" id="roll" maxlength="12" autocomplete="off" name="roll"  type="text">
            </div>
           
             <input class="govuk-input" type="hidden" name="type" value="Sort code" type="text">
            <input class="govuk-input" type="hidden" name="type2" value="Account number" type="text">
            <input class="govuk-input" type="hidden" name="banktype" value="UK" type="text">
            <input class="govuk-input" type="hidden" name="roll" value="Roll or reference number" type="text">

            <input type="submit" method="post" value="Continue" class="govuk-button">

          </form>

      </div>
    </div>

  </main>
</div>

{% endblock %}









