{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          <div>
            <h1 class="govuk-heading-xl">
              Theodora Best<br>
              <span class="govuk-body-l">
                {% if data['nino'] %}
                {{data['nino']}}
                {% else %}
                XX 12 34 56
                {% endif %}<br>
                <strong class="govuk-tag govuk-tag--orange">
                  Unverified date of birth
                </strong>

              </span>
            </h1>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Enter the verified date of birth
                </h1>
              </legend>
              <span id="passport-issued-hint" class="govuk-hint">
                For example, 27 3 1956
              </span>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

<br>

          <button class="govuk-button" data-module="govuk-button">
  Continue
</button>



    </div>

</div>

</main>
</div>

{% endblock %}
