{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_blue_bar.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>


      <form method="post">

                <h1 class="govuk-heading-xl">Security questions</h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                What's your date of birth?
              </h1>
            </legend>
            <p>Answer: 9 August 1953</p>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marital-1" name="marital" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="marital-1">
                Pass
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marital-2" name="marital" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="marital-2">
                Fail
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
              Can you confirm your mobile telephone number?
              </h1>
            </legend>

            <p>Answer: 07795115302</p>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="benefits-1" name="benefits" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="benefits-1">
                  Pass
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="benefits-2" name="benefits" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="benefits-2">
                  Fail
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
              How often do you get paid your State Pension?
              </h1>
            </legend>

            <p>Every 4 weeks</p>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="payments-1" name="payments" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="payments-1">
                  Pass
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="payments-2" name="payments" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="payments-2">
                  Fail
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <p><a href="#" class="govuk-link govuk-link--no-visited-state"></a></p>

        <button type="submit" class="govuk-button">
          Continue
        </button>

      </form>


    </div>

  </div>

</div>

</main>
</div>

{% endblock %}
