{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {{ govukBackLink({
              text: "Back",
              href: "javascript:history.go(-1)"
            }) }}

          <div class="govuk-form-group">

            <div class="govuk-panel govuk-panel--confirmation">
              <div class="govuk-panel__body">
                <strong>You qualify for a Winter Fuel Payment of £200</strong>
              </div>
            </div>

            <br>

          <p>You qualify for £200 because you:</p>

             <ul class="govuk-list govuk-list--bullet">
               <li>were born before 6 October 1954</li>
               <li>do not live with anyone else who qualifies</li>
             </ul>

             <h3 class="govuk-heading-m">What happens next</h3>
             <p>Your payment will usually be made in November or December, but may take until the following 31 March.</p>
             <div class="govuk-inset-text">
              <p>This will happen automatically. You do not need to make a claim.</p>
           </div>
  
             <h3 class="govuk-heading-m">Changes of circumstance</h3>
            <p>If your circumstances change, it could affect what you are entitled to. For example:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>moving house or there is a change to who you live with</li>
              <li>being in hospital for more than a year</li>
              <li>moving into a care home</li>
            </ul>
            <div class="govuk-inset-text">
              <p>You should tell us about any change of circumstances as soon as possible.</p>
          </div>

          <a href="date-of-birth.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Start again
            </a>


           </form>
          </div>
      </div>
    </div>

</main>
</div>

{% endblock %}
