{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {{ govukBackLink({
              text: "Back",
              href: "javascript:history.go(-1)"
            }) }}

          <div class="govuk-form-group">

            <div class="govuk-panel govuk-panel--confirmation">
              <div class="govuk-panel__body">
                <strong>You qualify for a Winter Fuel Payment of £200</strong>
              </div>
            </div>

            <br>

            <p>For winter 2019, we worked out your payment during the week of
              21 to 27 September 2020. This is called the 'qualifying week'.</p>

            <p>You qualify for £200 because you were under 80 years old and getting
               Pension Credit during the qualifying week.</p>

           

          </div>




      </div>


    </div>

</div>

</main>
</div>

{% endblock %}
