{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          <h1 class="govuk-heading-xl">Check eligibility for Winter Fuel Payment</h1>

          <p class="govuk-body">Use this service to find out if someone is
            eligible for Winter Fuel Payment and how much they might get.</p>

          <p>
              This service checks eligibility based on qualifying week
              21 to 27 September 2020.
          </p>

          <a href="/sprint22b/date-of-birth" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
            Start now
          </a>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
