{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {% include './_bar.html' %}

            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>

            <form method="post">

        <h1 class="govuk-heading-l">When did the number of people you live with change?</h1>

        <div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
<div id="passport-issued-hint" class="govuk-hint">
  For example, 27 3 2007
</div>
<div class="govuk-date-input" id="passport-issued">
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
        Day
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="living-with-day" name="living-with-day" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
        Month
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="living-with-month" name="living-with-month" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
        Year
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="living-with-year" name="living-with-year" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
</div>
</fieldset>
</div>

              <button type="submit" class="govuk-button">
                Continue
              </button>
              <input type="hidden" name="living-with-date-changed" value="true">

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
