{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_blue_bar.html' %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          <a href="/sprint21/residency" class="govuk-back-link">Back</a>
          <br>
          <br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      Does anybody else born before 6 November 1953 live at this address?
                    </h1>
                  </legend>

                  <span id="changed-name-hint" class="govuk-hint">
                    Select any other occupants living at this address
                  </span>

                  <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                          <label class="govuk-label govuk-checkboxes__label" for="waste">
                           Karen Smith
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                            Anthony Davis
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                             Other
                          </label>
                        </div>
                      </div>


            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>

      </div>


    </div>

</div>

</main>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
