{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {% include './_bar.html' %}

            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>

            <form method="post">

              <h2 class="govuk-heading-l">Can you confirm your full address?</h2>

<p><b>2</b> addresses found for <b>"{% if data['house-number'] %}
                    {{data['house-number']}}
                  {% else %}
                  27
                  {% endif %}"
                </b> and <b>"{% if data['postcode'] %}
                                    {{data['postcode']}}
                                  {% else %}
                                  NE65 0LZ
                                  {% endif %}"</b></p>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-change-1" name="address-change" type="radio" value="Dolphin View Care Home, Harbour Road, Amble, NE65 0AP">
                      <label class="govuk-label govuk-radios__label" for="address">
                        Dolphin View Care Home, Harbour Road, Amble, NE65 0AP
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-change-2" name="address-change" type="radio" value="Harbour Office, Harbour Road, Amble, NE65 0AP">
                      <label class="govuk-label govuk-radios__label" for="address-2">
                        Harbour Office, Harbour Road, Amble, NE65 0AP
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-change-3" name="address-change" type="radio" value="address not found">
                      <label class="govuk-label govuk-radios__label" for="address-3">
                        The address has not been found
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <button type="submit" class="govuk-button">
                Continue
              </button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
