{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="moj-banner moj-banner--success">

          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" /></svg>

          <div class="moj-banner__message">
            <span class="moj-banner__assistive">Success</span>Letter sent to the citizen</div>

        </div>

        <h1 class="govuk-heading-xl">
          Overpayment sent to debt management<br>
        </h1>


        <form method="post">
          <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
            Continue
          </button>
        </form>


      </div>
    </div>
  </main>
</div>

</div>

</div>

</main>
</div>

{% endblock %}
