{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block beforeContent %}
{% include './_blue_bar.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>


      <form method="post">

                <h1 class="govuk-heading-xl">Security questions</h1>

                <div class="govuk-inset-text"><span style="font-weight: bold">Ask the caller security questions to verify their identity.</span></div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
              Did they make it through?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="payments-1" name="payments" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="payments-1">
                  Pass
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="payments-2" name="payments" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="payments-2">
                  Fail
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button">
          Continue
        </button>

<br>
                      <p>  <a href="type-of-application" class="govuk-link">No need for security on this one - we good</a></p>

      </form>


    </div>

  </div>

</div>

</main>
</div>

{% endblock %}
