{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="moj-identity-bar">
  <div class="moj-identity-bar__container">
    <div class="moj-identity-bar__details">
      <span class="moj-identity-bar__title"><b>
        {% if data['phone-post'] === 'phone' %}
        Theodora Best
        {% else %}
        Samira Mcgill
        {% endif %}</b></span>
    </div>
    <div class="moj-identity-bar__details">
      <span class="moj-identity-bar__title">
        <a href="type-of-application" class="govuk-link">Start again</a>
      </span>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">


            <form method="post">

              <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                  This claim has been submitted
                </h1>
                <div class="govuk-panel__body govuk-!-font-size-27">
                  You qualify for a Winter Fuel Payment of £100,
                  as long as your circumstances do not change.
                </div>
              </div>

<br>

                <h2 class="govuk-heading-m">What happens next</h2>

                <p>Your payment will be made in November or December.</p>

                <p>Once you have received a Winter Fuel Payment you'll continue to get
                  a payment every year without having to make another claim.</p>

                <h3 class="govuk-heading-m">Changes of circumstance</h3>
                <p>Your future payments may be affected if your circumstances change. We need to know as soon as possible if you:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>move house or there is a change to who you live with</li>
                  <li>are in hospital for more than 52 weeks</li>
                  <li>leave the care home</li>
                </ul>

                <p>
                  <strong>Telephone:</strong> 0800 731 0160<br>
                </p>

            </form>


      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
