{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="moj-identity-bar">
  <div class="moj-identity-bar__container">
    <div class="moj-identity-bar__details">
      <span class="moj-identity-bar__title"><b>
        {% if data['phone-post'] === 'phone' %}
        Theodora Best
        {% else %}
        Samira Mcgill
        {% endif %}</b></span>
    </div>
    <div class="moj-identity-bar__details">
      <span class="moj-identity-bar__title">
        <a href="type-of-application" class="govuk-link">Start again</a>
      </span>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

            <form method="post">


<h1 class="govuk-heading-xl">You need to send proof of your date of birth</h1>

<h2 class="govuk-heading-m">You must send 1 of these original documents:</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Birth certificate</li>
  <li>Certificate of registration of birth</li>
  <li>Adoption order</li>
  <li>Certificate of adoption issued by the Registrar General</li>
  <li>Identity card</li>
</ul>

<br>

<h3 class="govuk-heading-m">Include your National Insurance number and send it to:</h3>
<p>The Pension Service 4<br>
Mail Handling Site A<br>
Wolverhampton<br>
WV98 1AG</p>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You can continue with your application, but it can't be processed until you send proof of your date of birth.
  </strong>
</div>

<button class="govuk-button" data-module="govuk-button">
Continue
</button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
