{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% if data['phone-post'] === 'phone' %}
{% include './_blue_bar.html' %}
{% else %}
{% include './_blue_bar-2.html' %}
{% endif %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">


            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>

            <form method="post">

              <h2 class="govuk-heading-xl">When did you move in?</h2>

              <span id="passport-issued-hint" class="govuk-hint">
                For example, 27 3 2007
              </span>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

              <button type="submit" class="govuk-button">
                Continue
              </button>

            </form>

            {% if data['prototype-mode'] === 'dev' %}
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  DEV info
                </span>
              </summary>

              <div class="govuk-details__text">
                <p><b>Error message</b><br>
                  ...</p>
            </details>
            {% endif %}

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
