{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

              <div>
                <h1 class="govuk-heading-xl">
                  Mica Bennett
                  <br>
                  <span class="govuk-body-l">
                    {% if data['nino'] %}
                    {{data['nino']}}
                    {% else %}
                    XX 12 34 56
                    {% endif %}
                  </span>
                </h1>
              </div>

            </div>
          </div>

          {% include './_tab-contact-2.html' %}

          <br>
          <br>

          <table class="govuk-table">
            <h2 class="govuk-heading-m">Contact details</h2>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Home phone</th>
                <td class="govuk-table__cell">
                  {% if data['homephone-remove'] === 'Yes' %}
                  {% elseif data.homephone %}
                  {{data.homephone}}
                  {% else %}
                  01632 960005
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="homephone">
                    Change<span class="govuk-visually-hidden"> home phone number</span>
                  </a>

                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Mobile phone</th>
                <td class="govuk-table__cell">
                  07728193826
                </td>
                <td class="govuk-table__cell">
                  <a href="mobilephone">
                    Change
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Work phone</th>
                <td class="govuk-table__cell">
                  {% if data.worknumber %}
                  {{data.worknumber}}
                  {% endif %}
                  {% if data['workphone-remove'] === 'Yes' %}
                  {% elseif data.workphone %}
                  {{data.workphone}}
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="workphone">
                    {% if not data.worknumber %}
                    Add<span class="govuk-visually-hidden"> work number</span>
                    {% else %}
                    Change<span class="govuk-visually-hidden"> work number</span>
                    {% endif %}
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email address</th>
                <td class="govuk-table__cell">
                  {% if data['email-remove'] === 'Yes' %}
                  {% elseif data.email %}
                  {{data.email}}
                  {% else %}
                  T-staff@hotmail.com
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="email">
                    Change<span class="govuk-visually-hidden">email</span>
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Correspondence address</th>
                <td class="govuk-table__cell">
                  {% if data['correspondence-address-change'] %}
                  {{data['correspondence-address-change'].split(', ').join('<br />') | safe }}
                  {% elif data.address %}
                  {{data.address.split(', ').join('<br />') | safe}}
                  {% else %}

                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="correspondence-address">
                    {% if not data['correspondence-address-change'] %}
                    Add <span class="govuk-visually-hidden">contact preferences</span>
                    {% else %}
                    Change <span class="govuk-visually-hidden">contact preferences</span>
                    {% endif %}
                    <span class="govuk-visually-hidden">Change address</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">
          Action history
        </h2>
        <ol class="app-timeline">

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Overpayment decision
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Overpayment decision</span>
              <span class="govuk-content">Recoverable overpayment</span><br>
              <span class="app-timeline__date">
                5 December 2020
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Overpayment referred
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Overpayment referred</span>
              <span class="app-timeline__date">
              29 November 2020
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Home phone number removed
            </h3>
            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Home phone number removed</span>
              <span class="app-timeline__date">
              29 November 2020
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Occupancy changed
            </h3>
            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Occupancy changed</span>
              <span class="app-timeline__date">
                29 November 2020
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Address changed
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Address changed</span>
              <span class="app-timeline__date">
                29 November 2020
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Mobile phone number added
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Address changed</span>
              <span class="app-timeline__date">
                15 January 2017
              </span>
            </p>
          </li>

        </ol>
      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
