{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <div>
              <h1 class="govuk-heading-xl">
                Mica Bennett
                <br>
                <span class="govuk-body-l">
                  {% if data['nino'] %}
                  {{data['nino']}}
                  {% else %}
                  XX 12 34 56
                  {% endif %}
                </span>
              </h1>
            </div>

          </div>
        </div>

                      {% include './_tab-history-2.html' %}

                      <br>
                      <br>

            <h2 class="govuk-heading-m">
              Action history
            </h2>
            <ol class="app-timeline">

              <li class="app-timeline__entry">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                Notification sent
              </h3>

              <p class="app-timeline__info govuk-!-margin-bottom-0">
                <span class="govuk-content">System action</span>
                <span class="app-timeline__date">
                  5 January 2018
                </span>
              </p>
              </li>

              <li class="app-timeline__entry">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                Payment recalculated
              </h3>

              <p class="app-timeline__info govuk-!-margin-bottom-0">
                <span class="govuk-content">System action</span>
                <span class="app-timeline__date">
                  5 January 2018
                </span>
              </p>
              </li>

              <li class="app-timeline__entry">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                  Home phone number removed
                </h3>

                <p class="app-timeline__info govuk-!-margin-bottom-0">
                  <span class="govuk-content">Agent action</span>
                  <span class="app-timeline__date">
                    5 July 2018
                  </span>
                </p>
                </li>

                <li class="app-timeline__entry">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                  Occupancy changed
                </h3>

                <p class="app-timeline__info govuk-!-margin-bottom-0">
                  <span class="govuk-content">Agent action</span>
                  <span class="app-timeline__date">
                    9 June 2018
                  </span>
                </p>
                </li>

                <li class="app-timeline__entry">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                  Address changed
                </h3>

                <p class="app-timeline__info govuk-!-margin-bottom-0">
                  <span class="govuk-content">Agent action</span>
                  <span class="app-timeline__date">
                    5 July 2018
                  </span>
                </p>
                </li>

            </ol>


      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
