{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">



          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

              <div>
                <h1 class="govuk-heading-xl">
                  Tai Stafford
                  <br>
                  <span class="govuk-body-l">
                    {% if data['nino'] %}
                    {{data['nino']}}
                    {% else %}
                    XX 12 34 56
                    {% endif %}
                  </span>
                </h1>
              </div>

            </div>
          </div>


          {% include './_tab-overview.html' %}

          <br>
          <br>

          <table class="govuk-table">
            <h2 class="govuk-heading-m">2020 payment</h2>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Payment date</th>
                <td class="govuk-table__cell">Monday, 4 November 2020</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Amount</th>
                <td class="govuk-table__cell">£200</td>
              </tr>
            </tbody>
          </table>


          <br>

          <table class="govuk-table">
            <h2 class="govuk-heading-m">Qualification details</h2>
            <a href="address" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 80%">Update details</span>
            </a>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Age</th>
                <td class="govuk-table__cell">66</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of birth</th>
                <td class="govuk-table__cell">9 August 1953</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell">
                  {% if data['address-change'] %}
                  {{data['address-change'].split(', ').join('<br />') | safe }}
                  {% elif data.address %}
                  {{data.address.split(', ').join('<br />') | safe}}
                  {% else %}
                  1 Victoria Road<br>
                  FALKIRK<br>
                  FK55 8XN
                  {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Occupancy</th>
                <td class="govuk-table__cell">
                  {% if data['living-with'] %}
                  {{data['living-with']}}
                  {% else %}
                  Lives with someone else of State Pension age
                  {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date they moved in</th>
                <td class="govuk-table__cell">
                  6 March 2016
                </td>
              </tr>
            </tbody>
          </table>

      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">
          Action history
        </h2>
        <ol class="app-timeline">

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Overpayment decision
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Overpayment decision</span>
              <span class="govuk-content">Recoverable overpayment</span><br>
              <span class="app-timeline__date">
                5 December 2020
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Overpayment referred
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Overpayment referred</span>
              <span class="app-timeline__date">
              29 November 2020
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Home phone number removed
            </h3>
            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Home phone number removed</span>
              <span class="app-timeline__date">
              29 November 2020
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Occupancy changed
            </h3>
            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Occupancy changed</span>
              <span class="app-timeline__date">
                29 November 2020
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Address changed
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Address changed</span>
              <span class="app-timeline__date">
                29 November 2020
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Mobile phone number added
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Address changed</span>
              <span class="app-timeline__date">
                15 January 2017
              </span>
            </p>
          </li>



        </ol>
      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
