{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

{% include './_bar.html' %}



            <br>
            <br>

            <h2 class="govuk-heading-m">
            Payment recalculated
            </h2>



      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
