
        <div>
          <h1 class="govuk-heading-xl">
            Jay Adamson<br>
          </h1>

                            <span class="govuk-body-l">
                              {% if data['nino'] %}
                                {{data['nino']}}
                              {% else %}
                                XX 12 34 56
                              {% endif %}
                            </span>

                            <strong class="govuk-tag moj-tag--red">
                             Unverified address
                            </strong>

        </div>
