{% extends "layout.html" %}

{% block header %}
  {% include './_header.html' %}
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="check-cases">Check and update cases</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Eligible cases</li>
  </ol>
</div>

{{ govukBackLink({
    text: "Back",
    href: back
  }) }}


  <br>
  <br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Eligible cases: 10,640,000</h1>

  <!--      <span class="govuk-caption-l">Total cases</span>
        <h2 class="govuk-heading-l">10,640,000</h2>   -->

<h2 class="govuk-heading-l">Aged under 80</h2>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <section class="key-details-bar-black" role="contentinfo" aria-label="Key details">
          <dl class="key-details-bar-black__key-details">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">8 million</h2>
            <span class="govuk-caption-l">under 80 cases</span>
          </dl>
        </section>
      </div>
  <div class="govuk-grid-column-one-third">
    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-0">4.4 million</h2>
        <span class="govuk-caption-l">£100 shared payments
          <br></span>
      </dl>
    </section>
  </div>
  <div class="govuk-grid-column-one-third">
    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-0">3.6 million</h2>
        <span class="govuk-caption-l">£200 full payments <br>
          </span>
      </dl>
    </section>
  </div>
</div>

<br>
<br>

<h3 class="govuk-heading-l">Aged 80 or over</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
  <section class="key-details-bar-black" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar-black__key-details">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-0">3.1 million</h2>
      <span class="govuk-caption-l">80 or over cases</span>
      <br>
    </dl>
  </section>
  </div>
<div class="govuk-grid-column-one-quarter">
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-0">849,098</h2>
    <span class="govuk-caption-l">£150 shared '80 or over' payments
      </span>
  </dl>
</section>
</div>
<div class="govuk-grid-column-one-quarter">
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-0">457,940</h2>
    <span class="govuk-caption-l">£200 shared 'under 80' payments
      </span>
  </dl>
</section>
</div>
<div class="govuk-grid-column-one-quarter">
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-0">1.8 million</h2>
    <span class="govuk-caption-l">£300 full payments
      </span>
  </dl>
</section>
</div>
</div>

  </div>

</div>


{% endblock %}
