{% extends "layout.html" %}

{% block header %}
  {% include './_header.html' %}
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="check-cases">Check and update cases</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Cases in error</li>
  </ol>
</div>

{{ govukBackLink({
    text: "Back",
    href: back
  }) }}


  <br>
  <br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Cases in error</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <section class="key-details-bar-black" role="contentinfo" aria-label="Key details">
          <dl class="key-details-bar-black__key-details">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-1">708,106</h2>
            <span class="govuk-caption-l">cases in error</span>
          </dl>
        </section>
      </div>
  <div class="govuk-grid-column-one-third">
    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="verify-address">598,185</a></h2>
        <span class="govuk-caption-l"><a href="verify-address">unverified addresses</a></span>
      </dl>
    </section>
  </div>
  <div class="govuk-grid-column-one-third">
    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="exceptions-result.html">112,345</a></h2>
        <span class="govuk-caption-l"><a href="exceptions-result.html">related cases</a></span>
      </dl>
    </section>
  </div>
</div>


</div>
</div>

  </div>
</div>


{% endblock %}
