{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="check-cases">Check and update cases</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Ineligible cases</li>
  </ol>
</div>

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}


<br>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Ineligible cases</h1>



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <section class="key-details-bar-black" role="contentinfo" aria-label="Key details">
          <dl class="key-details-bar-black__key-details">
            <h2 class="govuk-heading-l">165,245
              <span class="govuk-caption-l govuk-!-margin-bottom-0">ineligible cases</span></h2>
        </section>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <section class="key-details-bar" role="contentinfo" aria-label="Key details">
          <dl class="key-details-bar__key-details">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="carehome-benefit-results">38,448</a>
              <span class="govuk-caption-l"><a href="carehome-benefit-results">care home and benefits</a></span></h2>
          </dl>
        </section>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <section class="key-details-bar" role="contentinfo" aria-label="Key details">
          <dl class="key-details-bar__key-details">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="eligible">37,283</a></h2>
            <span class="govuk-caption-l"><a href="eligible">invalid addresses</a></span>
          </dl>
        </section>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <section class="key-details-bar" role="contentinfo" aria-label="Key details">
          <dl class="key-details-bar__key-details">
            <h2 class="govuk-heading-l"><a href="eligible">30,680</a>
              <span class="govuk-caption-l govuk-!-margin-bottom-0"><a href="eligible">in hospital</a></span></h2>
          </dl>
        </section>
      </div>
    </div>

  </div>

</div>

<br>
<br>

<hr class="govuk-section-break govuk-section-break--visible">

<br>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <h6 class="govuk-heading-l govuk-!-margin-bottom-0">9,922</h6>
    <span class="govuk-caption-l"><a href="eligible"><strong>no correspondence address</strong></a></span>

    <br>

    <h7 class="govuk-heading-l govuk-!-margin-bottom-0">789</h7>
    <span class="govuk-caption-l"><a href="eligible"><strong>partner claimant</strong></a></span>

    <br>

    <h8 class="govuk-heading-l govuk-!-margin-bottom-0">310</h8>
    <span class="govuk-caption-l"><a href="prison-results"><strong>in prison</strong></a></span>

    <br>

    <h14 class="govuk-heading-l govuk-!-margin-bottom-0">186</h14>
    <span class="govuk-caption-l"><a href="eligible"><strong>Opted out</strong></a></span>

    <br>

    <h4 class="govuk-heading-l govuk-!-margin-bottom-0">68</h4>
    <span class="govuk-caption-l"><a href="eligible"><strong>ineligible EEA</strong></a></span>

    <br>

    <h11 class="govuk-heading-l govuk-!-margin-bottom-0">56</h11>
    <span class="govuk-caption-l"><a href="eligible"><strong>PO box not approved</strong></a></span>


  </div>

  <div class="govuk-grid-column-one-half">

    <h12 class="govuk-heading-l govuk-!-margin-bottom-0">1897</h12>
    <span class="govuk-caption-l"><a href="eligible"><strong>outside of EEA</strong></a></span>

    <br>

    <h3 class="govuk-heading-l govuk-!-margin-bottom-0">669</h3>
    <span class="govuk-caption-l"><a href="eligible"><strong>under State Pension age</strong></a></span>

    <br>

    <h10 class="govuk-heading-l govuk-!-margin-bottom-0">198</h10>
    <span class="govuk-caption-l"><a href="eligible"><strong>GSL not approved</strong></a></span>

    <br>

    <h13 class="govuk-heading-l govuk-!-margin-bottom-0">167</h13>
    <span class="govuk-caption-l"><a href="eligible"><strong>Paused</strong></a></span>

    <br>

    <h5 class="govuk-heading-l govuk-!-margin-bottom-0">59</h5>
    <span class="govuk-caption-l"><a href="eligible"><strong>commercial address</strong></a></span>

    <br>

    <h9 class="govuk-heading-l govuk-!-margin-bottom-0">6</h9>
    <span class="govuk-caption-l"><a href="eligible"><strong>unknown residency</strong></a></span>

  </div>


  {% endblock %}
