{% extends "layout.html" %}

{% block header %}
{% include './_header-manage.html' %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <br>
    <br>

    <h1 class="govuk-heading-xl">Manage Winter Fuel Payments</h1>


    <form method="post">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="manage-jobs3">Manage things...</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="payments">Payments</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="letters">Letters</a>
              </li>


          </nav>



        </div>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {{ govukBackLink({
            text: "Back",
            href: "letters"
          }) }}

          <br>
          <br>

          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Letters sent</h2>
          </div>

          <div class="govuk-grid-column-full">

          <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#past-day">
                  <span class="govuk-caption-m">Winter</span>
                  <h3 class="govuk-heading-m">2019 to 2020</h3>
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#past-week">
                  <span class="govuk-caption-m">Winter</span>
                  <h3 class="govuk-heading-m">2018 to 2019</h3>
                </a>
              </li>
            </ul>
            <div class="govuk-tabs__panel" id="past-day">
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">Number of letters</th>

                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Thursday 2 November</td>
                    <td class="govuk-table__cell">3,146</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Thursday 9 November</td>
                    <td class="govuk-table__cell">2,656</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Thursday 16 November</td>
                    <td class="govuk-table__cell">3,245</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Thursday 23 November</td>
                    <td class="govuk-table__cell">2,234</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Thursday 30 November</td>
                    <td class="govuk-table__cell">2,844</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Thursday 6 December</td>
                    <td class="govuk-table__cell">5,424</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Thursday 13 December</td>
                    <td class="govuk-table__cell">2,324</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Thursday 20 December</td>
                    <td class="govuk-table__cell">2,489</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="border-bottom:none;">Thursday 27 December</td>
                    <td class="govuk-table__cell" style="border-bottom:none;">3,824</td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">Number of letters</th>

                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Tuesday 11 November</td>
                    <td class="govuk-table__cell">3,623</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Tuesday 18 November</td>
                    <td class="govuk-table__cell">3,611</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Tuesday 25 November</td>
                    <td class="govuk-table__cell">2,234</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Tuesday 1 December</td>
                    <td class="govuk-table__cell">2,444</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Tuesday 8 December</td>
                    <td class="govuk-table__cell">8,724</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Tuesday 15 December</td>
                    <td class="govuk-table__cell">2,384</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Tuesday 22 December</td>
                    <td class="govuk-table__cell">1,924</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Tuesday 29 December</td>
                    <td class="govuk-table__cell">2,084</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" style="border-bottom:none;">Tuesday 5 January</td>
                    <td class="govuk-table__cell" style="border-bottom:none;">2,145</td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>

</div>
        </div>





      </div>
  </div>


  {% endblock %}
