{% extends "layout.html" %}

{% block header %}
{% include './_header-manage.html' %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <br>
    <br>
    <h1 class="govuk-heading-xl">Manage Winter Fuel Payments</h1>


    <form method="post">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="manage-jobs3">Manage things...</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="payments">Payments</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="letters">Letters</a>
              </li>


          </nav>



        </div>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
          }) }}

          <br>
          <br>

          <h2 class="govuk-heading-l">Payments by day</h2>

          <br>

          <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#payments-sent">
                  <span class="govuk-caption-m"></span>
                  <h3 class="govuk-heading-m">Payments sent</h3>
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#scheduled">
                  <span class="govuk-caption-m"></span>
                  <h3 class="govuk-heading-m">Payments scheduled</h3>
                </a>
              </li>
            </ul>
            <div class="govuk-tabs__panel" id="payments-sent">
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">Payments sent</th>
                    <th scope="col" class="govuk-table__header">Payments returned</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Wednesday 28 October</td>
                    <td class="govuk-table__cell">81,324</td>
                    <td class="govuk-table__cell">392</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Tuesday 27 October</td>
                    <td class="govuk-table__cell">203,928</td>
                    <td class="govuk-table__cell">105</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Monday 26 October</td>
                    <td class="govuk-table__cell">2</td>
                    <td class="govuk-table__cell">0</td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="scheduled">
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">Number of payments</th>

                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Thursday 29 October</td>
                    <td class="govuk-table__cell">16</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Friday 30 October</td>
                    <td class="govuk-table__cell">16</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Monday 2 November</td>
                    <td class="govuk-table__cell">24</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Tuesday 3 November</td>
                    <td class="govuk-table__cell">24</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Wednesday 4 November</td>
                    <td class="govuk-table__cell">24</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Thursday 5 November</td>
                    <td class="govuk-table__cell">24</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Friday 6 November</td>
                    <td class="govuk-table__cell">24</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Monday 9 November</td>
                    <td class="govuk-table__cell">24</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Tuesday 10 November</td>
                    <td class="govuk-table__cell">24</td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div>
      </div>


  </div>
</div>


{% endblock %}
