{% extends "layout.html" %}

{% block header %}
  {% include './_header.html' %}
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="check-cases">Check and update cases</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="error">Cases in error</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Unverified addresses</li>
  </ol>
</div>

{{ govukBackLink({
    text: "Back",
    href: back
  }) }}


  <br>
  <br>


<form method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Unverified addresses</h1>

        <h3 class="govuk-heading-l"> 153,653
        <p class="govuk-body govuk-!-font-size-24">cases in total.</p></h3>

        <button href="overview-verify-address" class="govuk-button" data-module="govuk-button">
          Verify an address
        </button>

</div>
</div>

</form>


{% endblock %}
