{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_blue_bar.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form method="post">

          {% include './_bar.html' %}

          {{ govukBackLink({
                            text: "Back",
                            href: back
                          }) }}

          <br>
          <br>

          <form method="post">

            <h2 class="govuk-heading-l">Verify an address</h2>

            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Unverified address</th>
                  <td class="govuk-table__cell govuk-!-width-one-half">
                    Flat D<br>
                    104 Boundary Lane<br>
                    Hulme<br>
                    Manchester<br>
                    M15 6FD</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mobile number</th>
                  <td class="govuk-table__cell">07771 900 900</td>
                </tr>
              </tbody>
            </table>

<br>

            <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h1 class="govuk-fieldset__heading">
      Enter address details
    </h1>
  </legend>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-1">
      Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
    </label>
    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-town">
      Town or city
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-county">
      County
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
  </div>

</fieldset>



            <button type="submit" class="govuk-button">
              Find address
            </button>

          </form>





          <br>


      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
