<h2 class="govuk-heading-m">
  History
</h2>
<ol class="app-timeline">

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Notification letter sent
    </h3>
    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden">Letter sent</span>
      <span class="govuk-content"></span>
      <span class="app-timeline__date">
        12 July 2020
      </span>
    </p>
  </li>

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Payment made
    </h3>
    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden">Payment made</span>
      <span class="govuk-content">COVID-19</span>
      <span class="app-timeline__date">
        12 July 2020
      </span>
    </p>
  </li>

</ol>
