{% extends "layout.html" %}

{% block header %}
{% include './_header-check.html' %}
{% endblock %}


{% block pageTitle %}
Emergency ‘Top up’ Payments (COVID19)
{% endblock %}
{% block content %}


<div class="govuk-width-container">

  <h1 class="govuk-heading-xl">
    Check results
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <section class="key-details-bar-black" role="contentinfo" aria-label="Key details">
        <dl class="key-details-bar-black__key-details">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-0">X million</h2>
          <span class="govuk-caption-l">cases</span>
        </dl>
      </section>
    </div>
<div class="govuk-grid-column-one-third">
  <section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="eligible">X million</a></h2>
      <span class="govuk-caption-l"><a href="eligible">eligible</a></span>
    </dl>
  </section>
</div>
<div class="govuk-grid-column-one-third">
  <section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="eligible">00,000</a></h2>
      <span class="govuk-caption-l"><a href="eligible">in error</a></span>
    </dl>
  </section>
</div>
</div>

  <main class="govuk-main-wrapper">
    <div class="prototype-write-up">
      <div class="govuk-grid-row">


  </main>
</div>

{% endblock %}
