{% extends "layout.html" %}

{% block header %}
{% include './_header-check.html' %}
{% endblock %}


{% block pageTitle %}
Emergency ‘Top up’ Payments (COVID19)
{% endblock %}
{% block content %}


<div class="govuk-width-container">

  <h1 class="govuk-heading-xl">
    COVID-19 payments
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <section class="key-details-bar-black" role="contentinfo" aria-label="Key details">
        <dl class="key-details-bar-black__key-details">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-0">192,029</h2>
          <span class="govuk-caption-l">total cases</span>
        </dl>
      </section>
    </div>
<div class="govuk-grid-column-one-quarter">
  <section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="covid-19">82,099</a></h2>
      <span class="govuk-caption-l"><a href="covid-19">New JSA</a></span>
    </dl>
  </section>
</div>
<div class="govuk-grid-column-one-quarter">
  <section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="covid-19">23,768</a></h2>
      <span class="govuk-caption-l"><a href="covid-19">JSA</a></span>
    </dl>
  </section>
</div>
<div class="govuk-grid-column-one-quarter">
  <section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="covid-19">13,256</a></h2>
      <span class="govuk-caption-l"><a href="covid-19">?</a></span>
    </dl>
  </section>
</div>
</div>

  <main class="govuk-main-wrapper">
    <div class="prototype-write-up">
      <div class="govuk-grid-row">


  </main>
</div>

{% endblock %}
