<nav class="navigation-secondary">
  <ul style="padding-top:30px">
    <li>
      <a href="overview" class="active" aria-current="page">Overview</a>
    </li>

    <li>
      <a href="contact" class="" aria-current="page">Contact</a>
    </li>

    <li>
      <a href="payment" class="" aria-current="page">Payments</a>
    </li>

    <li>
      <a href="history" class="" aria-current="page">History</a>
    </li>
    <li>
      <a href="" class="" aria-current="page">Full case details</a>
    </li>

  </ul>
</nav>
