{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {% include './_bar.html' %}

            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>

            <form method="post">

              <div class="govuk-form-group">
                <h1 class="govuk-heading-l">Add benefit flag for</h1>
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  </legend>
                  <div class="govuk-radios govuk-radios--small">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="living-with-q-week-yes" name="living-with-q-week" type="radio" value="Lives with someone else of State Pension age">
                      <label class="govuk-label govuk-radios__label" for="living-with-q-week-1">
                        Pension Credit
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="living-with-q-week-no" name="living-with-q-week" type="radio" value="Does not live with anyone else of State Pension age">
                      <label class="govuk-label govuk-radios__label" for="living-with-q-week-2">
                        State Pension
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="living-with-q-week-yes" name="living-with-q-week" type="radio" value="Lives with someone else of State Pension age">
                      <label class="govuk-label govuk-radios__label" for="living-with-q-week-1">
                        Income Support
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="living-with-q-week-yes" name="living-with-q-week" type="radio" value="Lives with someone else of State Pension age">
                      <label class="govuk-label govuk-radios__label" for="living-with-q-week-1">
                        Employment and Support Allowance (IR)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="living-with-q-week-yes" name="living-with-q-week" type="radio" value="Lives with someone else of State Pension age">
                      <label class="govuk-label govuk-radios__label" for="living-with-q-week-1">
                        Jobseeker's Allowance (IB)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="living-with-q-week-yes" name="living-with-q-week" type="radio" value="Lives with someone else of State Pension age">
                      <label class="govuk-label govuk-radios__label" for="living-with-q-week-1">
                        Carer's Allowance
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="living-with-q-week-yes" name="living-with-q-week" type="radio" value="Lives with someone else of State Pension age">
                      <label class="govuk-label govuk-radios__label" for="living-with-q-week-1">
                        Personal Independence Allowance
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="living-with-q-week-yes" name="living-with-q-week" type="radio" value="Lives with someone else of State Pension age">
                      <label class="govuk-label govuk-radios__label" for="living-with-q-week-1">
                        Attendance Allowance
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="living-with-q-week-yes" name="living-with-q-week" type="radio" value="Lives with someone else of State Pension age">
                      <label class="govuk-label govuk-radios__label" for="living-with-q-week-1">
                        Personal Independence Payment
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="living-with-q-week-yes" name="living-with-q-week" type="radio" value="Lives with someone else of State Pension age">
                      <label class="govuk-label govuk-radios__label" for="living-with-q-week-1">
                        Industrial Injuries
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <button type="submit" class="govuk-button">
                Add flag and continue
              </button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
