{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

    <!--    {% include './_bar.html' %}  -->

    <h1 class="govuk-heading-xl">
      Can uou confirm your full name?<br>
                      <span class="govuk-body-l">
                        Theodora Best<br>
                        {% if data['nino'] %}
                          {{data['nino']}}
                        {% else %}
                          XX 12 34 56
                        {% endif %}

                      </span>
    </h1>

        <button type="submit" class="govuk-button">
          Confirm name
        </button>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
