{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {{ govukBackLink({
              text: "Back",
              href: back
            }) }}

          <br>
          <br>

          <div class="govuk-panel govuk-panel--confirmation">
                    <div class="govuk-panel__body">
                    <strong>You qualify for a Winter Fuel Payment of £100</strong>
                    </div>
                  </div>
<br>
          <p>For winter 2019, we worked out your payment during the week
           of 16 to 22 September 2019. This is called the 'qualifying week'.</p>

           <p>You qualify for £100 because you moved into the home more than 13
             weeks before the qualify week.</p>

      </div>


    </div>

</div>

</main>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
