{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include './_blue_bar.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">
          
          {{ govukBackLink({
              text: "Back",
              href: back
            }) }}

          <br>
          <br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

              <h1 class="govuk-heading-l">Check the caller’s answers</h1>


              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Address
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data.address %}
                    {{data.address.split(', ').join('<br />') | safe}}
                    <br>
                    {{data.postcode}}
                    {% else %}
                    <p>27 Kent Street<br>
                      Crossmoor<br>
                       PR4 9FH
                    </p>
                    {% endif %}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">Address</span>
                    </a>
                  </dd>
                </div>


                {% if data['moveday'] %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    When did you move to this address?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data.moveday}}/{{data.movemonth}}/{{data.moveyear}}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> date of birth</span>
                    </a>
                  </dd>
                </div>
                {% endif %}


                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Occupants
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Nobody else over State Pension age
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> date of birth</span>
                    </a>
                  </dd>
                </div>
              </dl>

              <div class="govuk-inset-text">
                Based on the information you have given us, you should have received £100.
                Some of this information does not match what DWP currently hold on record.
              </div>


                            <h1 class="govuk-heading-s">Do you want us to change your details?</h1>


              <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>

    <br>

            </fieldset>

            <button type="submit" class="govuk-button">
              Continue
            </button>

          </div>

      </div>


    </div>

</div>

</main>
</div>

{% endblock %}
