{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include './_blue_bar.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {{ govukBackLink({
              text: "Back",
              href: back
            }) }}

          <br>
          <br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

              <div class="govuk-panel govuk-panel--confirmation">
                <div class="govuk-panel__body">
                  <strong>Your details have been passed on to be checked and reviewed
                  </strong>
                </div>
              </div>
          </div>

          <h2 class="govuk-heading-m">What happens next</h2>
          <p>You will receive a confirmation letter within 4 weeks.</p>


        </form>
      </div>

    </div>


</div>

</div>

</main>
</div>

{% endblock %}
