{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {{ govukBackLink({
              text: "Back",
              href: back
            }) }}

          <br>
          <br>

          <h1 class="govuk-heading-l">You need to call the Winter Fuel Payment Centre</h1>


          <p>
          Because you do not get a State Pension or Pension Credit, you need to contact the Winter Fuel Payment Centre.
          </p>

          <br>

          <p><b>Winter Fuel Payment Centre</b><br></p>

            <p><b>Telephone: </b>0800 731 0160<br>
            <b>Telephone from outside the UK:</b> +44 (0)191 218 7777<br>
            <b>Textphone:</b> 0800 731 0464<br>
            <b>Textphone from outside the UK:</b> +44 (0)191 218 7280<br>
            Monday to Friday, 8am to 6pm</p>


      </div>


    </div>

</div>
</main>
</div>

{% endblock %}
