{% extends "layout.html" %}

{% block pageTitle %}
  Name and National Insurance number - Cancel your Winter Fuel payments
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="pause-summary-no-ref" method="post">
        <h1 class="govuk-heading-xl">
          Your details
        </h1>

        {{ govukInput({
          label: {
            text: "What is your full name?"
          },
          hint: {
            text: "Include any middle names."
          },
          id: "full-name",
          name: "full-name",
          classes: "govuk-input--width-20",
          value: data["full-name"]
        }) }}

        {{ govukInput({
          label: {
            text: "What is your National Insurance number?"
          },
          id: "nino",
          name: "nino",
          classes: "govuk-input--width-10",
          value: data["nino"]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
