{% extends "layout.html" %}

{% block pageTitle %}
  What’s the postcode? - Pension Credit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      What is your home postcode?
    </h1>

    <form action="address-choice" method="post" class="form">
      {{ govukInput({
        id: "postcode",
        name: "postcode",
        value: data["postcode"],
        classes: "govuk-input--width-10",
        label: {
          text: "Postcode"
        }
      }) }}

      <input type="hidden" name="address-complete" value="in-progress"/>

      {{ govukButton({
        text: "Find address"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
