{% extends "layoutsearch.html" %}

{% block page_title %}
your information
{% endblock %}

{% block content %}

<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Will you be living at this address during Qualifying Week?
      </h1>
    </legend>
<form method=post>
<div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="qweek-yes" name="qweek" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="qweek-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="qweek-no" name="qweek" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="qweek-no">
          No
        </label>
      </div>
    </div>

<button type="submit" class="govuk-button"> Continue 
                </button>
</form>
{% endblock %}