{% extends "layoutsearch.html" %}

{% block page_title %}
Decision
{% endblock %}

{% block content %}

<div class="govuk-width-container">

<a href="/sprint15/international/findsomeone" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">




        <h1 class="govuk-heading-xl">National insurance number results</h1>
       
<p class="govuk-heading-m govuk-!-margin-bottom-0">No results found</p>

<br>
<br>
           <p> <a href="/sprint15/international/someoneelse.html" class="govuk-button"> Make a new claim </a></p>



           
    </div>

  </main>
</div>

{% endblock %}