{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

            {% include './_bar.html' %}

            {{ govukBackLink({
                text: "Back",
                href: back
              }) }}

            <br>
            <br>

            <h1 class="govuk-heading-l">Confirm bank</h1>

            <p>TSB</p>

            <form method="post">

              <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changed-name">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                No
              </label>
            </div>
          </div>

              {% if data.homephone %}
            <div>
            <a href="homephone-remove" class="govuk-link govuk-!-font-size-19">Remove 01665 720 871</a>
            </div>
              {% endif %}


            <br>

            <button type="submit" class="govuk-button">
              Save
            </button>
            </form>

      </div>

    </div>

  </div>

  </main>
  </div>



  {% endblock %}
