{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">
          {% include './_bar.html' %}

          {% include './_tab-contact-topup.html' %}

          <br>
          <br>

          <table class="govuk-table">
            <h2 class="govuk-heading-m">Contact details</h2>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Current address</th>
                <td class="govuk-table__cell">
                  {% if data['address-change'] %}
                  {{data['address-change'].split(', ').join('<br />') | safe }}
                  {% elif data.address %}
                  {{data.address.split(', ').join('<br />') | safe}}
                  {% else %}
                  78 Graham Road<br>
                  Chelsham<br>
                  CR6 9ND
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="address">
                    Change
                    <span class="govuk-visually-hidden">Change address</span>
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date they moved in</th>
                <td class="govuk-table__cell">
                  6 March 2016
                </td>
                <td class="govuk-table__cell">
                  <a href="address">
                    Change
                    <span class="govuk-visually-hidden">Change address</span>
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Home telephone</th>
                <td class="govuk-table__cell">
                  {% if data['homephone-remove'] === 'Yes' %}
                  {% elseif data.homephone %}
                  {{data.homephone}}
                  {% else %}
                  01665 720 871
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="homephone">
                <!--    Change
                    <span class="govuk-visually-hidden">Change home phone number</span> -->
                    {% if not data.homephone %}
                    Add<span class="govuk-visually-hidden"> home phone number</span>
                    {% else %}
                    Change<span class="govuk-visually-hidden"> home phone number</span>
                    {% endif %}
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Mobile</th>
                <td class="govuk-table__cell">
                  {% if data.mobilenumber %}
                  {{data.mobilenumber}}
                  {% endif %}
                  {% if data['mobilephone-remove'] === 'Yes' %}
                  {% elseif data.mobilephone %}
                  {{data.mobilephone}}
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="mobilephone">
                    {% if not data.mobilenumber %}
                    Add<span class="govuk-visually-hidden"> mobile number</span>
                    {% else %}
                    Change<span class="govuk-visually-hidden"> mobile number</span>
                    {% endif %}
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Work telephone</th>
                <td class="govuk-table__cell">
                  {% if data.worknumber %}
                  {{data.worknumber}}
                  {% endif %}
                  {% if data['workphone-remove'] === 'Yes' %}
                  {% elseif data.workphone %}
                  {{data.workphone}}
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="workphone">
                    {% if not data.worknumber %}
                    Add<span class="govuk-visually-hidden"> work number</span>
                    {% else %}
                    Change<span class="govuk-visually-hidden"> work number</span>
                    {% endif %}
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email address</th>
                <td class="govuk-table__cell">
                  {% if data['email-remove'] === 'Yes' %}
                  {% elseif data.email %}
                  {{data.email}}
                  {% else %}
                  mary234@hotmail.com
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="email">
                    Change<span class="govuk-visually-hidden">email</span>
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Contact preferences</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">
                  <a href="">
                    {% if not data.contactpreferences %}
                    Add <span class="govuk-visually-hidden">contact preferences</span>
                    {% else %}
                    Change <span class="govuk-visually-hidden">contact preferences</span>
                    {% endif %}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

      </div>

      <div class="govuk-grid-column-one-third">
        {% include './_action-history2.html' %}
      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
