{% extends "layout.html" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {% include './_bar.html' %}

          {{ govukBackLink({
              text: "Back",
              href: back
            }) }}

          <br>
          <br>

          <h1 class="govuk-heading-l">Caller declaration</h1>

          <p>By making this change, you agree that:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the information you've given is correct and complete as far as you know</li>
              <!--          <li>you'll tell Department for Work and Pensions (DWP) straight
                          away if your circumstances change </li>   -->
            <li>you'll pay back any money you're overpaid if you're asked to</li>
          </ul>

          {{ govukWarningText({
            text: "You could be prosecuted or have to pay a financial penalty if you deliberately
            give the wrong or incomplete information or do not report changes",
            iconFallbackText: "Warning"
          }) }}


            <button type="submit" class="govuk-button">
              Caller agrees, continue
            </button>

          </div>

      </div>


    </div>

</div>

</main>
</div>

{% endblock %}
