{% extends "layoutsearch.html" %}

{% block header %}
{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
<section aria-label="key-details" class="key-details-bar" role="contentinfo"> 
    <dl class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">
            <dd class="key-details-bar__name"> {{data.fullname}} </dd>
            <dd class="key-details-bar__DOB"> DOB: {{data.dobday}} {{data.dobmonth}} {{data.dobyear}} </dd>
        </div>
    </dl>
</section>
{% endblock %}

{% block content %}
 
  <div class="govuk-width-container">

<a href="/sprint15b/international/anyone-else-sp" class="govuk-back-link">Back</a>

 <form method=post>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl govuk-!-font-size-36">Household details</span>
                    <h1 class="govuk-heading-xl">What are the details of the person who lives with you born on or before 5 April 1954?</h1>
                    
                    <label class="govuk-label govuk-body" for="full-name">
                        <strong>Full name</strong>
                    </label>
                    <input class="govuk-input" id="sp-full-name" name="spfullname" type="text" autocomplete="name" spellcheck="false">

                    <label class="govuk-label govuk-body govuk-!-margin-top-5" for="sp-ni-number">
                        <strong>National insurance number</strong>
                    </label>
                    <input class="govuk-input" id="sp-ni-number" name="spninumber" type="text" autocomplete="name" spellcheck="false">
                    
            <label class="govuk-label govuk-!-margin-top-5" for="sp-dob">
                <strong>Date of birth</strong>
            </label>
                    <span id="dob-hint" class="govuk-hint">
                      For example, 12 11 1960
                    </span>

                            <div class="govuk-date-input" id="sp-dobinput" name="sp-dobinput">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="sp-dob-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="spdobday" name="spdobday" type="number" pattern="[0-9]*">
                      </div>
                    </div>


                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="sp-dob-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="spdobmonth" name="spdobmonth" type="number" pattern="[0-9]*">
                        </div>
                      </div>


                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="sp-dob-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="spdobyear" name="spdobyear" type="number" pattern="[0-9]*">
                      </div>
                    </div>                
        </div>
           
            <button type="submit" class="govuk-button govuk-!-margin-right-1">
              Save and continue
            </button>

            <a href="/sprint15b/international/anyone-else-sp-details-filledin" class="govuk-button govuk-button--secondary">
              Add another person
            </a>


    </main>

</form>
</div>

  {% endblock %}


  
  