
{% extends "layoutsearch.html" %}

{% block page_title %}
PAB details 
{% endblock %}

{% block header %}
{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
<section aria-label="key-details" class="key-details-bar" role="contentinfo"> 
    <dl class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">
            <dd class="key-details-bar__name"> {{data.fullname}} </dd>
            <dd class="key-details-bar__DOB"> DOB: {{data.dobday}} {{data.dobmonth}} {{data.dobyear}} </dd>
        </div>
    </dl>
</section>


{% endblock %}



{% block content %}

 <div class="govuk-width-container">
 <a href="/sprint15b/international/country-leavinguk2" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">

<form method="post"> 
<span class="govuk-caption-xl govuk-!-font-size-36">Outside UK details</span>
    <h1 class="govuk-heading-xl">What countries have you lived in since leaving the UK?</h1>
<div class="govuk-inset-text">
<p> Spain</p>
</div>
    <div class="govuk-form-group">
        <input class="govuk-input govuk-input--width-20" id="country" name="country" type="text" autocomplete="street-addres" spellcheck="false"> 
    </div>


            
            <a href="/sprint15b/international/worked-outside" class="govuk-button govuk-!-margin-right-1"> Save and continue </a>

            <a href="#" class="govuk-button govuk-button--secondary">
              Add another
            </a>

</form>
</main>
</div>
{% endblock %}