{% extends "layoutsearch.html" %}

{% block page_title %}
Decision
{% endblock %}

{% block content %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">What do you want to do?</h1>
       
       <h3 class="govuk-heading-m">Make a new claim</h3>
          <p> Start a new claim for Winter Fuel for a citizen that has not recieved it automatically.</p>
           <p> <a href="/sprint15b/international/whattype.html" class="govuk-button"> Continue </a></p>

           <h3 class="govuk-heading-m">View a Claim</h3>
          <p> For enquiries, change of circumstances and establishing GSLs.</p>
           <p> <a href="/international/uk" class="govuk-button"> Continue </a></p>

           
    </div>

  </main>
</div>

{% endblock %}









