{% extends "layoutsearch.html" %}

{% block header %}
{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
<section aria-label="key-details" class="key-details-bar" role="contentinfo"> 
    <dl class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">
            <dd class="key-details-bar__name"> {{data.fullname}} </dd>
            <dd class="key-details-bar__DOB"> DOB: {{data.dobday}} {{data.dobmonth}} {{data.dobyear}} </dd>
        </div>
    </dl>
</section>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a href="/sprint15b/international/sp-outside" class="govuk-back-link">Back</a>
 
 
 <form method=post>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl govuk-!-font-size-36">Outside UK details</span>
                    <h1 class="govuk-heading-xl">Give State Pension or benefit details</h1>

                    
                    <div class="govuk-inset-text">
                    <p> <strong>Type 1</strong><br> State Pension
                    <br>Ireland
                    <br>01 04 2018
                    </p>
                    
                    </div>

                    <label class="govuk-label govuk-!-margin-top-5" for="sp-ni-number">
                        <strong>What type of benefit do you get?
                    </label>
                        <div class="govuk-form-group">
                        <textarea class="govuk-textarea" id="benefittype" name="benefittype" rows="1"></textarea>
                        </div>

                <label class="govuk-label govuk-!-margin-top-5" for="sp-ni-number">
                        <strong>Which country pays this benefit?
                    </label>
                <input class="govuk-input" id="countrybenefit" name="countrybenefit" type="text" autocomplete="name" spellcheck="false">
                    
                                
                                

                    <label class="govuk-label govuk-!-margin-top-5" for="sp-ni-number">
                        <strong>What date did it start?
                    </label>
                                <span id="dob-hint" class="govuk-hint">
                      These dates do not have to be exact, but to the best of your knowledge
                </span>
                                <span id="dob-hint" class="govuk-hint">
                                        For example, 12 11 1960
                                    </span>


                                    <div class="govuk-date-input" id="outsidebenefitdate" name="outsidebenefitinput">
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="outsidebenefit-day">
                                                Day
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="outsidebenefitday" name="outsidebenefitday" type="number" pattern="[0-9]*">
                                            </div>
                                        </div>


                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="outsidebenefit-month">
                                                Month
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="outsidebenefitmonth" name="outsidebenefitmonth" type="number" pattern="[0-9]*">
                                            </div>
                                        </div>


                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="outsidebenefit-year">
                                                Year
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="outsidebenefityear" name="outsidebenefityear" type="number" pattern="[0-9]*">
                                            </div>
                                        </div>
                                    </div>
                    
                    


                </div>
        </div>
            
            <button type="submit" class="govuk-button govuk-!-margin-right-1">
              Save and continue
            </button>

            <a href="#" class="govuk-button govuk-button--secondary">
              Add another
            </a>


    </main>

</form>
</div>
  {% endblock %}


  
  