{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h2 class="govuk-heading-xl">Mary Henrietta Morrison<br>
          <span class="govuk-caption-xl"> {{data.nino}} </span>
    <!--      <span class="app-c-tag">Gets a Winter Fuel Payment</span>  -->
        </h2>

            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>

            <form method="post">

                  <h2 class="govuk-heading-l">House number and postcode</h2>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-5">
                      Postcode
                    </label>
                    <input class="govuk-input govuk-input--width-5" id="postcode" name="postcode" type="postcode">
                  </div>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-10">
                      House number or name
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                  </div>

                </fieldset>
              </div>

              <button type="submit" class="govuk-button">
                Continue
              </button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
