{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        {% include './_bar.html' %}

        {{ govukBackLink({
              text: "Back",
              href: back
            }) }}

        <br>
        <br>

        <table class="govuk-table">
          <caption class="govuk-table__caption"></caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Amount overpaid</th>
              <td class="govuk-table__cell">£100</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Age during qualifying week</th>
              <td class="govuk-table__cell">79</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Address</th>
              <td class="govuk-table__cell">
                78 Graham Road<br>
                Chelsham<br>
                CR6 9ND</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date they moved in</th>
              <td class="govuk-table__cell">1 March 2002</td>
            </tr>
          </tbody>
        </table>

        <br>
        <h3 class="govuk-heading-m">New information</h3>

        <table class="govuk-table">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Occupancy details during qualifying week</th>
            <td class="govuk-table__cell">Was living with someone of State Pension age</td>
          </tr>
        </table>

      <form method="post">

        <button class="govuk-button" data-module="govuk-button">
          Send to debt management
        </button>

      </form>

        <p><a href="#" class="govuk-link">Don't send to debt management, send somewhere else...</a></p>

      </div>
    </div>
  </main>




</div>

</div>

</div>

</main>
</div>

{% endblock %}
