{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>

            <form method="post">

                  <h2 class="govuk-heading-l">No addresses found</h2>

                  <p>No addresses found for
                    <br><strong>52</strong> and <strong>NE25 1XX </strong>  <a href="address" class="govuk-link govuk-link--no-visited-state">
                      <br>Change</a></p>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
