{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block beforeContent %}
{% include './_blue_bar.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">


            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>

            <form method="post">

              <h2 class="govuk-heading-xl">Can you confirm your full address?</h2>

              <p><b>20</b> address found for <b>"{% if data['house-number'] %}
                                  {{data['house-number']}}
                                {% else %}
                                27
                                {% endif %}"
                              </b> and <b>"{% if data['postcode'] %}
                                                  {{data['postcode']}}
                                                {% else %}
                                                NE65 0LZ
                                                {% endif %}"</b></p>


                                                <div class="govuk-form-group">
                                                  <label class="govuk-label" for="sort">
                                                    Select an address
                                                  </label>
                                                  <select class="govuk-select govuk-!-width-full" id="sort" name="sort">
                                                    <option value="updated" selected>20 addresses found</option>
                                                    <option value="published">27 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="views">29 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="comments">25 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="published">31 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="views">3 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="comments">17 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="published">21 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="views">Boots the Chemists Ltd, 33-35 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="comments">1 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="published">5 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="views">7 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="comments">11 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="published">9 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="views">13 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="comments">23 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="published">37 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="views">19 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="comments">39 Kent Street, Amble, NE65 0LZs</option>
                                                    <option value="published">41 Kent Street, Amble, NE65 0LZ</option>
                                                    <option value="views">15 Kent Street, Amble, NE65 0LZ</option>
                                                  </select>
                                                </div>


<p><a href="address" class="govuk-link">Search again</a></p>


              <button type="submit" class="govuk-button">
                Continue
              </button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
