{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block beforeContent %}
{% include './_blue_bar.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">


            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>

            <form method="post">

              <h2 class="govuk-heading-xl">Can you confirm your full address?</h2>

              <p><b>20</b> address found for <b>"{% if data['house-number'] %}
                                  {{data['house-number']}}
                                {% else %}
                                27
                                {% endif %}"
                              </b> and <b>"{% if data['postcode'] %}
                                                  {{data['postcode']}}
                                                {% else %}
                                                NE65 0LZ
                                                {% endif %}"</b></p>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address" name="address-change" type="radio" value="27 Kent Street, Amble, NE65 0LZ">
                      <label class="govuk-label govuk-radios__label" for="address">
                        27 Kent Street, Amble, NE65 0LZ<br>
                        <strong class="govuk-tag govuk-tag--blue">
                        Residential
                        </strong>
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-2" name="address-change" type="radio" value="29 Kent Street, Amble, NE65 0LZ">
                      <label class="govuk-label govuk-radios__label" for="address-2">
                        29 Kent Street, Amble, NE65 0LZ<br>
                        <strong class="govuk-tag govuk-tag--blue">
                        Residential
                        </strong>
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-3" name="address-change" type="radio" value="25 Kent Street, Amble, NE65 0LZ">
                      <label class="govuk-label govuk-radios__label" for="address-3">
                        25 Kent Street, Amble, NE65 0LZ<br>
                        <strong class="govuk-tag govuk-tag--blue">
                        Residential
                        </strong>
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-4" name="address-change" type="radio" value="31 Kent Street, Amble, NE65 0LZ">
                      <label class="govuk-label govuk-radios__label" for="address-4">
                        31 Kent Street, Amble, NE65 0LZ<br>
                        <strong class="govuk-tag govuk-tag--blue">
                        Residential
                        </strong>
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-5" name="address-change" type="radio" value="3 Kent Street, Amble, NE65 0LZ">
                      <label class="govuk-label govuk-radios__label" for="address-5">
                        3 Kent Street, Amble, NE65 0LZ<br>
                        <strong class="govuk-tag govuk-tag--blue">
                        Residential
                        </strong>
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-6" name="address-change" type="radio" value="17 Kent Street, Amble, NE65 0LZ">
                      <label class="govuk-label govuk-radios__label" for="address-6">
                        17 Kent Street, Amble, NE65 0LZ<br>
                        <strong class="govuk-tag govuk-tag--blue">
                        Residential
                        </strong>
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-7" name="address-change" type="radio" value="21 Kent Street, Amble, NE65 0LZ">
                      <label class="govuk-label govuk-radios__label" for="address-7">
                        21 Kent Street, Amble, NE65 0LZ<br>
                        <strong class="govuk-tag govuk-tag--blue">
                        Residential
                        </strong>
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-8" name="address-change" type="radio" value="33-35 Kent Street, Amble, NE65 0LZ">
                      <label class="govuk-label govuk-radios__label" for="address-8">
                      Boots the Chemists Ltd, 33-35 Kent Street, Amble, NE65 0LZ<br>
                      <strong class="govuk-tag govuk-tag--turquoise">
                      Commercial
                      </strong>
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-9" name="address-change" type="radio" value="1 Kent Street, Amble, NE65 0LZ">
                      <label class="govuk-label govuk-radios__label" for="address-9">
                        1 Kent Street, Amble, NE65 0LZ<br>
                        <strong class="govuk-tag govuk-tag--blue">
                        Residential
                        </strong>
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-10" name="address-change" type="radio" value="see all">
                      <label class="govuk-label govuk-radios__label" for="address-10">
                        See all results
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <button type="submit" class="govuk-button">
                Continue
              </button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
