{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% if data['phone-post'] === 'phone' %}
{% include './_blue_bar.html' %}
{% else %}
{% include './_blue_bar-2.html' %}
{% endif %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>

            <form method="post">

                  <h2 class="govuk-heading-xl">What is your house number and postcode?</h2>
                  <div class="govuk-inset-text">This must be the property you're currently living in.</div>


              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">


                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-10">
                      House number or name
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                  </div>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-5">
                      Postcode
                    </label>
                    <input class="govuk-input govuk-input--width-5" id="postcode" name="postcode" type="postcode">
                  </div>

                </fieldset>
              </div>

            <p>  <a href="no-permanent-address" class="govuk-link">This person does not have a permanent address</a> </p>

              <button type="submit" class="govuk-button">
                Find address
              </button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
