{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block beforeContent %}
{% include './_blue_bar.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
          }) }}

  <br>

          <form method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="are-you-sure-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Are you sure you want to leave this claim?
                </h1>
              </legend>
              <br>
              <span id="are-you-sure-hint" class="govuk-hint">
                You can't get it back, so take a long hard think about it. <br>
                <b>When it's gone, it's gone.</b>
              </span>
              <br>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="are-you-sure" name="are-you-sure" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="are-you-sure">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="are-you-sure-2" name="are-you-sure" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="are-you-sure-2">
                    No, continue with the claim
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Find
          </button>

        </form>



        </div>

      </div>

    </div>
    </main>
    </div>

    {% endblock %}
