{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_start_again.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}

<br>
<br>
      <form method="post">

        <h1 class="govuk-heading-xl">Do you get State Pension or Pension Credit?</h1>

        <p class="govuk-body">Or any of these benefits:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>income-based Jobseeker’s Allowance (JSA)</li>
          <li>income-related Employment and Support Allowance (ESA)</li>
          <li>Income Support</li>
          <li>War Pensions</li>
          <li>Attendance Allowance</li>
          <li>Personal Independence Payment (PIP)</li>
          <li>Carers Allowance</li>
        </ul>
        <br>

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="benefits-hint">
                    <div class="govuk-radios govuk-radios--inline">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="benefits" name="benefits" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="benefits">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="benefits-2" name="benefits" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="benefits-2">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>

        <button type="submit" class="govuk-button">
          Continue
        </button>

      </form>


    </div>

  </div>

</div>

</main>
</div>

{% endblock %}
