{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">


          {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

          <br>
          <br>

          <form method="post">

            <h1 class="govuk-heading-xl">Citizen cannot be found</h1>

            <p> This will say something helpful... at some point in the near future 💁🏻
            <br>we can hope it doesn't happen until then</p>


          </form>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
