{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% if data['phone-post'] === 'phone' %}
{% include './_blue_bar.html' %}
{% else %}
{% include './_blue_bar-2.html' %}
{% endif %}

{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">


          {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

          <br>
          <br>

          <form method="post">

            <h1 class="govuk-heading-xl">What are your contact details?</h1>

            <p>We need at least one phone number.</p>

            <div class="govuk-form-group">
              <label class="govuk-label" for="telephone-number">
                Home phone
              </label>
              <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="telephone-number">
                Mobile phone
              </label>
              <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="telephone-number">
                Work phone
              </label>
              <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel">
            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
