{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% if data['phone-post'] === 'phone' %}
{% include './_blue_bar.html' %}
{% else %}
{% include './_blue_bar-2.html' %}
{% endif %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">


          {{ govukBackLink({
                text: "Back",
                href: back
              }) }}

          <br>
          <br>

          <form method="post">

            <h1 class="govuk-heading-xl">Do you have any extra contact needs?</h1>

            <p>We can provide audio CD, cassette or MP3, braille, large print, TexBox or TypeTalk.</p>

            <div class="govuk-form-group">

              <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                      Yes
                    </label>
                  </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
                    <p>Select any that they need.</p>
                    <div class="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="contact-requirements-2" name="waste" type="checkbox" value="Audio CD">
                        <label class="govuk-label govuk-checkboxes__label" for="contact-requirements">
                          Audio CD
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="contact-requirements-3" name="waste" type="checkbox" value="Casette">
                        <label class="govuk-label govuk-checkboxes__label" for="contact-requirements">
                          Cassette
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="contact-requirements-4" name="waste" type="checkbox" value="MP3">
                        <label class="govuk-label govuk-checkboxes__label" for="contact-requirements">
                          MP3
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="contact-requirements-5" name="waste" type="checkbox" value="Braille">
                        <label class="govuk-label govuk-checkboxes__label" for="contact-requirements">
                          Braille
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="contact-requirements-6" name="waste" type="checkbox" value="Large Print">
                        <label class="govuk-label govuk-checkboxes__label" for="contact-requirements">
                          Large print
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="contact-requirements-7" name="waste" type="checkbox" value="TexBox">
                        <label class="govuk-label govuk-checkboxes__label" for="contact-requirements">
                          TexBox
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="contact-requirements-8" name="waste" type="checkbox" value="TypeTalk">
                        <label class="govuk-label govuk-checkboxes__label" for="contact-requirements">
                          TypeTalk
                        </label>
                      </div>
                    </div>

                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
