{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block beforeContent %}
{% include './_blue_bar.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">


            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>

            <form method="post">

              <h1 class="govuk-heading-xl">Was anyone you live with born before 20 September 1940?</h1>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="living-with-age-over-80" name="living-with-age-over-80" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="living">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="living-with-age-over-80-2" name="living-with-age-over-80" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="living-2">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <button type="submit" class="govuk-button">
                Continue
              </button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
