{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block beforeContent %}
{% include './_blue_bar.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">


            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>

            <form method="post">

              <h2 class="govuk-heading-xl">No addresses found</h2>

              <p>No address found for <b>"{% if data['house-number'] %}
                                  {{data['house-number']}}
                                {% else %}
                                27
                                {% endif %}"
                              </b> and <b>"{% if data['postcode'] %}
                                                  {{data['postcode']}}
                                                {% else %}
                                                NE65 0LZ
                                                {% endif %}"</b></p>

<br>

              <button type="submit" class="govuk-button">
                TRY AGAIN
              </button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
