{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_start_again.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          text: "Back",
          href: back
        }) }}

<br>
<br>

        <h1 class="govuk-heading-xl">You don't need to apply</h1>
        <p>Because you get State Pension or Pension Credit you'll automatically get a Winter Fuel Payment if you're eligible and do not need to claim.</p>
        <button type="submit" class="govuk-button">
          View caller record
        </button>

    </div>

  </div>

</div>

</main>
</div>

{% endblock %}
