{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <div>
          <h1 class="govuk-heading-xl">
            Joyce Burris<br>
            <span class="govuk-body-l">
              {% if data['nino'] %}
              {{data['nino']}}
              {% else %}
              XX 12 34 56
              {% endif %}
<br>
              <strong class="govuk-tag govuk-tag--grey">
                Dead
              </strong>

            </span>
          </h1>
        </div>

            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>

            <form method="post">

              <h2 class="govuk-heading-l">Name of the death arrears payee</h2>

              <div class="govuk-form-group">
                <label class="govuk-label" for="payeename">
                  First name
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="payeename" name="payeename" type="text" spellcheck="false" autocomplete="name"><br><br>
                <label class="govuk-label" for="payeelastname">
                  Last name
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="payeelastname" name="payeelastname" type="text" spellcheck="false" autocomplete="name"></div>

              <button type="submit" class="govuk-button">
                Continue
              </button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
