{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_blue_bar.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form method="post">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div>
                <h1 class="govuk-heading-xl">
                  XX 62 31 26 C<br>
                  <span class="govuk-body-l">
                    Meera Rudd
                  </span>
              </div>

            </div>
          </div>

              {{ govukBackLink({
                  text: "Back",
                  href: "javascript:history.go(-1)"
                }) }}

                <br>
                <Br>

                                  <h1 class="govuk-heading-l">Request death arrears payee details</h1>

                                  <form method="post">
                                    <div class="govuk-inset-text">
                                      <p>Send form WFPF001 to next of kin.</p>
                                  </div>
                                    




            <button type="submit" class="govuk-button">
              Confirm form has been sent
            </button>

          </form>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
