{% extends "layout.html" %}

{% block header %}
{% include './_header-tasks.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form method="post">

          <h1 class="govuk-heading-xl">Tasks</h1>

          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="tasks">Unverified addresses</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="tasks-2">Contact citizens</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" aria-current="page" href="tasks-3">GSL decisions</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="tasks-4">Overpayment referrals</a>
            </li>
            </ul>

                      </nav>


                                <h1 class="govuk-heading-l">GSL decisions</h1>

                                <h3 class="govuk-heading-l"> 49
                                  <p class="govuk-body govuk-!-font-size-24">claims</p>
                                </h3>

                                <button class="govuk-button" data-module="govuk-button">
                                  Get next GSL decision case
                                </button>


        </form>


      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
