{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}


{% include './_find-someone.html' %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">


                <div>
                  <h1 class="govuk-heading-xl">
                    Alex Smith<br>
                    <span class="govuk-caption-xl">{{data.nino}}</span>
                    <span class="app-c-tag">Receiving Winter Fuel Payment</span>
                </div>

              </div>
            </div>

            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

<br>
<br>

            <h2 class="govuk-heading-l">Payment details</h2>


            <table class="govuk-table">
              <caption class="govuk-table__caption"></caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header"></th>
                  <th scope="col" class="govuk-table__header"></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date</th>
                  <td class="govuk-table__cell">Wednesday 30 October 2018</tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">
                        Amount
                      </th>
                      <td class="govuk-table__cell">£100</td>
                    </tr>
              </tbody>
            </table>

            <table class="govuk-table">
              <caption class="govuk-table__caption"></caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header"></th>
                  <th scope="col" class="govuk-table__header"></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Bank or building society</th>
                  <td class="govuk-table__cell">HSBC</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Account holder</th>
                  <td class="govuk-table__cell">Mrs A Smith</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">
                    Account number
                  </th>
                  <td class="govuk-table__cell">****5678</td>
                </tr>
              </tbody>
            </table>

            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
              
            </button>


          </div>
        </div>
      </main>

      <br>


  </main>
</div>


<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
