```
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post">
        <section class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l">About the caller</h2>
          {{ govukInput({
            label: {
              text: "Full name"
            },
            id: "caller-name",
            name: "caller[name]",
            classes: "govuk-!-width-three-quarters"
          }) }}
          {{ govukInput({
            label: {
              text: "Phone number"
            },
            id: "caller-phone",
            name: "caller[phone]",
            classes: "govuk-!-width-three-quarters"
          }) }}
          {{ govukInput({
            label: {
              text: "Relationship to person who died"
            },
            id: "caller-relationship",
            name: "caller[relationship]",
            classes: "govuk-!-width-three-quarters"
          }) }}
        </section>

        <section>
          <h2 class="govuk-heading-l">About the person who died</h2>
          <p class="govuk-body">
            Use these details for the security check.
          </p>
          {{ govukInput({
            label: {
              text: "Full name"
            },
            id: "deceased-name",
            name: "deceased[name]",
            classes: "govuk-!-width-three-quarters"
          }) }}
          {{ govukDateInput({
            id: "deceased-dob",
            fieldset: {
              legend: {
                text: "Date of birth",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 31 3 1980"
            },
            items: [
              {
                label: "Day",
                name: "deceased[dob][day]",
                classes: "govuk-input--width-2"
              },
              {
                label: "Month",
                name: "deceased[dob][month]",
                classes: "govuk-input--width-2"
              },
              {
                label: "year",
                name: "deceased[dob][year]",
                classes: "govuk-input--width-4"
              }
            ]
          }) }}
          {% set noHtml %}
            {{ govukRadios({
              idPrefix: "security-passed-secondary",
              name: "security[passed2]",
              fieldset: {
                legend: {
                  text: "Were they able to answer the additional security questions?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}
          {% endset -%}
          {{ govukInput({
            label: {
              text: "National Insurance number"
            },
            id: "deceased-nino",
            name: "deceased[nino]",
            classes: "govuk-!-width-three-quarters"
          }) }}
            
          {{ govukRadios({
            idPrefix: "security-passed",
            name: "security[passed1]",
            fieldset: {
              legend: {
                text: "Did the caller provide all of these details?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No",
                conditional: {
                  html: noHtml
                }
              }
            ]
          }) }}
        </section>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
</div>

{% endblock %}