{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {% include './_underpayment-banner.html' %}

          {% include './_bar.html' %}

          {% include './_tab-overview.html' %}

          <br>
          <br>

          <table class="govuk-table">
            <h2 class="govuk-heading-m">2019 payment</h2>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Monday, 4 November 2019</th>
                <td class="govuk-table__cell">£100</td>
              </tr>
            </tbody>
          </table>


          <table class="govuk-table">
            <h2 class="govuk-heading-m">Qualification details</h2>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Age</th>
                <td class="govuk-table__cell">79</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of birth</th>
                <td class="govuk-table__cell">9 June 1940</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Occupancy details</th>
                <td class="govuk-table__cell"> {% if data['living-with'] %}
                  {{data['living-with']}}
                  {% else %}
                  Lives with someone else of State Pension age
                  {% endif %}</td>
              </tr>
            </tbody>
          </table>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
