{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {% include './_bar.html' %}

          {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

          <br>
          <br>


          {% if not data.email %}
          <h1 class="govuk-heading-l">Add email address</h1>
          {% else %}
          <h1 class="govuk-heading-l">Change email address</h1>
          {% endif %}

          <form method="post">
            <div class="govuk-form-group">
              <label class="govuk-label" for="email">
                Email address
              </label>
              <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint">
            </div>

            {% if data.email %}
            <div>
              <a href="email-remove" class="govuk-link govuk-!-font-size-19">Remove email address</a>
            </div>
            {% endif %}
            <br>

            <button type="submit" class="govuk-button">
              Save
            </button>
          </form>


      </div>

    </div>

</div>

</main>
</div>



{% endblock %}
