<h2 class="govuk-heading-m">
  Action history
</h2>
<ol class="app-timeline">

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      <a href="/" class="govuk-link">Changed bank account</a>
    </h3>

    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden">Marriage verified</span>
      <span class="app-timeline__date">
        5 January 2018
      </span>
    </p>
  </li>

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      <a href="/" class="govuk-link">Removed home telephone</a>
    </h3>

    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden"></span>
      <span class="app-timeline__date">
        8 March 2016
      </span>
    </p>
  </li>

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      <a href="history-details" class="govuk-link">Changed address and occupancy</a>
    </h3>

    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden"></span>
      <span class="app-timeline__date">
        8 March 2016
      </span>
    </p>
  </li>

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      <a href="/" class="govuk-link">Changed occupancy</a>
    </h3>

    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden"></span>
      <span class="app-timeline__date">
        5 July 2013
      </span>
    </p>
  </li>

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      <a href="/" class="govuk-link">Changed home telephone</a>
    </h3>

    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden"></span>
      <span class="app-timeline__date">
        19 January 2009
      </span>
    </p>
  </li>

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      <a href="history-details" class="govuk-link">Changed address</a>
    </h3>

    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden"></span>
      <span class="app-timeline__date">
        18 January 2009
      </span>
    </p>
  </li>

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      <a href="contact-history" class="govuk-link">See full history</a>
    </h3>
  </li>

</ol>
