{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form method="post">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div>
                <h1 class="govuk-heading-xl">
                  XX 12 34 56<br>
                  <span class="govuk-body-l">
                    Raphael Aldred
                  </span>
              </div>

            </div>
          </div>

          {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
          }) }}<br><br>

          <form method="post">

            <h1 class="govuk-heading-m">Details</h1>
            <table class="govuk-table">
              <caption class="govuk-table__caption"></caption>
              <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date of birth</th>
                    <td class="govuk-table__cell">29 August 1920</td>
                  </tr>
                </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Date of death</th>
                  <td class="govuk-table__cell">10 October 2021</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Address</th>
                  <td class="govuk-table__cell">1 Victoria Road<br>
                    FALKIRK<br>
                    FK55 8XN</td>	
                    
                    
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Date moved in</th>
                  <td class="govuk-table__cell">12 July 2019</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Occupancy</th>
                  <td class="govuk-table__cell">Lives with someone else who gets Winter Fuel Payment</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Payment amount</th>
                  <td class="govuk-table__cell">£150</td>
                </tr>
                </thead>
            </table>

            <br>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="dap-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                Do you have payment details for a death arrears payee?
                  </h1>
                </legend>
                <div id="dap-hint" class="govuk-hint">

                </div>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dap" name="dap" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="dap">
                    Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dap-2" name="dap" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="dap-2">
                    No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
