{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_blue_bar.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form method="post">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div>
                <h1 class="govuk-heading-xl">
                  XX 62 31 26 C<br>
                  <span class="govuk-body-l">
                  Roseanna Garza
                  </span>
              </div>

            </div>
          </div>


          <form method="post">

                              <h2 class="govuk-heading-l">
Address of the death arrears payee</h2>

  <fieldset class="govuk-fieldset">

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-1">
        Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
      </label>
      <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"></div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-2">
        <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
      </label>
      <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2"></div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-town">
        Town or city
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2"></div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-county">
        County
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text"></div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-postcode">
        Postcode
      </label>
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code"></div>

  </fieldset>


            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
