{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">
      <dd class="key-details-bar__name">Alex Smith</dd>

      <dd class="key-details-bar__nino">AB 12 34 56 C</dd>

      <dd class="key-details-bar__status">receiving winter fuel payment</dd>
    </div>

    <div class="key-details-bar__bottom-block">
      <dt>Date of birth:</dt>
      <dd>19 January 1953</dd>

      <!--<dt>Address:</dt>
      <dd>1 East Allerdean, Little Hayfield, High Peak, TD15 2TB</dd>-->

    </div>

  </dl>
</section>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="navigation-global">
      <ul>

        <li>
          <a href="ab123456c-overview" class="" aria-current="page">Overview</a>
        </li>

        <li>
          <a href="ab123456c-payment" class="active" aria-current="page">Payment</a>
        </li>

      </ul>
    </nav>
  </div>
</div>

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Bank or building society account details</h2>
        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
            <dd class="app-check-your-answers__answer">

            </dd>
            <dd class="app-check-your-answers__change">
              <a href="bankdetails">
                Change<span class="govuk-visually-hidden">Change payment details</span>
              </a>
            </dd>
          </div>

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__answer">
              Bank or building society
            </dt>
            <dd class="app-check-your-answers__answer">
              Lloyds
            </dd>
            <dd class="app-check-your-answers__change">
            </dd>
          </div>

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__answer">
              Account holder
            </dt>
            <dd class="app-check-your-answers__answer">
              {% if data.accountholder %}
                {{data.accountholder}}
              {% else %}
                Mr A B Smith
              {% endif %}
            </dd>
            <dd class="app-check-your-answers__change">
            </dd>
          </div>

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__answer">
              Account number
            </dt>
            <dd class="app-check-your-answers__answer">
              {% if data.accountnumber %}
                {{data.accountnumber}}
              {% else %}
                12345678
              {% endif %}
            </dd>
            <dd class="app-check-your-answers__change">
            </dd>
          </div>

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__answer">
              Sort code
            </dt>
            <dd class="app-check-your-answers__answer">
              {% if data.sortcode %}
                {{data.sortcode}}
              {% else %}
                01-02-03
              {% endif %}
            </dd>
            <dd class="app-check-your-answers__change">
            </dd>
          </div>

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__answer">
              Roll number
            </dt>
            <dd class="app-check-your-answers__answer">
              {% if data.rollnumber %}
                {{data.rollnumber}}
              {% endif %}
            </dd>
            <dd class="app-check-your-answers__change">
            </dd>
          </div>

        </div>


                <div class="govuk-grid-column-one-third">

                  <h2 class="govuk-heading-m">
                    Case history
                  </h2>
                  <ol class="app-timeline">
                    <li class="app-timeline__entry">
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                        Address changed
                      </h3>

                      <p class="app-timeline__info govuk-!-margin-bottom-0">
                        <span class="govuk-visually-hidden">Marriage verified</span>
                        <span class="app-timeline__date">
                          14 September 2018
                        </span>
                      </p>
                    </li>

                    <li class="app-timeline__entry">
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                        Bank account changed
                      </h3>

                      <p class="app-timeline__info govuk-!-margin-bottom-0">
                        <span class="govuk-visually-hidden">Marriage verified</span>
                        <span class="app-timeline__date">
                          5 July 2018
                        </span>
                      </p>
                    </li>

                    <li class="app-timeline__entry">
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                        Bank account changed
                      </h3>

                      <p class="app-timeline__info govuk-!-margin-bottom-0">
                        <span class="govuk-visually-hidden">Marriage verified</span>
                        <span class="app-timeline__date">
                          5 January 2018
                        </span>
                      </p>
                    </li>

                    <li class="app-timeline__entry">
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                        Bank account changed
                      </h3>

                      <p class="app-timeline__info govuk-!-margin-bottom-0">
                        <span class="govuk-visually-hidden">Marriage verified</span>
                        <span class="app-timeline__date">
                          17 November 2017
                        </span>
                      </p>
                    </li>

                  </ol>

                </div>


        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Payment details</h2>
          <dl class="app-check-your-answers app-check-your-answers--short">
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
              </dt>
              <dd class="app-check-your-answers__answer">

              </dd>
              <dd class="app-check-your-answers__change">
                </a>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__answer">
                Payment frequency
              </dt>
              <dd class="app-check-your-answers__answer">

                  Every year
              </dd>
              <dd class="app-check-your-answers__change">

                </dd>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__answer">
                Payment amount
              </dt>
              <dd class="app-check-your-answers__answer">
                £100
              </dd>
              <dd class="app-check-your-answers__change">
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__answer">
                Next payment
              </dt>
              <dd class="app-check-your-answers__answer">
                Sunday 24 November 2019
              </dd>
              <dd class="app-check-your-answers__change">
              </dd>
            </div>

          </div>





            </div>

        </main>        </div>
      </div>
      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
