{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

{% include './_bar.html' %}

{% include './_tab-payment.html' %}

            </div>
          </div>
        </main>

        </br>

        <a href="payment" class="govuk-back-link">Back</a>
      </br>
      </br>
      <h1 class="govuk-heading-l">Change bank or building society account</h1>

      <form method="post">
        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Enter new account holder name
          </label>
          <input class="govuk-input govuk-input--width-20" id="account-holder" name="accountholder" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Enter new account number
          </label>
          <input class="govuk-input govuk-input--width-20" id="account-number" name="accountnumber" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sortcode">
            Enter new sort code
          </label>
          <input class="govuk-input govuk-input--width-10" id="sort-code" name="sortcode" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="rollnumber">
            Enter new roll number
          </label>
          <input class="govuk-input govuk-input--width-10" id="roll-number" name="rollnumber" type="text">
        </div>


        <button type="submit" class="govuk-button">
          Save
        </button>
      </form>



    </div>

  </div>

</div>

</div>

</main>        </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
