{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_name_bar.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">


            <form method="post">

              
                <h1 class="govuk-heading-xl">
                  Your claim has been submitted
                </h1>
                <h2 class="govuk-heading-m">
                  Based on the information you've given, you qualify for a Winter Fuel Payment of £100.
                </h2>
            

<br>

               

                <p>Your payment will be made by 31 December 2020.</p>
                <br>
                <p>Once you have received a Winter Fuel Payment you'll continue to get
                  a payment every year without having to make another claim.</p>


              
                <p>However, your future payments may be affected if your circumstances change. We need to know as soon as possible if:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>you move house or there is a change to who you live with</li>
                  <li>you are in hospital for more than 52 weeks</li>
                  <li>you move into a care home</li>
                </ul></p>

                <p>
                  You can tell us about any changes to your circumstances by calling us on 0800 731 0160.
                </p>



            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
