{% extends "layout.html" %}

{% block header %}
{% include './_header-international.html' %}
{% endblock %}

{% block beforeContent %}
{% include './_name_bar.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
          }) }}

        <br>
        <br>

        <form method="post">

          <h1 class="govuk-heading-xl">Between 16 September and 22 September 2020, were you</h1>

                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="uk-benefit-conditional-hint">
                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="uk-benefit-conditional" name="uk-benefit" type="radio" value="hospital" data-aria-controls="q-week-1">
                            <label class="govuk-label govuk-radios__label" for="uk-benefit-conditional">
                              in hospital getting free treatment
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="uk-benefit-conditional" name="uk-benefit" type="radio" value="carehome" data-aria-controls="q-week-2">
                            <label class="govuk-label govuk-radios__label" for="uk-benefit-conditional">
                              in a care home
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="uk-benefit-conditional" name="uk-benefit" type="radio" value="prison" data-aria-controls="q-week-3">
                            <label class="govuk-label govuk-radios__label" for="uk-benefit-conditional">
                              in custody or serving a sentence imposed by a court
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="uk-benefit-conditional-2" name="uk-benefit" type="radio" value="no" data-aria-controls="q-week-4">
                            <label class="govuk-label govuk-radios__label" for="uk-benefit-conditional-2">
                              None of these
                            </label>
                          </div>

                        </div>
                      </fieldset>
                    </div>


          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>



      </div>

    </div>

</div>
</main>
</div>

{% endblock %}
