

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <div>
          <h1 class="govuk-heading-xl">
            {% if data['nino'] === 'MB 22 41 44 C' %}
            Carmel Bouvet
            {% endif %}
            {% if data['nino'] === 'AX 04 99 84 C' %}
                Olivia Christie
            {% elseif data['nino'] === 'JH 34 66 19 D' %}
            Asim Picket
            {% endif %}<br>
                            <span class="govuk-body-l">
                              {% if data['nino'] %}
                                {{data['nino']}}
                              {% else %}
                                XX 12 34 56
                              {% endif %}

                            </span>
          </h1>
        </div>

  </div>
</div>
