<div class="moj-identity-bar">
  <div class="moj-identity-bar__container">
    <div class="moj-identity-bar__details">
      <span class="moj-identity-bar__title"><b>
        {% if data['nino'] === 'MB 22 41 44 C' %}
        Carmel Bouvet
        {% endif %}
        {% if data['nino'] === 'AX 04 99 84 C' %}
            Olivia Christie
        {% elseif data['nino'] === 'JH 34 66 19 D' %}
        Asim Picket
        {% endif %}</b></span>
    </div>
    <div class="moj-identity-bar__details">
      <span class="moj-identity-bar__title">
        <a href="find" class="govuk-link">Start again</a>
      </span>
    </div>
  </div>
</div>
