{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Address tags</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <strong class="govuk-tag govuk-tag--turquoise">
    Commercial
    </strong>
    <br>
    <br>
    <strong class="govuk-tag govuk-tag--blue">
    Residential
    </strong>
  </div>
  <div class="govuk-grid-column-one-third">
    <strong class="govuk-tag govuk-tag--pink">
    Care home
    </strong>
    <br>
    <br>
    <strong class="govuk-tag govuk-tag--purple">
    Hospital
    </strong>
  </div>
  <div class="govuk-grid-column-one-third">
    <strong class="govuk-tag govuk-tag--grey">
    Prison
    </strong>
    <br>
    <br>
    <strong class="govuk-tag govuk-tag--yellow">
    PO box
    </strong>
  </div>
</div>

    </div>

</div>

</main>
</div>

{% endblock %}
