{% extends "layout.html" %}

{% block header %}
{% include './_header_find.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Find someone</h1>


        <form method="post">
          <div class="govuk-form-group">
            <label class="govuk-label" for="nino">
              National Insurance number
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="nino" name="nino" type="nino" aria-describedby="nino-hint">
          </div>

          <button type="submit" class="govuk-button">
            Find
          </button>

        </form>



        </div>

      </div>

    </div>
    </main>
    </div>

    {% endblock %}
