{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h2 class="govuk-heading-xl">Alex Smith<br>
          <span class="govuk-caption-xl"> {{data.nino}} </span>
          <span class="app-c-tag">Receiving Winter Fuel Payment</span>
        </h2>

            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">

                <h1 class="govuk-heading-l">Check answers</h1>


                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data.address %}
                      {{data.address.split(', ').join('<br />') | safe}}
                      <br>
                      {{data.postcode}}
                      {% else %}
                      <p>27 Kent Street<br>
                      Amble<br>
                      NE65 0LZ
                      </p>
                      {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden">Address</span>
                      </a>
                    </dd>
                  </div>


                  {% if data['moveday'] %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Move date
                    </dt>
                    <dd class="govuk-summary-list__value">
                      1 May 2019
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> date of birth</span>
                      </a>
                    </dd>
                  </div>
                  {% endif %}


                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Occupants
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Nobody else over State Pension age
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> date of birth</span>
                      </a>
                    </dd>
                  </div>
                </dl>

              </fieldset>

              <button type="submit" class="govuk-button">
                Change details
              </button>

            </div>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
