{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_blue_bar.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form method="post">

          {% include './_bar_3.html' %}

          {{ govukBackLink({
                            text: "Back",
                            href: "javascript:history.go(-1)"
                          }) }}

          <br>
          <br>

          <form method="post">

            <h2 class="govuk-heading-l">Verify an address</h2>

            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Unverified address</th>
                  <td class="govuk-table__cell govuk-!-width-one-half">
                    Sycamore Lodge<br>
                    No<br>
                    Okside<br>
                    Sunderland</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mobile number</th>
                  <td class="govuk-table__cell">07771 900 900</td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-m">Select a verified address</h2>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="address-fix" name="address-fix-3" type="radio" value="27 Victoria Road, FALKIRK, FK55 0LZ">
                    <label class="govuk-label govuk-radios__label" for="address">
                      <strong>Sycamore Care Centre</strong><br>
                      Sycamore Lodge, Nookside, Sunderland, SR4 8PQ<br>
                      <strong class="govuk-tag">
                        Care or nursing home
                      </strong>
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="address-fix-1" name="address-fix-3" type="radio" value="Address not found">
                    <label class="govuk-label govuk-radios__label" for="address-1">
                      The address cannot be verified
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>





          <br>


      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
