{% extends "layoutindex.html" %}

{% block pageTitle %}
  Winter Fuel Payments
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

                  {# Start of most recent box #}
                  <div class="most-recent">

                    {# Start of prototype write up #}
                    <div class="prototype-write-up">
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                          <dl>
                            <dt class="govuk-heading-s">Date of release</dt>
                            <p>1 August 2018</p>
                            <p>1 August 2018</p>
                          </dl>
                        </div>

                        <div class="govuk-grid-column-one-third">
                          <dl>
                            <dt class="govuk-heading-s">Feature</dt>
                            <p>Search for a citizen</p>
                            <p>Capture citizen details</p>
                          </dl>
                        </div>

                        <div class="govuk-grid-column-one-third">
                          <dl>
                            <dt class="govuk-heading-s">Related stories</dt>
                            <p>SPAY-5</p>
                            <p>SPAY-4</p>
                          </dl>
                        </div>
                      </div>

                      <h3 class="govuk-heading-s">Changes</h3>
                      <p>
                        In this version, we added the search for a citizen functionality and capture citizen payment details.
                      </p>


                      <h3 class="govuk-heading-s">Hypothesis</h3>
                        <p>
                        We will have a complete set of data, will know about all citizens.</p>
                        <p>
                        All journeys (capture citizen details and make payment adjustments) will start with the agent search for the citizen.</p>
                        <p><a href="https://docs.google.com/spreadsheets/d/13FQEHmByVTaXiYRsJaqi10PjlgakglExDjAzcXNyKy0/edit#gid=0">Design hypothesises in more details</a>
                        </p>


                      <h3 class="govuk-heading-s">Research notes</h3>
                      <p>
                        Blah blah blah
                      </p>
                      

                      <a href="/sprint1/search" class="govuk-button govuk-button--start">View prototype</a>
                      <p><a href="/sprint1/searchgsl">View prototype with GSL alert</a></p>
                    </div>
                    {# End of prototype write up #}

                  </div>
                  {# End of most recent box #}


                  <h2 class="govuk-heading-l">All versions</h2>
                  {# Start of hidden panel #}
                  <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Show all versions
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                      
                      {# Start of prototype write up #}
                      <div class="prototype-write-up">
                        <div class="govuk-grid-row">
                          <div class="govuk-grid-column-one-third">
                            <dl>
                              <dt class="govuk-heading-s">Date of release</dt>
                              <dd>14 December 2017</dd>
                            </dl>
                          </div>

                          <div class="govuk-grid-column-one-third">
                            <dl>
                              <dt class="govuk-heading-s">Feature</dt>
                              <dd>Eligibility knockout</dd>
                            </dl>
                          </div>

                          <div class="govuk-grid-column-one-third">
                            <dl>
                              <dt class="govuk-heading-s">Related stories</dt>
                              <dd>JIRA-122</dd>
                            </dl>
                          </div>
                        </div>

                        <h3 class="govuk-heading-s">Changes</h3>
                        <p>
                          ...
                        </p>


                        <h3 class="govuk-heading-s">Hypothesis</h3>
                        <p>
                          If... then... because.
                        </p>


                        <h3 class="heading-small">Research notes</h3>
                        <p>
                          ...
                        </p>

                        <a href="/link-to-prototype" class="govuk-button govuk-button--start">View prototype</a>
                      </div>
                      {# End of prototype write up #}
                      
                      <hr />

                      {# Start of prototype write up #}
                      <div class="prototype-write-up">
                        <div class="govuk-grid-row">
                          <div class="govuk-grid-column-one-third">
                            <dl>
                              <dt class="govuk-heading-s">Date of release</dt>
                              <dd>1 December 2017</dd>
                            </dl>
                          </div>

                          <div class="govuk-grid-column-one-third">
                            <dl>
                              <dt class="govuk-heading-s">Feature</dt>
                              <dd>Payment details</dd>
                            </dl>
                          </div>

                          <div class="govuk-grid-column-one-third">
                            <dl>
                              <dt class="govuk-heading-s">Related stories</dt>
                              <dd>JIRA-121</dd>
                            </dl>
                          </div>
                        </div>

                        <h3 class="govuk-heading-s">Changes</h3>
                        <p>
                          ...
                        </p>


                        <h3 class="govuk-heading-s">Hypothesis</h3>
                        <p>
                          If... then... because.
                        </p>


                        <h3 class="govuk-heading-s">Research notes</h3>
                        <p>
                          ...
                        </p>

                        <a href="/link-to-prototype" class="govuk-button govuk-button--start">View prototype</a>
                      </div>
                      {# End of prototype write up #}

                    </div>
                  </details>
                  {# End of hidden panel #}


    </div>
  </div>
</main>

{% endblock %}

