{% extends "layoutindex.html" %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    {# Start of most recent box #}


    {# Start of prototype write up #}
    <div class="prototype-write-up">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="most-recent">
            {# Start of prototype write up #}
            <h1 class="govuk-heading-m">Underpayment journey v2 - UK</h1>

            <a href="/sprint19/find" class="govuk-button">Start</a>


          {# End of prototype write up #}


        </div>

          {# End of most recent box #}

          <h2 class="govuk-heading-l">Older versions</h2>
          

                {# Start of hidden panel #}
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Sprint 18
              </span>
            </summary>

            {# Start of prototype write up #}

                  <div class="govuk-details__text">
                    {# Start of prototype write up #}
            <h1 class="govuk-heading-m">Underpayment journey - International</h1>

            <a href="/sprint18c/find" class="govuk-button">Start</a>

            <h2 class="govuk-heading-m">Underpayment journey - UK </h2>

            <a href="/sprint18b/find" class="govuk-button">Start</a>

<h3 class="govuk-heading-m">General enquiries and changes</h3>

<a href="/sprint18/find" class="govuk-button">Start</a>

                  </div>

              {# End of prototype write up #}

          </details>
                      
                      {# Start of hidden panel #}
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Sprint 15-17
              </span>
            </summary>

            {# Start of prototype write up #}

                  <div class="govuk-details__text">
                    {# Start of prototype write up #}
                    <h2 class="govuk-heading-m">International claim capture</h2>
                    <h3 class="govuk-heading-s"> Version 1</h3>
                    <p>First version of new international claim capture. Claimant has made no previous claims for Winter Fuel, State Pension, or any other benefit. Therefore the agent has to manually input all data.</p>
                    <a href="sprint15/international/" class="govuk-button">Start now</a>

                    <h3 class="govuk-heading-s"> Version 1.1</h3>
                    <p>Example where NI number pulls through some data. With the option to change the data which has been pre-populated if necessary.
                      <br><br> NI number: QQ123456C
                      <br> name: Benjamin Fischer</p>
                    <a href="/sprint17/" class="govuk-button">Start now</a>

                    <h4 class="govuk-heading-s"> Version 2<h4>
                        <p><strong>Research: </strong>
                          <br>Testing version 1 prototype with international claim agents.
                          <br><br> <strong>Findings:</strong>
                          <br> • Changed the order of questions and placed section names above H1. Also placing ‘knock out’ questions at the beginning
                          <br> • Some agents missed the hint text- so changed it to inset text
                          <br> • Took out check your answers because agents weren’t reading it, instead added ‘recap’ pages for important information to read back to customer e.g nino, address etc
                          <br> • Added ‘preparation’ screen for some groups of questions e.g custody, hospital</p>
                        <a href="/sprint15b/international" class="govuk-button">Start now</a>

                  </div>

              {# End of prototype write up #}

          </details>
          {# Start of hidden panel #}

          {# Start of hidden panel #}
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Sprint 10
              </span>
            </summary>

            {# Start of prototype write up #}
            <div class="govuk-details__text">
              <h3 class="govuk-heading-s">In-payment citizen record</h3>
              <a href="/sprint10/ab123456c-overview">Alex Smith AB123456C</a>
              <p></p>
              <h3 class="govuk-heading-s">Cancel my Winter Fuel</h3>
              <a href="/development/start">Public-facing opt-out concept v1</a>


              {# End of prototype write up #}

            </div>
          </details>
          {# Start of hidden panel #}

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Sprint 3-9
              </span>
            </summary>
            <div class="govuk-details__text">

              {# Start of prototype X write up #}
              <div class="prototype-write-up">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Date of release</dt>
                      <p>31 Oct 2018</p>
                      <p>31 Oct 2018</p>
                      <p></p>

                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Feature</dt>
                      <p>Search for a citizen</p>
                      <p>Verify date of birth</p>



                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Related stories</dt>
                      <p>SPAY-5</p>
                      <p>?????</p>
                      <p></p>


                    </dl>
                  </div>
                </div>




                <h3 class="govuk-heading-s">Changes</h3>
                <p>
                  Added an extra step in the search so citizen's info won't be retuned straight away if the agent types in the wrong NINO. </p>
                <p>Task pattern to help agents understand what steps they need to complete to process a payment.</p>



                <p>Julia Finch QQ123456C</p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>Date of birth not verified</li>
                  <li>Bank details needed</li>
                </ul>

                <p>No claimant found ZZ678910C</p>



                <a href="/sprint3/search" class="govuk-button govuk-button--start">View prototype</a>
              </div>

              {# End of prototype write up #}

              <hr />



            </div>
          </details>
          {# End of hidden panel #}

          {# Start of hidden panel #}
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Sprint 2
              </span>
            </summary>
            <div class="govuk-details__text">

              {# Start of prototype write up #}
              <div class="prototype-write-up">
                <div class="govuk-grid-row">




                  {# Start of prototype write up #}

                  <div class="prototype-write-up">
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-third">
                        <dl>
                          <dt class="govuk-heading-s">Date of release</dt>
                          <p>18 Sept 2018</p>
                          <p>18 Sept 2018</p>
                          <p></p>
                          <p>18 Sept 2018</p>

                        </dl>
                      </div>

                      <div class="govuk-grid-column-one-third">
                        <dl>
                          <dt class="govuk-heading-s">Feature</dt>
                          <p>Search for a citizen</p>
                          <p>Capture citizen details</p>

                          <p>Make a Winter Fuel adjustment</p>

                        </dl>
                      </div>

                      <div class="govuk-grid-column-one-third">
                        <dl>
                          <dt class="govuk-heading-s">Related stories</dt>
                          <p>SPAY-5</p>
                          <p>SPAY-4</p>
                          <p></p>
                          <p>SPAY-6</p>

                        </dl>
                      </div>
                    </div>

                    <h3 class="govuk-heading-s">Changes</h3>
                    <p>
                      Following 2 further ideation workshops and usability testing on 17 and 19 Sept we updated the prototype with the <a href="https://drive.google.com/drive/u/1/folders/1eCY5ExMr17_SB7asI_FYmRm-_xfCLajs?ogsrc=32">findings from round
                        1</a> and <a href="https://drive.google.com/drive/u/1/folders/1acplbID3rn_rn9NBkRt3Wh-5S6s2kkmW?ogsrc=32">round 2</a> testing.

                    </p>

                    <p><strong>Journeys prototyped:</strong></p>

                    <p><strong class="app-c-tag app-c-tag--success">Tested</strong></p>

                    <p><a href="https://drive.google.com/open?id=1ho_-8MOyKPsXTbTVv2mdH51p8PCpMpCTSEWsAHAllv8">Entitlement letter</a></p>
                    <p><a href="https://drive.google.com/open?id=1Ekx8Ceq9Bpl-v1XUJoLwycuPXDGZFhRjHxyk5EptClA">Entitlement letter (version only sent once)</a></p>
                    <p><a href="https://drive.google.com/open?id=1JXcJLgBJ3AOtQ93h125CJO-RqAW5k6lsYnYE765niMI">Entitlement letter (no payment details)</a></p>

                    <p>Fred Brown GB123456C</p>

                    <ul class="govuk-list govuk-list--bullet">
                      <li>Add payment details and make payment</li>
                    </ul>

                    <p>Sam Bulmer GB654321C</p>

                    <ul class="govuk-list govuk-list--bullet">
                      <li>Add address and make payment</li>
                    </ul>

                    <p>Ermintrude Brown ZZ654321C</p>

                    <ul class="govuk-list govuk-list--bullet">

                      <li>Top up (Fred has moved out)</li>
                      <li>Top up (Ermintrude has moved to a different address)</li>

                    </ul>

                    <p><strong class="app-c-tag app-c-tag--warning">Ideation workshops</strong></p>

                    <p>Ermintrude Brown ZZ654321C</p>

                    <ul class="govuk-list govuk-list--bullet">


                      <li>Overpayment (Ermintrude was in prison, care home or hospital for Q week)</li>
                      <li>Overpayment (Ermintrude died just before the Q week)</li>
                      <li>Relinquish payment</li>
                    </ul>

                    <p>Bob Smith BG123456C</p>

                    <ul class="govuk-list govuk-list--bullet">
                      <li>Overpayment (Sam moved in prior to Q week)</li>
                    </ul>


                    <h3 class="govuk-heading-s">Hypothesis</h3>


                    <p><a href="https://docs.google.com/spreadsheets/d/13FQEHmByVTaXiYRsJaqi10PjlgakglExDjAzcXNyKy0/edit#gid=0">Design hypothesises in more details</a>
                    </p>


                    <h3 class="govuk-heading-s">Research notes</h3>
                    <p>
                      2 ideation workshops and tested with 5 users on 17 September and 5 users on 19 September.</p>
                    <p> <a href="https://drive.google.com/drive/u/1/folders/1MmEZ6OJG3X3DrIodE-3h9k8OwBFMSoY2"> Research notes</a></p>





                    <a href="/sprint2/search" class="govuk-button govuk-button--start">View prototype</a>
                    <p><a href="/sprint2/searchgsl">View prototype with GSL alert</a></p>
                  </div>

                  {# End of prototype write up #}

                </div>

                {# End of prototype write up #}



              </div>
          </details>
          {# End of hidden panel #}
          {# Start of hidden panel #}
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Sprint 1
              </span>
            </summary>
            <div class="govuk-details__text">

              {# Start of prototype 1 write up #}
              <div class="prototype-write-up">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Date of release</dt>
                      <p>1 August 2018</p>
                      <p>1 August 2018</p>
                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Feature</dt>
                      <p>Search for a citizen</p>
                      <p>Capture citizen details</p>
                    </dl>
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Related stories</dt>
                      <p>SPAY-5</p>
                      <p>SPAY-4</p>
                    </dl>
                  </div>
                </div>

                <h3 class="govuk-heading-s">Changes</h3>
                <p>
                  Following a series of collaberative design sessions with the agents, we created a first draft prototype.

                </p>
                <p>Journeys prototyped:</p>
                <p>Add payment details and make payment (Fred Brown GB1234567C)</p>
                <p>Add address and make payment (Sam Bulmer GB654321C)</p>
                <p>Make a top up (Ermintrude Brown ZZ654321C)



                  <h3 class="govuk-heading-s">Hypothesis</h3>



                  <p><a href="https://docs.google.com/spreadsheets/d/13FQEHmByVTaXiYRsJaqi10PjlgakglExDjAzcXNyKy0/edit#gid=0">Design hypothesises in more details</a>
                  </p>


                  <h3 class="govuk-heading-s">Research notes</h3>
                  <p>
                    Tested with 5 users on the 17 September.</p>
                  <p> <a href="https://drive.google.com/drive/u/1/folders/1eCY5ExMr17_SB7asI_FYmRm-_xfCLajs?ogsrc=32"> Research notes</a></p>





                  <a href="/sprint1/search" class="govuk-button govuk-button--start">View prototype</a>
                  <p><a href="/sprint1/searchgsl">View prototype with GSL alert</a></p>
              </div>

              {# End of prototype write up #}

              <hr />



            </div>
          </details>
          {# End of hidden panel #}


        </div>
  </main>
</div>


{% endblock %}
