{% extends "layout.html" %}

{% block header %}
{% include './_header-prototypes.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<div class="govuk-width-container">

  <h1 class="govuk-heading-xl">
    Prototype
  </h1>

  <main class="govuk-main-wrapper">
    <div class="prototype-write-up">
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds"">
                  <h2 class=" govuk-heading-l">Sprint 37</h2>
        </div>

        <div class="govuk-grid-column-one-half"">
            <h5 class=" govuk-heading-m">International claims</h5>
          <div class="app-most-recent">
            {% include 'notes/sprint37-international.html' %}
          </div>

          <br>

          <h5 class=" govuk-heading-m">Online eligibility checker</h5>
          <div class="app-most-recent">
            {% include 'notes/wf-sprint35e.html' %}
          </div>
          <br>
        </div>

        <div class="govuk-grid-column-one-half"">
          <h5 class=" govuk-heading-m">Record view</h5>
          <div class="app-most-recent">
            {% include 'notes/wf-sprint35d.html' %}
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
