{% extends "layout.html" %}

{% block header %}
  {% include './_header-latest.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<div class="govuk-width-container">

  <h1 class="govuk-heading-xl">
Latest versions
  </h1>

  <main class="govuk-main-wrapper">
    <div class="prototype-write-up">
      <div class="govuk-grid-row">

                <div class="govuk-grid-column-full"">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <section class="key-details-bar-pink" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-pink__key-details">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-4"><a href="/sprint32c/manage-jobs3">Manage things</a></h2>
              </dl>
            </section>
          </div>
          <div class="govuk-grid-column-one-half">
            <section class="key-details-bar-purple" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-purple__key-details">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Eligibility and referral</h2>
                <a href="/sprint24/query" class="govuk-link govuk-!-font-size-19">Under 80</a><br>
                <a href="/sprint24b/query" class="govuk-link govuk-!-font-size-19">Over 80</a>
              </dl>
            </section>
          </div>
    </div>

    <br>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <section class="key-details-bar-orange" role="contentinfo" aria-label="Key details">
          <dl class="key-details-bar-orange__key-details">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-4"><a href="/sprint35b/date-of-birth">New claims</a></h2>
          </dl>
        </section>
      </div>
      <div class="govuk-grid-column-one-half">
        <section class="key-details-bar-turquoise" role="contentinfo" aria-label="Key details">
          <dl class="key-details-bar-turquoise__key-details">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-4"><a href="/sprint35/verify-address">Data matching</a></h2>
          </dl>
        </section>
      </div>
</div>

<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <section class="key-details-bar-light-purple" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar-light-purple__key-details">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-4"><a href="/sprint32e/find">View a record</a></h2>
      </dl>
    </section>
  </div>
</div>



    </div>

  </main>
</div>

{% endblock %}
