{% extends "layout.html" %}

{% block header %}
  {% include './_header-latest.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<div class="govuk-width-container">

  <h1 class="govuk-heading-xl">
Latest versions
  </h1>

  <main class="govuk-main-wrapper">
    <div class="prototype-write-up">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"">

          <details class=" govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text govuk-!-font-size-24">
                <b> Manage things</b>
              </span>
            </summary>
            <div class="govuk-details__text">
              <div class="app-most-recent">
                {% include 'notes/data-3.html' %}
              </div>
          </details>

          <details class=" govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text govuk-!-font-size-24">
                <b>Eligibility check and referral</b>
              </span>
            </summary>

            <div class="app-most-recent">
              {% include 'notes/G4S-3.html' %}
            </div>
          </details>

          <details class=" govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text govuk-!-font-size-24">
                <b>New claims</b>
              </span>
            </summary>
            <div class="govuk-details__text">
              <div class="app-most-recent">
                {% include 'notes/newclaims-2.html' %}
              </div>
          </details>

          <details class=" govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text govuk-!-font-size-24">
                <b>Data matching</b>
              </span>
            </summary>
            <div class="govuk-details__text">
              <div class="app-most-recent">
                {% include 'notes/wf-sprint35.html' %}
              </div>
          </details>




        </div>
  </main>
</div>

{% endblock %}
