{% extends "layout.html" %}

{% block header %}
  {% include './_header-latest.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<div class="govuk-width-container">

  <h1 class="govuk-heading-xl">
Latest versions
  </h1>

  <main class="govuk-main-wrapper">
    <div class="prototype-write-up">
      <div class="govuk-grid-row">

                <div class="govuk-grid-column-full"">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <section class="key-details-bar-red" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-red__key-details">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-0">Data matching</h2>
                <a href="/sprint35/verify-address" class="govuk-link govuk-!-font-size-19">Work queue</a><br>
                <a href="/sprint33c/overview-verify-address" class="govuk-link govuk-!-font-size-19">Record view</a>
              </dl>
            </section>
          </div>
          <div class="govuk-grid-column-one-half">
            <section class="key-details-bar-light-purple" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-light-purple__key-details">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-">View a record</h2>
                <a href="/sprint35c/find" class="govuk-link govuk-!-font-size-19">Normal view</a><br>
                <a href="/sprint35d/ineligible" class="govuk-link govuk-!-font-size-19">Ineligible views</a>
              </dl>
            </section>
          </div>
    </div>

<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <section class="key-details-bar-turquoise" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar-turquoise__key-details">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-4"><a href="/sprint35e/end-pages-index">Eligibility and referral</a></h2>
      </dl>
    </section>
  </div>
  <div class="govuk-grid-column-one-half">
    <section class="key-details-bar-pink" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar-pink__key-details">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-4"><a href="/sprint32c/manage-jobs3">Manage things</a></h2>
      </dl>
    </section>
  </div>
</div>

<br>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">
    <section class="key-details-bar-orange" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar-orange__key-details">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-4"><a href="/sprint37-international/application-type">International new claims</a></h2>
        <p>Use <strong>1960</strong> as date for <strong>too young postal journey</strong>
        <br>Use <strong>1959</strong> as date for <strong>too young phone journey</strong><br>
        Use <strong>AB 12 34 57</strong> for <strong>already getting WF</strong></p>
      </dl>
    </section>
  </div>

  <div class="govuk-grid-column-one-half">
    <section class="key-details-bar-purple" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar-purple__key-details">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-4"><a href="/sprint35b/type-of-application">UK new claims</a></h2>
      </dl>
    </section>
  </div>

</div>



    </div>

  </main>
</div>

{% endblock %}
