{% extends "layout.html" %}

{% block header %}
{% include './_header-previous.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}



<div class="govuk-width-container">

  <h1 class="govuk-heading-xl">
    Previous iterations
  </h1>

  <main class="govuk-main-wrapper">
    <div class="prototype-write-up">
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-full"">

        <div class=" govuk-grid-row">
          <div class="govuk-grid-column-full">
            <section class="key-details-bar-light-blue" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-light-blue__key-details">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-0">Winter Fuel Agent</h2>
            </section>
            <br>
          </div>
          <br>

          <div class="govuk-grid-column-one-third">
            <strong class="govuk-tag">
              New claims
            </strong>

            <br>
            <br>


            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text govuk-!-font-size-19">
                  <b>  UK new claims </b>
                </span>
              </summary>
              <div class="govuk-details__text">
            </details>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text govuk-!-font-size-19">
                  <b>  International new claims </b>
                </span>
              </summary>
              <div class="govuk-details__text">
                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Sprint 43
                    </span>
                  </summary>
                  <div class="app-most-recent">
                      {% include 'notes/wf-sprint43.html' %}
                  </div>
                </details>

                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Sprint 42
                    </span>
                  </summary>
                  <div class="app-most-recent">
                      {% include 'notes/wf-sprint39b.html' %}
                  </div>
                  <div class="app-most-recent">
                  {% include 'notes/wf-sprint42c.html' %}
                  </div>
                </details>
            </details>




            <br>
            <br>
          </div>
          <div class="govuk-grid-column-one-third">
            <strong class="govuk-tag">
              View a record
            </strong>


            <br>
            <br>
          </div>
          <div class="govuk-grid-column-one-third">
            <strong class="govuk-tag">
              Get a task
            </strong>

            <br>
            <br>
          </div>




          <div class="govuk-grid-column-full">
            <section class="key-details-bar-dark-blue" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-dark-blue__key-details">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-">G4S Agent</h2>
              </dl>
            </section>

            <br>
          </div>


          <div class="govuk-grid-column-one-half">
                <strong class="govuk-tag app-c-tag--warning">
                  Eligibility & referral
                </strong>
              </div>
            <br>
            <br>
          <div class="govuk-grid-column-one-half">
                <strong class="govuk-tag app-c-tag--warning">
                  View a record
                </strong>

            <br>
            <br>
          </div>


          <div class="govuk-grid-column-full">
            <section class="key-details-bar-purple" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-purple__key-details">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-">Winter Fuel Dev team</h2>
              </dl>
            </section>

            <br>

            <section class="key-details-bar-purple" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-purple__key-details">
                <strong class="govuk-tag app-c-tag--purple">
                  Manage things
                </strong>




              </dl>
            </section>

            <br>
            <br>

            <section class="key-details-bar-light-purple" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-light-purple__key-details">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-">GOV.UK</h2>
              </dl>
            </section>

            <br>

            <section class="key-details-bar-light-purple" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-light-purple__key-details">
                <strong class="govuk-tag app-c-tag--otherpurple">
                  Eligibility
                </strong>






            </section>

          </div>

        </div>
      </div>

      <br>

    </div>





</div>

</main>
</div>

{% endblock %}
