{% extends "layout.html" %}

{% block header %}
{% include './_header-previous.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}



<div class="govuk-width-container">

  <h1 class="govuk-heading-xl">
    Previous iterations
  </h1>

  <main class="govuk-main-wrapper">
    <div class="prototype-write-up">
      <div class="govuk-grid-row">


        <div class=" govuk-grid-row">
          <div class="govuk-grid-column-full">
            <section class="key-details-bar-light-blue" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-light-blue__key-details">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-0">Winter Fuel UK Agent</h2>
            </section>
            <br>
            <br>

            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      New claims
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 40
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-sprint37.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 34
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/newclaims-1.html' %}
                    </div>
                  </details>
                </div>
              </div>
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                      View a record
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 41
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-sprint37b.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 37
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-sprint35d.html' %}
                    </div>
                  </details>


                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 33
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-sprint33.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 32
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-sprint32.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 31
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-sprint31.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 30
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-team-3.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 28
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-team-2.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 26
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-team.html' %}
                    </div>
                  </details>
                </div>
              </div>
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                      Get a task
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 41
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-sprint39.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 34
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/fix-address-1.html' %}
                    </div>
                  </details>
                </div>
              </div>
            </div>

          </div>


          <div class="govuk-grid-column-full">
            <section class="key-details-bar-light-blue" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-light-blue__key-details">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-0">Winter Fuel International Agent</h2>
            </section>

            <br>
            <br>

            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      New claims
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 43
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-sprint43.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 42
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-sprint39b.html' %}
                    </div>
                    <div class="app-most-recent">
                      {% include 'notes/wf-sprint42c.html' %}
                    </div>
                  </details>



                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 41
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-sprint42b.html' %}
                    </div>
                  </details>


                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 37
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-sprint37-international.html' %}
                    </div>
                  </details>
                </div>
              </div>
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                      View a record
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                  <p class='govuk-body'>This is the content for Writing well for specialists.</p>
                </div>
              </div>

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                      Get a task
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                  <p class='govuk-body'>This is the content for Writing well for specialists.</p>
                </div>
              </div>



            </div>
          </div>

          <div class="govuk-grid-column-full">
            <section class="key-details-bar-dark-blue" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-dark-blue__key-details">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-">G4S Agent</h2>
              </dl>
            </section>

            <br>
            <br>

            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      Eligibility & referral
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 40
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/wf-sprint39c.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 32
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/G4S-4.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 24
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/G4S-3.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 23
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/G4S-2.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 22
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/G4S.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 21
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/check-eligibility-2.html' %}
                    </div>
                  </details>

                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Sprint 20
                      </span>
                    </summary>
                    <div class="app-most-recent">
                      {% include 'notes/check-eligibility-1.html' %}
                    </div>
                  </details>
                </div>
              </div>
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                      Record view
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                  <p class='govuk-body'>This is the content for Writing well for specialists.</p>
                </div>
              </div>





              <div class="govuk-grid-column-full">
                <section class="key-details-bar-purple" role="contentinfo" aria-label="Key details">
                  <dl class="key-details-bar-purple__key-details">
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-">Winter Fuel Dev team</h2>
                  </dl>
                </section>

                <br>

                <section class="key-details-bar-purple" role="contentinfo" aria-label="Key details">
                  <dl class="key-details-bar-purple__key-details">
                    <strong class="govuk-tag app-c-tag--purple">
                      Manage things
                    </strong>

                    <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Sprint 31
                        </span>
                      </summary>
                      <div class="app-most-recent">
                        {% include 'notes/data-2.html' %}
                      </div>
                    </details>

                    <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Sprint 26
                        </span>
                      </summary>
                      <div class="app-most-recent">
                        {% include 'notes/data.html' %}
                      </div>
                    </details>


                  </dl>
                </section>

                <br>
                <br>

                <section class="key-details-bar-light-purple" role="contentinfo" aria-label="Key details">
                  <dl class="key-details-bar-light-purple__key-details">
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-">GOV.UK</h2>
                  </dl>
                </section>

                <br>

                <section class="key-details-bar-light-purple" role="contentinfo" aria-label="Key details">
                  <dl class="key-details-bar-light-purple__key-details">
                    <strong class="govuk-tag app-c-tag--otherpurple">
                      Eligibility
                    </strong>

                    <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Sprint 37
                        </span>
                      </summary>

                      <div class="app-most-recent">
                        {% include 'notes/wf-sprint35e.html' %}
                      </div>

                    </details>




                </section>

              </div>

            </div>
          </div>

          <br>

        </div>





      </div>

  </main>
</div>

{% endblock %}
