{% extends "layout.html" %}

{% block header %}
{% include './_header-prototypes.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">

  <h1 class="govuk-heading-xl">
    Prototyping
  </h1>

  <h2 class=" govuk-heading-l">Sprint 49</h2>

  <main class="govuk-main-wrapper">
    <div class="prototype-write-up">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half"">

          <h5 class=" govuk-heading-m">Record view and task</h5>
          <div class="app-most-recent">
            {% include 'notes/wf-sprint50.html' %}
          </div>

          <br>

          <h5 class=" govuk-heading-m">Task list</h5>
          <div class="app-most-recent">
            {% include 'notes/wf-sprint50c.html' %}
          </div>

        </div>


        <div class="govuk-grid-column-one-half"">

          <h5 class=" govuk-heading-m">Record view</h5>
          <div class="app-most-recent">
            {% include 'notes/wf-sprint49.html' %}
          </div>

          <br>

          <h5 class=" govuk-heading-m">Record view</h5>
          <div class="app-most-recent">
            {% include 'notes/wf-sprint51.html' %}
          </div>

        </div>


        <details class=" govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              To sort out
            </span>
          </summary>

          <div class="govuk-grid-column-one-half"">

            <h5 class=" govuk-heading-m">Task</h5>
            <div class="app-most-recent">
              {% include 'notes/wf-sprint46b.html' %}
            </div>


            <h5 class=" govuk-heading-m">Manage things</h5>
            <div class="app-most-recent">
              {% include 'notes/wf-sprint46d.html' %}
            </div>


            <h5 class=" govuk-heading-m">Task</h5>
            <div class="app-most-recent">
              {% include 'notes/wf-sprint46c.html' %}
            </div>


        <h5 class=" govuk-heading-m">International</h5>
            <div class="app-most-recent">
              {% include 'notes/wf-sprint45.html' %}
            </div>

            <h5 class=" govuk-heading-m">Task lists</h5>
            <div class="app-most-recent">
              {% include 'notes/wf-sprint43b.html' %}
            </div>
          </div>

          <div class="govuk-grid-column-one-half"">

                    <h5 class=" govuk-heading-m">New claims</h5>
            <div class="app-most-recent">
              {% include 'notes/wf-sprint41b.html' %}
            </div>

            <br>

            <h5 class=" govuk-heading-m">GOV.UK eligibility</h5>
            <div class="app-most-recent">
              {% include 'notes/wf-sprint46.html' %}
            </div>
          </div>

          </details>


        </div>



      </div>



  </main>
</div>

{% endblock %}
