{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {{ govukBackLink({
              text: "Back",
              href: "javascript:history.go(-1)"
            }) }}

          <div class="govuk-form-group">

            <div class="govuk-panel govuk-panel--confirmation">
              <div class="govuk-panel__body">
                <strong>You qualify for a Winter Fuel Payment of £200</strong>
              </div>
            </div>

            <br>

          <p>You qualify for £200 because you:</p>

             <ul class="govuk-list govuk-list--bullet">
               <li>are under 80</li>
               <li>do not live with anyone over State Pension age</li>               </ul>

           <h3 class="govuk-heading-m">Make a claim</h3>
           <p>Make a claim by calling the Winter Fuel Payment Centre.</p>
           <h3 class="govuk-heading-s">Winter Fuel Payment Centre</h3>
           <p><b>Telephone: </b>0800 731 0160<br>
              <b>Textphone:</b> 0800 731 0464<br>
              Monday to Friday, 8am to 6pm</p>

           <h3 class="govuk-heading-m">What happens next</h3>
           <p>Your payment will be made in November or December.</p>
           <p>Once you have received a Winter Fuel Payment you'll continue to get a payment every year without having to make another claim.</p>

           <h3 class="govuk-heading-m">Changes of circumstance</h3>
           <p>Your entitlement may be affected if your circumstances change, such as:</p>
           <ul class="govuk-list govuk-list--bullet">
             <li>moving house or there is a change to who you live with</li>
             <li>being in hospital for more than 52 weeks</li>
             <li>moving into a care home</li>
           </ul>

           </form>
          </div>
      </div>
    </div>

</main>
</div>

{% endblock %}
