{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

{% include './_bar.html' %}

{% include './_tab-overview.html' %}

</br>

        <div>
          <a href="overview" class="govuk-back-link">Back</a>
        </div>

</br>

        <h1 class="govuk-heading-l">Change marital status</h1>
        <form method="post">
          <div class="govuk-form-group">

            <p>Select new marital status</p>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="marital-status-1" name="maritalstatus" type="radio" value="Married">
                  <label class="govuk-label govuk-radios__label" for="marital-status-1">
                    Married
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="marital-status-2" name="maritalstatus" type="radio" value="Civil-partnership">
                  <label class="govuk-label govuk-radios__label" for="marital-status-2">
                    In a civil partnership
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="marital-status-3" name="maritalstatus" type="radio" value="Widowed">
                  <label class="govuk-label govuk-radios__label" for="marital-status-3">
                    Widowed
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="marital-status-4" name="maritalstatus" type="radio" value="Divorced">
                  <label class="govuk-label govuk-radios__label" for="marital-status-4">
                    Divorced
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="marital-status-5" name="maritalstatus" type="radio" value="Dissolved-civil">
                  <label class="govuk-label govuk-radios__label" for="marital-status-5">
                    Dissolved civil partnership
                  </label>
                </div>
              </div>

          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>


      </div>

    </div>

  </div>

</div>

</main>        </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
