{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


          <h1 class="govuk-heading-xl">
            Send to debt management<br>
          </h1>
          <p> Are you sure... send overpayment to debt management?
          </p>

        <form method="post">
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Send
        </button>
        </form>


      </div>
    </div>
  </main>




</div>

</div>

</div>

</main>
</div>

{% endblock %}
