{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


          <h1 class="govuk-heading-xl">
            Make payment<br>
          </h1>

          <table class="govuk-table">
            <caption class="govuk-table__caption">Payment amount</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Top up payment</td>
                <td class="govuk-table__cell">£100</td>
              </tr>
            </tbody>
          </table>

          <p>*Payment will be made to the bank account we hold on record* </p>

        <form method="post">
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          *Make payment*
        </button>
        </form>


      </div>
    </div>
  </main>




</div>

</div>

</div>

</main>
</div>

{% endblock %}
