{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_name_bar.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-width">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
          }) }}

        <br>
        <br>
        <form method="post">
          <h1 class="govuk-heading-xl">Check answers</h1>

          <h2 class="govuk-heading-m">Personal details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                Piazza Giuseppe Garibaldi 76<br>
                Pieveottoville<br>
                Parma<br>
                43010<br>
                Italia<br>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                When did you move in to that address?
              </dt>
              <dd class="govuk-summary-list__value">
                1 June 2008
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is there anyone else living there who was born on or before 5 April 1954?
              </dt>
              <dd class="govuk-summary-list__value">
                                {{data.livingwith}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">  If anyone else in the household gets a Winter Fuel Payment, when did they last get it?
              </dt>
              <dd class="govuk-summary-list__value">
                {{data.paymentmonth}} {{data.paymentyear}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What are your contact details?
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Home Phone: {{data.homephone}}</p>
                <p class="govuk-body">Email: {{data.email}}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Bank or building society details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Type of account
              </dt>
              <dd class="govuk-summary-list__value">
                Bank account outside the UK
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="bank-details">
                  Change<span class="govuk-visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name on the account
              </dt>
              <dd class="govuk-summary-list__value">
                {{data.nameaccount}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="bank-details">
                  Change<span class="govuk-visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                BIC or SWIFT code
              </dt>
              <dd class="govuk-summary-list__value">
                BITAITR1
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> licence type</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                IBAN
              </dt>
              <dd class="govuk-summary-list__value">
                {{data.iban}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> home address</span>
                </a>
              </dd>
            </div>
          </dl>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>



      </div>

    </div>

</div>
</main>
</div>

{% endblock %}
