{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_name_bar.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
          }) }}

        <br>
        <br>

        <form method="post">

                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="international-work-conditional-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            Have you ever worked outside of the UK?
                        </legend>
                        <br>
                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="international-work-conditional" name="international-work" type="radio" value="yes" data-aria-controls="conditional-international-work-conditional">
                            <label class="govuk-label govuk-radios__label" for="international-work-conditional">
                              Yes
                            </label>
                          </div>

                          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-international-work-conditional">
                            <p>We need the <b>countries you worked in</b> and the <b>start and end dates</b> for each work period.</p>

                            <div class="govuk-form-group">
                              <label class="govuk-label" for="more-detail">
                                Details
                              </label>
                              <textarea class="govuk-textarea" id="workoutside" name="workoutside" rows="5" aria-describedby="more-detail-hint"></textarea>
                            </div>
                          </div>

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="international-work-conditional-2" name="international-work" type="radio" value="no" data-aria-controls="conditional-international-work-conditional-2">
                            <label class="govuk-label govuk-radios__label" for="international-work-conditional-2">
                              No
                            </label>
                          </div>

                        </div>
                      </fieldset>
                    </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>



      </div>

    </div>

</div>
</main>
</div>

{% endblock %}
