{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_name_bar.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
          }) }}

        <br>
        <br>

        <form method="post">

          <h1 class="govuk-heading-xl">About working outside the UK</h1>

          <div class="govuk-form-group">
            <label class="govuk-label" for="more-detail">
              What countries did you work in and when did you work there? <br>(this is longest time period at the moment but think it's worth asking for all?)
            </label>
            <span id="more-detail-hint" class="govuk-hint">
              For example, France 7 8 2019 to 4 2 2020
            </span>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="15" aria-describedby="more-detail-hint"></textarea>
          </div>


          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>



      </div>

    </div>

</div>
</main>
</div>

{% endblock %}
