{% extends "layoutsearch.html" %}

{% block page_title %}
Decision
{% endblock %}


{% block header %}
{{ govukHeader({
    homepageUrl: "/",
    serviceName: "Winter fuel international claim",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
<section aria-label="key-details" class="key-details-bar" role="contentinfo"> 
    <dl class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">
            <dd class="key-details-bar__name"> {{data.fullname}} </dd>
            <dd class="key-details-bar__nino"> {{data.ninumber}} </dd>
        </div>
    </dl>
    </section>


{% endblock %}

{% block content %}

<div class="govuk-width-container">

<a href="/sprint15/international/relationship-status" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">Check your answers</h1>

        

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Question
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Answer </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Question
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Answer </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Question
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Answer </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Question
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Answer </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Question
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Answer </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Question
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Answer </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Question
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Answer </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>


          




        
        </dl>

<a href="/sprint15/international/anyone-else-sp.html" class="govuk-button"> Continue </a>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}