{% extends "layoutsearch.html" %}

{% block header %}
{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
<section aria-label="key-details" class="key-details-bar" role="contentinfo"> 
    <dl class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">
            <dd class="key-details-bar__name"> {{data.fullname}} </dd>
            <dd class="key-details-bar__DOB"> DOB: {{data.dobday}} {{data.dobmonth}} {{data.dobyear}} </dd>
        </div>
    </dl>
</section>
{% endblock %}

{% block content %}
 
 <div class="govuk-width-container">

  <a href="/sprint15b/international/worked-in-uk" class="govuk-back-link">Back</a>
 
 <form method=post>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl govuk-!-font-size-36">UK details</span>
                    <h1 class="govuk-heading-xl">Give dates you worked in the UK</h1>
                    
                    <span id="dob-hint" class="govuk-hint">
                      These dates do not have to be exact, but to the best of your knowledge
                </span>
                            <p class="govuk-!-margin-top-6">
                        <strong>From</strong>
                    </p>
                                    <span id="dob-hint" class="govuk-hint">
                                        For example, 12 11 1980
                                    </span>


                                    <div class="govuk-date-input" id="longestar" name="longestarinput">
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="longestar-day">
                                                Day
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="longestarday" name="longestarday" type="number" pattern="[0-9]*">
                                            </div>
                                        </div>


                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="longestar-month">
                                                Month
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="longestarmonth" name="longestarmonth" type="number" pattern="[0-9]*">
                                            </div>
                                        </div>


                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="longestar-year">
                                                Year
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="longestaryear" name="longestaryear" type="number" pattern="[0-9]*">
                                            </div>
                                        </div>
                                    </div>



                                    <p class="govuk-!-margin-top-6">
                        <strong>To</strong>
                    </p>
                                    <span id="dob-hint" class="govuk-hint">
                                        For example, 12 11 1985
                                    </span>


                                    <div class="govuk-date-input" id="longestde" name="longestdeinput">
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="longestde-day">
                                                Day
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="longestdeday" name="longestdeday" type="number" pattern="[0-9]*">
                                            </div>
                                        </div>


                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="longestde-month">
                                                Month
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="longestdemonth" name="longestdemonth" type="number" pattern="[0-9]*">
                                            </div>
                                        </div>


                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="longestde-year">
                                                Year
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="longestdeyear" name="longestdeyear" type="number" pattern="[0-9]*">
                                            </div>
                                        </div> 
<BR>
                                            <button type="submit" class="govuk-button govuk-!-margin-right-1">
                                            Save and continue
                                            </button>

                                            <a href="#" class="govuk-button govuk-button--secondary">
                                            Add another date
                                            </a>
                                        

                                            
                                        </div>  
                                    </div>
                        
                


                </div>
        </div>
            
            


    </main>

</form>
</div>

  {% endblock %}

