{% extends "layoutsearch.html" %}

{% block page_title %}
Decision
{% endblock %}

{% block content %}

<div class="govuk-width-container">

<a href="/sprint15b/international/whattype" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Winter Fuel New Claim</h1>
       
       
          <p> Info about when you were in the UK.</p>
          
          
           <p> <a href="/sprint15b/international/uknational.html" class="govuk-button"> Continue </a></p>



           
    </div>

  </main>
</div>

{% endblock %}