{% extends "layoutsearch.html" %}

{% block header %}
{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
<section aria-label="key-details" class="key-details-bar" role="contentinfo"> 
    <dl class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">
            <dd class="key-details-bar__name"> {{data.fullname}} </dd>
            <dd class="key-details-bar__DOB"> DOB: {{data.dobday}} {{data.dobmonth}} {{data.dobyear}} </dd>
        </div>
    </dl>
</section>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a href="/sprint15/international/property" class="govuk-back-link">Back</a>
 
 
 <form method=post>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl govuk-!-font-size-36">UK details</span>
                    <h1 class="govuk-heading-xl">What is the address?</h1>
                    
                    <p class="govuk-!-margin-top-6">
                        <strong>Postcode</strong>
                    </p>
                    <input class="govuk-input govuk-input--width-20" id="propertyaddress" name="propertyaddress" type="text" autocomplete="name" spellcheck="false">
                    


                    
                </div>
        </div>
            
        
            <button type="submit" class="govuk-button govuk-!-margin-top-5"> Find address</button>


    </main>

</form>
</div>
  {% endblock %}
