{% extends "layout.html" %}

{% block header %}
  {% include './_header.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- {% include './_blue_bar.html' %}  -->
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


                  <form method="post">

                    {% include './_bar.html' %}

                        {{ govukBackLink({
                            text: "Back",
                            href: back
                          }) }}

                        <br>
                        <br>

                        <form method="post">

                              <h2 class="govuk-heading-l">Verify an address</h2>

                              <h2 class="govuk-heading-m">Unverified address</h2>
                              <p>Flat D<br>
                              104 Boundary Lane<br>
                              Hulme<br>
                              Manchester<br>
                              M15 6FD</p>

                              <h2 class="govuk-heading-m">Contact numbers</h2>
                              <p>Home telephone: 01324 800 900<br>
                                 Mobile: 07771 900 900</p>

                              <h2 class="govuk-heading-m">Select a verified address</h2>
                                <div class="govuk-form-group">
                                  <fieldset class="govuk-fieldset">
                                    <div class="govuk-radios">
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="address-fix-1" name="address-fix-1" type="radio" value="104D Boundary Lane, Manchester, M15 6FD">
                                        <label class="govuk-label govuk-radios__label" for="address">
                                          104D Boundary Lane, Manchester, M15 6FD
                                        </label>
                                      </div>
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="address-fix-2" name="address-fix-1" type="radio" value="104A Boundary Lane, Manchester, M15 6FD">
                                        <label class="govuk-label govuk-radios__label" for="address">
                                          104A Boundary Lane, Manchester, M15 6FD
                                        </label>
                                      </div>
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="address-fix-3" name="address-fix-1" type="radio" value="104B Boundary Lane, Manchester, M15 6FD">
                                        <label class="govuk-label govuk-radios__label" for="address">
                                          104B Boundary Lane, Manchester, M15 6FD
                                        </label>
                                      </div>
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="address-fix-4" name="address-fix-1" type="radio" value="104C Boundary Lane, Manchester, M15 6FD">
                                        <label class="govuk-label govuk-radios__label" for="address">
                                          104C Boundary Lane, Manchester, M15 6FD
                                        </label>
                                      </div>
                            <!--          <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="address-fix-5" name="address-fix-1" type="radio" value="Address not found">
                                        <label class="govuk-label govuk-radios__label" for="address-3">
                                          Search for another address
                                        </label>
                                      </div>   -->
                                    </div>
                                  </fieldset>
                                </div>

                          <p>  <a href="verify-address-manual-1" class="govuk-link">Search for another address</a> </p>
                          <br>

                          <button type="submit" class="govuk-button">
                            Continue
                          </button>

                        </form>





<br>


      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
