{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_blue_bar.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


                  <form method="post">

                    {% include './_bar_2.html' %}

                        <form method="post">

                          <h2 class="govuk-heading-l">Verify an address</h2>

                          <h2 class="govuk-heading-m">Unverified address</h2>
                          <p>The Beeches<br>
                          Lower Heyford<br>
                          Oxford</p>

                          <h2 class="govuk-heading-m">Contact number</h2>
                          <p><strong>Mobile phone:</strong> 07771 900 900</p>

                              <h2 class="govuk-heading-m">Select a verified address</h2>
                                <div class="govuk-form-group">
                                  <fieldset class="govuk-fieldset">
                                    <div class="govuk-radios">
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="address-fix-1" name="address-fix-2" type="radio" value="27 Victoria Road, FALKIRK, FK55 0LZ">
                                        <label class="govuk-label govuk-radios__label" for="address">
                                          The Beeches<br>
                                          Heyford Road<br>
                                          Steeple Aston<br>
                                          Bicester<br>
                                          OX25 4SN<br>
                                          <strong class="govuk-tag govuk-tag--blue">
                                            Residential
                                          </strong>
                                        </label>
                                      </div>
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="address-fix-2" name="address-fix-2" type="radio" value="Address not found">
                                        <label class="govuk-label govuk-radios__label" for="address">
                                          Search for a different address
                                        </label>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>

                                <p>  <a href="cannot-verify-2" class="govuk-link">This address cannot be verified</a> </p>
                                <br>

                          <button type="submit" class="govuk-button">
                            Continue
                          </button>

                        </form>





<br>


      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
