{% extends "layout.html" %}

{% block header %}
  {% include './_header.html' %}
{% endblock %}

{% block content %}

{{ govukBackLink({
    text: "Back",
    href: back
  }) }}


  <br>
  <br>


<form method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Unverified addresses</h1>

        <h3 class="govuk-heading-l"> 153,653
        <p class="govuk-body govuk-!-font-size-24">cases in total.</p></h3>

        <button class="govuk-button" data-module="govuk-button">
          Verify an address
        </button>

</div>
</div>

</form>


{% endblock %}
