{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">
          {% include './_bar.html' %}

          {% include './_tab-contact.html' %}

          <br>
          <br>

          <table class="govuk-table">
            <h2 class="govuk-heading-m">Residency details</h2>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell">
                  {% if data['address-change'] %}
                  {{data['address-change'].split(', ').join('<br />') | safe }}
                  {% elif data.address %}
                  {{data.address.split(', ').join('<br />') | safe}}
                  {% else %}
                  78 Graham Road<br>
                  Chelsham<br>
                  CR6 9ND
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="address">
                    Change
                    <span class="govuk-visually-hidden">Change address</span>
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Occupancy details</th>
                <td class="govuk-table__cell">
                  {% if data['living-with'] %}
                  {{data['living-with']}}
                  {% else %}
                  Lives with someone of State Pension age
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="address">
                    Change
                    <span class="govuk-visually-hidden">Change address</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <br>

          <table class="govuk-table">
            <h2 class="govuk-heading-m">Contact details</h2>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Correspondence address</th>
                <td class="govuk-table__cell">
                  {% if data['address-change'] %}
                  {{data['address-change'].split(', ').join('<br />') | safe }}
                  {% elif data.address %}
                  {{data.address.split(', ').join('<br />') | safe}}
                  {% else %}
                  78 Graham Road<br>
                  Chelsham<br>
                  CR6 9ND
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="address">
                    Change
                    <span class="govuk-visually-hidden">Change address</span>
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Home telephone</th>
                <td class="govuk-table__cell">
                  {% if data['homephone-remove'] === 'Yes' %}
                  {% elseif data.homephone %}
                  {{data.homephone}}
                  {% else %}
                  01665 720 871
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="homephone">
                    Change
                    <span class="govuk-visually-hidden">Change home phone number</span>
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Mobile</th>
                <td class="govuk-table__cell">
                  {% if data.mobilenumber %}
                  {{data.mobilenumber}}
                  {% endif %}
                  {% if data['mobilephone-remove'] === 'Yes' %}
                  {% elseif data.mobilephone %}
                  {{data.mobilephone}}
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="mobilephone">
                    {% if not data.mobilenumber %}
                    Add<span class="govuk-visually-hidden"> mobile number</span>
                    {% else %}
                    Change<span class="govuk-visually-hidden"> mobile number</span>
                    {% endif %}
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Work telephone</th>
                <td class="govuk-table__cell">
                  {% if data.worknumber %}
                  {{data.worknumber}}
                  {% endif %}
                  {% if data['workphone-remove'] === 'Yes' %}
                  {% elseif data.workphone %}
                  {{data.workphone}}
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="workphone">
                    {% if not data.worknumber %}
                    Add<span class="govuk-visually-hidden"> work number</span>
                    {% else %}
                    Change<span class="govuk-visually-hidden"> work number</span>
                    {% endif %}
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email address</th>
                <td class="govuk-table__cell">
                  {% if data['email-remove'] === 'Yes' %}
                  {% elseif data.email %}
                  {{data.email}}
                  {% else %}
                  mary234@hotmail.com
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <a href="email">
                    Change<span class="govuk-visually-hidden">email</span>
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Contact preferences</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">
                  <a href="">
                    {% if not data.contactpreferences %}
                    Add <span class="govuk-visually-hidden">contact preferences</span>
                    {% else %}
                    Change <span class="govuk-visually-hidden">contact preferences</span>
                    {% endif %}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">
          Action history
        </h2>
        <ol class="app-timeline">

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Remove home telephone
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Marriage verified</span>
              <span class="app-timeline__date">
                8 March 2016
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              <a href="history-details" class="govuk-link">Change of residency details</a>
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Marriage verified</span>
              <span class="app-timeline__date">
                8 March 2016
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Change of occupancy details
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Marriage verified</span>
              <span class="app-timeline__date">
                5 July 2013
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Change of home telephone
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Marriage verified</span>
              <span class="app-timeline__date">
                19 January 2009
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              <a href="history-details" class="govuk-link">Change of address</a>
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Marriage verified</span>
              <span class="app-timeline__date">
                18 January 2009
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              <a href="contact-history" class="govuk-link">See full history</a>
            </h3>
          </li>

        </ol>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
