{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {% include './_bar.html' %}

          {{ govukBackLink({
                text: "Back",
                href: back
              }) }}

          <br>
          <br>



          <table class="govuk-table">
            <h2 class="govuk-heading-l">Change of residency details</h2>

            <thead class="govuk-table__head">
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date notified? Change made?</th>
                <td class="govuk-table__cell">8 March 2016</td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>

          <div class="govuk-inset-text">
          Letter sent?<br>
          <a href="#" class="govuk-link">send again?</a>
          </div>

          <h3 class="govuk-heading-m">Changed to</h3>

          <table class="govuk-table">
            <thead class="govuk-table__head">
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell">78 Graham Road<br>
                  Chelsham<br>
                  CR6 9ND</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Move date</th>
                <td class="govuk-table__cell">
                  6 March 2016
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Occupancy details</th>
                <td class="govuk-table__cell">Lives with someone of State Pension age</td>
              </tr>
            </tbody>
          </table>

          <h4 class="govuk-heading-m">Previous info?</h4>


      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
