{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Confirmation and notification sent<br>
        </h1>
        <p> Referral sent to debt management and notification sent to citizen.
        </p>

      <form method="post">
      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Continue
      </button>
      </form>


            </div>
          </div>
        </main>
    </div>

  </div>

</div>

</main>
</div>

{% endblock %}
