{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include './_find-someone.html' %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h2 class="govuk-heading-xl">Alex Smith<br>
          <span class="govuk-caption-xl"> {{data.nino}} </span>
          <span class="app-c-tag">Receiving Winter Fuel Payment</span>
        </h2>

            {% include './_tab-overview.html' %}

            <br>

        <div>
          <dl class="app-check-your-answers app-check-your-answers--short">

            <div class="app-check-your-answers__contents">
              <dd class="app-check-your-answers__answer">
                <h2 class="govuk-heading-m">2018 payment</h2>
              </dd>
              <dd class="app-check-your-answers__answer">
                <strong></strong>
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#"></a>
              </dd>
            </div>


            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__answer">
                Wednesday 30 October 2018
              </dt>
              <dd class="app-check-your-answers__answer">
                £100
              </dd>
              <dd class="app-check-your-answers__change">
              </dd>
            </div>
        </div>

        <div class="govuk-inset-text">
          This amount is based on 1 person living at the
          address who qualifies for winter fuel payment.
        </div>

        <div>
          <dl class="app-check-your-answers app-check-your-answers--short">

            <div class="app-check-your-answers__contents">
              <dd class="app-check-your-answers__answer">
                <h2 class="govuk-heading-m">2019 payment</h2>
              </dd>
              <dd class="app-check-your-answers__answer">
                <strong></strong>
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#"></a>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__answer">
                Wednesday 30 October 2019
              </dt>
              <dd class="app-check-your-answers__answer">
                £100
              </dd>
              <dd class="app-check-your-answers__change">
              </dd>
            </div>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-m">
          Contact history
        </h2>
        <ol class="app-timeline">

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          <a href="top-up-request" class="govuk-link">Top up payment request <br>sent to DWP</a>
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="app-timeline__date">
              8 November 2018
              </span>
            </p>
          </li>

        </ol>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
