{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
          Top up paid and letter sent to the citizen
          </h1>


        <a href="get-underpayment" role="button" draggable="false" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Continue
        </a>

      </div>
    </div>
  </main>




</div>

</div>

</div>

</main>
</div>

{% endblock %}
