{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


          <h1 class="govuk-heading-xl">
            Make payment<br>
          </h1>

          <table class="govuk-table">
            <caption class="govuk-table__caption">Payment amount</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Top up payment</th>
                <td class="govuk-table__cell">£100</td>
              </tr>
            </tbody>
          </table>


          <table class="govuk-table">
            <caption class="govuk-table__caption">Bank account</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Bank or building society</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Account holder</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Account number</th>
                <td class="govuk-table__cell">£109.80 per week</td>
              </tr>
            </tbody>
          </table>

        <p>  <a href="#" class="govuk-link">*Another account? maybe*</a> </p>

        <form method="post">
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          *PAY*
        </button>
        </form>


      </div>
    </div>
  </main>




</div>

</div>

</div>

</main>
</div>

{% endblock %}
